{% extends "../base.html" %} {% block content %}
<style>
    body {
        background-color: gray;
    }
</style>
<br />
<div
    class="container text-center bg-white"
    style="border-radius: 20px; width: 500px"
>
    <br />

    <h2>Send a donation</h2>

    <i class="fa fa-child fa-2x" aria-hidden="true"></i>

    <br />

    {{donation.title}}!

    <br /><br />

    <i class="fa fa-heart fa-2x text-danger" aria-hidden="true"></i>

    <br />
    <br />

    <p>Feel free to send a $5 donation.</p>

    <br />

    <!-- PayPal button container -->
    <div id="paypal-button-container"></div>

    <br />
</div>

<!-- PayPal client ID integration -->

<script
    src="https://www.paypal.com/sdk/js?client-id=Af8I6YyS0NhTDKHvge7FNZVMlq-17Zj974TG7d9oe05b1tRnmOHimajdV5RlW8VrX2DDfjxo0MsAxuk4&currency=USD&intent=capture&enable-funding=venmo"
    data-sdk-integration-source="integrationbuilder"
></script>

<!-- PayPal JS SDK -->

<script>
    var total = "{{donation.amount}}";

    const paypalButtonsComponent = paypal.Buttons({
        // optional styling for buttons
        // https://developer.paypal.com/docs/checkout/standard/customize/buttons-style-guide/
        style: {
            color: "gold",
            shape: "pill",
            layout: "vertical",
        },

        // set up the transaction
        createOrder: (data, actions) => {
            // pass in any options from the v2 orders create call:
            // https://developer.paypal.com/api/orders/v2/#orders-create-request-body
            const createOrderPayload = {
                purchase_units: [
                    {
                        amount: {
                            value: total,
                        },
                    },
                ],
            };

            return actions.order.create(createOrderPayload);
        },

        // finalize the transaction
        onApprove: (data, actions) => {
            const captureOrderHandler = (details) => {
                const payerName = details.payer.name.given_name;
                console.log("Transaction completed");

                window.location.replace("{% url 'donation-success' %}");
            };

            return actions.order.capture().then(captureOrderHandler);
        },

        // handle unrecoverable errors
        onError: (err) => {
            console.error(
                "An error prevented the buyer from checking out with PayPal"
            );

            window.location.replace("{% url 'donation-failed' %}");
        },
    });

    paypalButtonsComponent.render("#paypal-button-container").catch((err) => {
        console.error("PayPal Buttons failed to render");
    });
</script>

{% endblock content %}
