{% extends "main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->
<div class="donate-nav">
    <div class="main">
        <div class="nav">
            <div class="nav__text">
                <h1>Spendenformular<br /></h1>
            </div>
        </div>
    </div>
</div>
<div class="donate-heading">
    <div class="main">
        <div class="heading">
            <div class="heading__text">
                <h1>
                    Unterstützen Sie die Arbeit<br />
                    des LoveAlwaysWins e.v. (LAW)
                </h1>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
