/* ######################## My Font ######################################### */
@import url(../custom/fonts.css);

:root {
    /*      Theme font-family   */
    --Abel: "Abel", cursive;
    --Anton: "Anton", cursive;
    --Josefin: "Josefin", cursive;
    --Lexend: "Lexend", cursive;
    --Livvic: "Livvic", cursive;

    --love: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --text-color: #575e62;
    --text-color-blue: #0081c7;
    --text-color-blue-light: #7dafdf;
    --text-color-white: #ffffff;
    --text-color-subtitel: #d8dcdf;
    --text-color-content: #646469;
    --main-menu-color: #575e62;
    --main-menu-color-active: #a82ca8;
    --footer-nav-color: #fff;
    --main-menu-bg: #ebebeb;
    --header-bg: #ffffff;
    --footer-bg: #373a3b;
    --bg-blue: #0081c7;
    --bg-blue-light: #7dafdf;
    --bg-grey: #b2b2b2;
    --bg-landing-page1: #ffcdb2;
    --bg-landing-page2: #ffb4a2;
    --bg-landing-page3: #e5989b;
    --bg-landing-page4: #b5838d;
    --bg-landing-page5: #6d6875;
}
/* -------------- Global Classes -------------- */
a {
    text-decoration: none;
    color: var(--text-gray);
}

ul {
    list-style-type: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* -------x------ Global Classes ------x------- */
.bg-img {
    /* The image used */
    background-image: url("../../img/new/grafik/Buch-Hintergrund-Banner.jpg");
    margin-top: 0px;
    /* Control the height of the image */
    height: 490px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    position: relative;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
}
body,
html {
    height: 100%;
}
body {
    background: #ffffff;
    font-family: louis_george_caferegular, sans-serif;
    font-size: 100%;
    color: var(--text-color-white);
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    min-width: 120px;
    margin: 0%;
    /* box-sizing: border-box; */
    /* overflow-x: hidden; */
}
img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}
.content-image {
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    /* border: 3px solid #73ad21; */
}
.main ul {
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    font-size: 1.15rem;
}
h1 {
    line-height: 1.2;
    font-size: 1.5rem;
}
h1,
h2,
h3 {
    font-weight: 700;
    margin: 0 0 16px;
}
h2,
h3 {
    font-size: 1.25rem;
}
.content-text h2 {
    font-size: 1.45rem;
}
p {
    font-size: 1.15rem;
    margin: 0 0 16px;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
.header {
    background-color: var(--header-bg);
    height: 200px;
}
.book {
    background-image: url("../../img/new/grafik/Buch-Hintergrund-Banner.jpg");
    height: 490px;
}

.logo {
    left: 10px;
    top: 10px;
    width: 180px;
}
.logo,
.action-button,
.book-image {
    position: absolute;
}
.action-button {
    right: 10px;
    top: 10px;
}
.header-info {
    position: absolute;
    left: 10px;
    top: 130px;
    padding: 2px 10px;
    border: 1px solid var(--bg-blue);
    text-align: center;
}
.header-info span {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}
.header-info a {
    padding: 0 0 0 10px;
}
.main-menu {
    border-top: 1px solid var(--bg-grey);
    /* border-bottom: 10px solid var(--bg-grey); */
    background-color: var(--main-menu-bg);
}
.main-menu_list {
    margin: 0;
    padding: 0;
}
.main-menu_item {
    display: inline-block;
    padding: 0 10px;
}
.main-menu_link {
    color: var(--main-menu-color);
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;
    display: block;
}
.main-menu_link.active,
.main-menu_link:hover {
    color: var(--main-menu-color-active);
}
.titel-content_link {
    position: absolute;
    left: 10px;
    z-index: 2;
    top: 130px;
}
.titel-content_link a {
    background-color: var(--bg-blue);
    padding: 6px 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.bg-image-container,
.bg-image-book {
    position: relative;
}
.bg-image-container:after,
.bg-image-book:after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}
.bg-image-container:after {
    height: 10px;
}

.bg-image-book:after {
    height: 0px;
}
.main-image-about:after,
.main-image:after,
.book-image:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main-image img {
    max-width: none;
    width: 100%;
    height: 100%;
}
.book-image img {
    max-width: none;
    width: 100%;
}
.main-image-50:after {
    background-color: rgba(0, 0, 0, 0.5);
}
.main-image-40:after {
    background-color: rgba(0, 0, 0, 0.4);
}
.main-image-20:after {
    background-color: rgba(0, 0, 0, 0.2);
}
.main-image-10:after {
    background-color: rgba(0, 0, 0, 0.1);
}
.main-image-00:after {
    background-color: rgba(0, 0, 0, 0);
}
.titel-content {
    display: block;
    position: absolute;
    z-index: 1;
    top: 50px;
    padding: 10px;
    max-width: 580px;
}
.titel-hearts {
    display: block;
    position: relative;
    z-index: 1;
    /* top: 10px;
    margin-left: -490px; */

    /* padding: 20px; */
    padding: -50px;
    max-width: 600px;
}
.book-content {
    display: block;
    position: absolute;
    z-index: 1;
    top: 10px;
    padding: 0px;
    max-width: 580px;
}
.book-image {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    padding: 0px;
    max-width: 580px;
}
.titel-content p {
    color: var(--text-color-subtitel);
    margin: 0;
}

.content-text h1,
.content-text p {
    color: #ffffff;
}

.titel-content h1 {
    line-height: 1.1;
    color: #ffffff;
    font-size: 1.7rem;
}
.titel-content p,
.content-text h1 {
    line-height: 1.1;
    font-size: 1.02rem;
    font-weight: 600;
}
.content-text p {
    line-height: 1.1;
    font-size: 0.91rem;
}
.main-text h1 {
    color: #646469;
    font-size: 1.7rem;
}
.main-text p,
.teaser_text p {
    line-height: 1.1;
    color: #646469;
    font-size: 0.7rem;
    /* font-weight: 700; */
    margin: 0;
}

.main {
    margin: 30px 0 0;
}
.container-image-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    margin: 30px 0;
}
.content-text {
    margin-top: 36px;
}
.teaser-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin: 30px 0;
}
.teaser {
    position: relative;
    -webkit-box-shadow: 0 0 20px var(--bg-grey);
    box-shadow: 0 0 20px var(--bg-grey);
}
.teaser:hover .teaser_img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.teaser_img {
    overflow: hidden;
}
.teaser_img img {
    max-width: none;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.book-image img {
    max-width: none;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.card_label {
    background-color: var(--main-menu-color-active);
    color: #ffffff;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 2px 5px;
    font-size: 0.813rem;
    text-transform: uppercase;
    font-weight: 600;
}
.teaser_text {
    padding: 25px;
    min-height: 160px;
}

.teaser-map_text {
    padding: 20px 0;
}
.teaser-map_text h3 {
    color: #fff;
    font-size: 1.5rem;
}
.teaser-map_text p {
    color: #fff;
    font-size: 1.25rem;
}

@media screen and (min-width: 780px) {
    .content-text {
        margin-top: 70px;
    }
    h1,
    h2,
    h3 {
        font-size: 2.25rem;
    }
    .content-text h2 {
        font-size: 1.45rem;
    }
    p {
        font-size: 1.15rem;
    }

    .header {
        height: 167px;
    }
    .book {
        height: 590px;
        /* height: 0rem;
        min-height: 490px; */
    }
    .logo {
        width: auto;
    }
    .logo {
        top: 39px;
    }

    .action-button {
        top: 58px;
    }
    .header-info {
        left: auto;
        right: 200px;
        top: 60px;
        padding: 2px 10px;
    }
    .header-info span {
        font-size: 1rem;
    }
    .header-info a {
        display: block;
        padding: 0;
    }
    .main-menu_list {
        margin: 0 0 0 0px;
    }
    .main-menu {
        height: 52px;
    }
    /* .nav {
        height: 52px;
    } */
    .main-menu_item {
        padding: 0 20px;
    }
    .main-menu_link {
        padding: 14px 0 12px;
    }
    .main-menu_link.active,
    .main-menu_link:hover {
        border-bottom: 6px solid var(--main-menu-color-active);
    }

    .titel-content {
        display: block;
        position: absolute;
        z-index: 1;
        top: 10px;
        padding: 100px;
        max-width: 580px;
    }

    .book-content {
        display: block;
        position: absolute;
        z-index: 1;
        top: 10px;
        padding: 10px;
        max-width: 580px;
    }
    .titel-content h1 {
        color: #ffffff;
        font-size: 2.5rem;
    }
    .titel-content p,
    .content-text h1 {
        font-size: 1.5rem;
    }
    .content-text p {
        font-size: 1.335rem;
    }

    .main-text h1 {
        color: #646469;
        font-size: 2.5rem;
    }
    .main-text p,
    .teaser_text p {
        line-height: 1.1;
        color: #646469;
        font-size: 0.9rem;
        /* font-weight: 700; */
        margin: 0;
    }
    .main {
        margin: 66px 0 0;
    }
    .teaser-container {
        margin: 30px 0 85px;
    }

    .teaser-map_text {
        position: absolute;
        top: 80px;
        padding: 0;
    }
    .teaser-map_text h3,
    .teaser-map_text p {
        font-size: 1.7rem;
    }
    .container-image-text {
        margin: 85px 0;
    }
    .footer-info {
        height: 100px;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-info_item {
        padding: 0;
        margin: 0 40px 0 0;
    }
}
@media screen and (min-width: 1200px) {
    .content-text {
        margin-top: 106px;
    }
    .logo {
        left: 0;
    }
    .action-button {
        right: 0;
    }
    .container {
        padding: 0;
    }

    .titel-content_link {
        display: block;
        position: absolute;
        right: 205px;
        left: auto;
        top: auto;
        z-index: 2;
        bottom: 70px;
    }
    .titel-content_link a {
        background-color: var(--bg-blue);
        padding: 6px 10px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
    .titel-content {
        top: 200px;
        padding: 20px;
    }
    .book-content {
        top: 50px;
        padding: 10px;
    }
    .titel-content h1,
    .main-text h1 {
        font-size: 3.3rem;
    }
    .titel-content p,
    .content-text h1,
    .teaser-map_text h3 {
        font-size: 2rem;
    }
    .content-text p {
        font-size: 1.78rem;
    }

    .main-text p,
    .teaser_text p {
        font-size: 1.2rem;
        color: #646469;
    }
    .teaser-map_text p {
        font-size: 2rem;
    }
    .footer-info_item:last-child {
        margin: 0 0 0 400px;
    }
}
@media screen and (min-width: 1600px) {
    .titel-content {
        top: 300px;
    }

    .book-content {
        top: 106px;
    }
    .book-image {
        top: 0px;
        right: 0px;
    }

    .titel-content_home {
        top: 420px;
    }
}

#navigation li a.current {
    color: #ffffff;
    background: #f1d74c;
}

/* -------- Footer css ------------ */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    background-color: var(--footer-bg);
    /* height: 380px; */
    /* height: 41.9vh; */
    height: 0rem;
    min-height: 380px;
    /* overflow: hidden; */
}

/*-----x--- Nav css ----x-----*/
.footer-nav-link.active,
.footer-nav-link:hover {
    color: var(--main-menu-color-active);
}

.footer-nav {
    padding: 20px 0;
    min-height: 120px;
}

/*  */

.footer-nav .footer-nav-items {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-nav-items .footer-nav-link {
    margin-top: 4.63vh;
    margin-right: 3.5rem;
    /* font-size: 1.98vh;
    color: var(--text-color-white); */
    position: relative;
    font-weight: bold;
}

.footer-nav-link a {
    font-weight: 700;
    color: var(--text-color-white);
    font-size: 1.98vh;
}
/*-----x--- Nav css ----x-----*/

/*--------- Social css ----------*/
.footer-info-social {
    border-top: 1px solid var(--bg-grey);
    border-bottom: 1px solid var(--bg-grey);
    margin-top: 4.63vh;
    /* margin-bottom: 4.63vh; */
}

.footer-info-text span {
    font-size: 1.15rem;
    color: #fff;
}

.footer .footer-info-text {
    margin-top: 4.63vh;
    margin-bottom: 4.63vh;
}

.footer .footer-info-logo {
    margin-top: 3.1vh;
    margin-left: 2rem;
    margin-right: 33.3rem;
}

/* .footer-social-icon img {
    display: inline-block;
    margin: 0 10px;
} */

.footer-social-icons {
    display: flex;
    /* justify-content: flex-end; */
}

.footer-social-icons .footer-social-link {
    /* margin-top: 4.5vh;
    margin: 0 10px; */
    /* margin-left: 58vmin; */
}
.footer-social-link {
    padding: 40px 0px 0px 34px;
}

/*-----x--- Social css ----x-----*/

/*-------- Protection css ---------*/
.footer-info-protection .footer-info-items {
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-info-items .footer-info-link {
    /* padding: 0rem 0rem; */
    margin-top: 4.63vh;
    margin-right: 1rem;
    /* font-size: 1.98vh; */
    position: relative;
    /* font-weight: bold; */
}
.footer-info-link a {
    font-weight: 400;
    color: var(--text-color-white);
    font-size: 1.575vh;
}

.footer .footer-info-contact {
    margin-top: 3vh;
    margin-left: 11rem;
    /* margin-left: 20rem; */
    /* margin-right: 30.2rem; */
    /* display: block; */
}

.footer .footer-info-contact a {
    /* font-size: 1.6rem; */
    margin-top: 1.5vh;
    /* margin-left: 20rem; */
    /* margin-right: 30.2rem; */
    /* display: block; */
}

/*-----x--- Protection css ----x-----*/

/*--------- Landing page css ---------*/
/* .titel-text p {
    font-family: var(--Lexend);
    color: var(--text-color-white);
    font-weight: 500;
    font-size: 3.5vh;
}
.titel-text h1 {
    font-family: var(--Lexend);
    color: var(--text-color-white);
    font-weight: 700;
    font-size: 4vh;
} */

/* we will create two equal columns: */
/* .column {
    float: left;
    width: 50%;
} */

/* we will create two unequal columns: */
.column {
    float: left;
}

.left {
    width: 25%;
}

.right {
    width: 75%;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image-right {
    float: right;
    max-width: 25%;
    height: auto;
    margin-left: 1rem;
}

.image-left {
    float: left;
    max-width: 25%;
    height: auto;
    margin-right: 1rem;
}

.container {
    /* overflow: clip; */
    clip-path: inset(0);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.landingpage {
    background-image: url("../../img/new/grafik/Buch-Hintergrund-Banner.jpg");
    height: 590px;
}

.title-text h1 {
    margin-top: 10rem;
    margin-left: 8rem;
    line-height: 1;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    /* text-align: center; */
}
.title-text p {
    margin-left: 8rem;
    line-height: 1;
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 400;
}
.title-cover a {
    /* margin-top: 1.5vh; */
    /* display: flex; */
    justify-content: center;
}

.info-text,
.video-text p {
    margin-top: 3vh;
    font-family: var(--Abel);
    font-weight: 500;
    font-size: 24px;
    color: var(--bg-landing-page5);
    margin-left: 10px;
}
.order-action-text {
    font-weight: 700;
    font-size: 32px;
}
.order-action-link {
    margin-top: 15vh;
}
.youtube-video {
    display: flex;
    justify-content: center;
}

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.order-text .btn {
    margin: 1.8rem;
    padding: 8px 15px;
    background: var(--sky);
    border-radius: 30px;
    color: whitesmoke;
}

.order-text .btn:hover {
    background: transparent;
    background: #fc036b;
    border: 1px solid var(--bg-landing-page5);
    color: var(--white);
}

.order-shops,
.order-shops-end a {
    /* padding: 8px 50px; */
    margin-left: 10.63rem;
}

/*-----x--- Landing page css ----x-----*/

/* -------------- navbar ------------------- */

.nav {
    /* background: var(--main-menu-bg); */
    background-color: var(--main-menu-bg);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    /* font-size: 1.8vmin;
    text-transform: uppercase;
    font-weight: 700; */
    /* overflow: hidden; */
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}
.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons {
    font-size: 1.7rem;
    counter-reset: var(--text-gray);
}

.collapse {
    /* height: 20rem; */
}

.nav .nav-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    position: relative;
    /* font-weight: bold; */
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover,
.nav-link.active {
    background-color: var(--midnight);
    background-color: var(--bg-landing-page4);
}
/* .main-menu_link.active,
.main-menu_link:hover {
    color: var(--main-menu-color-active);
} */

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0;
}
.nav .social i {
    padding: 0rem 0.2rem;
}

.nav .social i:hover {
    color: #a1c4cf;
}

/* -------x------ navbar -------x----------- */

/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title {
    background: url("../../img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg");
    background-size: cover;
    /* width: 120rem; */
    height: 43.75rem;
    /* width: 1920px;
    height: 700px; */
    /* width: 284.024vh; */
    /* height: 77.178vh; */
    display: flex;
    /* justify-content: center; */
}

main .site-title .site-background {
    padding-top: 10rem;
    /* text-align: center; */
    color: var(--white);
}

main .site-title h1,
h3 {
    margin: 0.3rem;
}

main .site-title .btn {
    margin: 1.8rem;
    background: var(--love);
}

main .site-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --------x------ Site title --------x------- */

/* ------- Viewport less or equal to 750px  ------- */

@media only screen and (max-width: 750px) {
    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}

/* ----x-- Viewport less or equal to 750px  ----x-- */
