
  @font-face {
    font-family: 'Louis George Cafe';
    font-style: normal;
    font-weight: 300;
    src:
    local('Louis George Cafe-Bold') url('../../fonts/louis-george-cafe/LouisGeorgeCafe-Bold.ttf') format('truetype'),
    local('Louis George Cafe-BoldItalic') url('../../fonts/louis-george-cafe/LouisGeorgeCafe-Bold-Italic.ttf') format('truetype'),
    local('Louis George Cafe-Italic') url('../../fonts/louis-george-cafe/LouisGeorgeCafe-Italic.ttf') format('truetype'),
    local('Louis George Cafe-Light') url('../../fonts/louis-george-cafe/LouisGeorgeCafe-Light.ttf') format('truetype'),
    local('Louis George Cafe-LightItalic') url('../../fonts/louis-george-cafe/LouisGeorgeCafe-Light-Italic.ttf') format('truetype'),
    local('Louis George Cafe-Regular') url('../../fonts/louis-george-cafe/LouisGeorgeCafe-Regular.ttf') format('truetype')
    ;
  }

  @font-face {
    font-family: 'DjangoITC';
    font-style: normal;
    font-weight: 300;
    src:url("/static/django-itc-std.otf");
}

h1 {
  font-family: DjangoITC, fantasy;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

.btn {
    border: 1px solid #c0aeae;
    background: none;
    padding: 10px 20px;
    font-size: 15px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
    /* border-radius: 30%;
	box-shadow: 0 5px 15px -5px #00000070; */
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.navbar {
    background: #ff7a59;
    color: #94128a;
    /*font-family:'Courier New', Courier, monospace;*/
    font-family:'Louis George Cafe';
    font-size: 18px;
    font-weight: bold;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}
.font-size-60b {
    color: white;
    /*font-family:'Courier New', Courier, monospace;*/
    font-family:'Louis George Cafe';
    font-size: 60px;
    font-weight: bold;
}
.font-size-36b {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-family:'Louis George Cafe';
    font-size: 36px;
    font-weight: bold;
}
.titeltext2 {
    color: #94128a;
    font-size: 60px;
    font-weight: bold;
}
.font-size-18n {
    color: #94128a;
    font-family:'Courier New', Courier, monospace;
    font-family:'Louis George Cafe';
    font-size: 18px;
    font-weight: normal;
}
.font-size-32n {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: normal;
}
