@font-face {
    font-family: "louis_george_cafebold_italic";
    src: url("../../fonts/webfontkit/louis_george_cafe_bold_italic-webfont.woff2")
            format("woff2"),
        url("../../fonts/webfontkit/louis_george_cafe_bold_italic-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "louis_george_cafebold";
    src: url("../../fonts/webfontkit/louis_george_cafe_bold-webfont.woff2")
            format("woff2"),
        url("../../fonts/webfontkit/louis_george_cafe_bold-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "louis_george_cafeitalic";
    src: url("../../fonts/webfontkit/louis_george_cafe_italic-webfont.woff2")
            format("woff2"),
        url("../.../fonts/webfontkit/louis_george_cafe_italic-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "louis_george_cafe_lightitalic";
    src: url("../.../fonts/webfontkit/louis_george_cafe_light_italic-webfont.woff2")
            format("woff2"),
        url("../../fonts/webfontkit/louis_george_cafe_light_italic-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "louis_george_cafe_lightRg";
    src: url("../../fonts/webfontkit/louis_george_cafe_light-webfont.woff2")
            format("woff2"),
        url("../../fonts/webfontkit/louis_george_cafe_light-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "louis_george_caferegular";
    src: url("../../fonts/webfontkit/louis_george_cafe-webfont.woff2")
            format("woff2"),
        url("../../fonts/webfontkit/louis_george_cafe-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}
:root {
    --text-color: #575e62;
    --text-color-blue: #0081c7;
    --text-color-blue-light: #7dafdf;
    --main-nav-color: #575e62;
    --footer-nav-color: #fff;
    --bg-blue: #0081c7;
    --bg-blue-light: #7dafdf;
    --bg-grey: #b2b2b2;
    --header-bg: #fff;
    --footer-bg: #373a3b;
    --main-nav-bg: #ebedee;
}

body,
html {
    height: 100%;
}
body {
    background: #fff;
    font-family: louis_george_caferegular, sans-serif;
    font-size: 100%;
    color: var(--text-color);
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
}
img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}

.bg-img {
    /* The image used */
    background-image: url("../../img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg");
    margin-top: 0px;
    /* Control the height of the image */
    height: 700px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    position: relative;
}

/* a {
    display: inline-block;
} */

object {
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    margin: -0.3em 0 0 0.4em;
    vertical-align: middle;
    content: "";
    border: 0.5em solid;
    border-width: 0 0.15em 0.15em 0;
    transform: rotateZ(45deg);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.main ul {
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    font-size: 1.15rem;
}

/* nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    padding: 10px 0;
}
img {
    max-width: 100%;
    height: auto;
} */

/* div {
    list-style: none;
}

div {
    display: inline-block;
} */
div.law_main {
    max-width: 1160px;
    margin: auto;
    border: 3px solid #73ad21;
}

.law_logo {
    max-height: 167px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

div.relative-pos-top-titel-text {
    position: relative;
    margin-top: 380px;
}
div.relative-pos-bottom-titel-text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 108px;
}
div.relative-heart-spacer-top {
    position: relative;
    margin-top: 650px;
}
div.relative-heart-spacer-bottom {
    position: relative;
    margin-bottom: 45px;
}
div.relative-pos-content-text {
    position: relative;
    margin-top: 65px;
}
div.relative-pos-content-sub-text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
}
div.relative-pos-card-top-bottom {
    position: relative;
    margin-top: 0px;
    margin-bottom: 78px;
}
div.relative-pos-content-sub-text {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.relative-pos-book-titel {
    position: relative;
    margin-top: 80px;
}
div.relative-pos-book-sub-titel {
    position: relative;
    margin-top: 28px;
}
.relative-buy-button-position {
    position: relative;
    bottom: -40px;
}

/* Logo */
.relative-logo-position {
    position: relative;
    top: 39px;
    bottom: 39px;
}
.relative-donate-button-position {
    position: relative;
    top: 58px;
    bottom: 39px;
}

h1 {
    font-size: 2.5em; /* 40px/16=2.5em */
}

h2 {
    font-size: 1.875em; /* 30px/16=1.875em */
}

p {
    font-size: 0.875em; /* 14px/16=0.875em */
}

/* ######################## Responsive Font ################################## */
#maintitel {
    font-family: louis_george_cafebold, sans-serif;
    font-size: 1.5rem;
    line-height: 1.1;
    color: white;
}
#subtitel {
    font-family: louis_george_cafebold, sans-serif;
    font-size: 1.25rem;
    line-height: 1.1;
    color: #d8dcdf;
}

#maincontent {
    font-family: louis_george_cafebold, sans-serif;
    font-size: 1.25rem;
    line-height: 1.1;
    color: #646469;
}
#subcontent {
    font-family: louis_george_caferegular, sans-serif;
    font-size: 0.7rem;
    color: #646469;
}
#booktitel {
    font-family: louis_george_cafebold, sans-serif;
    font-size: 1.25rem;
    color: white;
}
#bookordertext {
    font-family: louis_george_caferegular, sans-serif;
    font-size: 1.2rem;
    color: white;
}
#footer-titel {
    font-family: louis_george_cafebold, sans-serif;
    font-size: 0.7rem;
    color: white;
}
#footer-content {
    font-family: louis_george_caferegular, sans-serif;
    font-size: 0.7rem;
    color: white;
}

h1 {
    line-height: 1.2;
    font-size: 1.5rem;
}
h1,
h2,
h3 {
    font-weight: 700;
    margin: 0 0 16px;
}

div.font-book-titel-text {
    font-family: louis_george_cafebold, sans-serif;
    font-size: 1.25rem;
    color: white;
}
div.font-book-titel-presell-text {
    font-family: louis_george_caferegular, sans-serif;
    font-size: 1.2rem;
    color: white;
}
h2,
h3 {
    font-size: 1.25rem;
}
.content-text h2 {
    font-size: 1.45rem;
}
div.font-content-sub-text {
    font-family: louis_george_caferegular, sans-serif;
    font-size: 0.5rem;
    color: #646469;
}
p {
    font-size: 1.15rem;
    margin: 0 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.main ul {
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    font-size: 1.15rem;
}
h1 {
    line-height: 1.2;
    font-size: 1.5rem;
}
h1,
h2,
h3 {
    font-weight: 700;
    margin: 0 0 16px;
}
h2,
h3 {
    font-size: 1.25rem;
}
.content-text h2 {
    font-size: 1.45rem;
}
p {
    font-size: 1.15rem;
    margin: 0 0 16px;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
.header {
    background-color: var(--header-bg);
    height: 168px;
}
.logo {
    left: 10px;
    top: 25px;
    width: 180px;
}
.logo,
.action-button {
    position: absolute;
}
.action-button {
    right: 10px;
    top: 10px;
}
.header-info {
    position: absolute;
    left: 10px;
    top: 130px;
    padding: 2px 10px;
    border: 1px solid var(--bg-blue);
    text-align: center;
}
.header-info span {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}
.header-info a {
    padding: 0 0 0 10px;
}
.main-nav {
    border-top: 2px solid var(--bg-grey);
    background-color: var(--main-nav-bg);
}
.main-nav_list {
    margin: 0;
    padding: 0;
}
.main-nav_item {
    display: inline-block;
    padding: 0 10px;
}
.main-nav_link {
    color: var(--main-nav-color);
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;
    display: block;
}
.main-nav_link.active,
.main-nav_link:hover {
    color: var(--text-color-blue);
}
.slider-content_link {
    position: absolute;
    left: 10px;
    z-index: 2;
    top: 130px;
}
.slider-content_link a {
    background-color: var(--bg-blue);
    padding: 6px 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.swiper-button-next,
.swiper-button-prev {
    display: block;
    color: var(--bg-blue);
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px;
}
.swiper-button-prev {
    left: 20px;
}
.swiper-button-next {
    right: 10px;
}
.main-image-container {
    position: relative;
}
.main-image-container:after {
    content: "";
    position: absolute;
    top: 0;
    height: 10px;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}
.main-image-about:after,
.main-image:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main-image img {
    max-width: none;
    width: 100%;
}
.main-image-50:after {
    background-color: rgba(0, 0, 0, 0.5);
}
.main-image-40:after {
    background-color: rgba(0, 0, 0, 0.4);
}
.main-image-20:after {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider-content {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    border-top: 5px solid var(--bg-blue);
    border-bottom: 5px solid var(--bg-blue);
    padding: 10px;
    max-width: 580px;
}
.slider-content h1 {
    line-height: 1.1;
    color: #fff;
    font-size: 1.35rem;
}
.slider-content p {
    line-height: 1.1;
    color: var(--text-color-blue-light);
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}
.main {
    margin: 30px 0 0;
}
.container-image-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    margin: 30px 0;
}
.content-text {
    padding: 20px;
}
.teaser-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin: 30px 0;
}
.teaser {
    position: relative;
    -webkit-box-shadow: 0 0 20px var(--bg-grey);
    box-shadow: 0 0 20px var(--bg-grey);
}
.teaser:hover .teaser_img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.teaser_img {
    overflow: hidden;
}
.teaser_img img {
    max-width: none;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.teaser_tag {
    background-color: var(--bg-blue);
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 2px 5px;
    font-size: 0.813rem;
    text-transform: uppercase;
    font-weight: 600;
}
.teaser_text {
    padding: 25px;
    min-height: 160px;
}
.teaser-map {
    background: url(../images/home/KSB-SupremeServ-von-der-KLAWA-Service-GmbH-Hessen-Kassel-Goettingen.jpg)
        0 no-repeat #fff;
}
.teaser-map_text {
    padding: 20px 0;
}
.teaser-map_text h3 {
    color: #fff;
    font-size: 1.5rem;
}
.teaser-map_text p {
    color: #fff;
    font-size: 1.25rem;
}
.footer {
    background-color: var(--footer-bg);
    min-height: 300px;
}
.footer-nav {
    padding: 20px 0;
    min-height: 120px;
}
.footer-nav_list {
    margin: 0;
    padding: 0;
}
.footer-nav_item {
    display: inline-block;
}
.footer-nav_link {
    font-weight: 700;
    color: var(--footer-nav-color);
    font-size: 1.15rem;
    padding: 10px 30px 10px 0;
    display: block;
}
.footer-info {
    padding: 20px 0;
    border-top: 1px solid var(--bg-grey);
    border-bottom: 1px solid var(--bg-grey);
}
.footer-info_item {
    padding: 0 0 10px;
}
.footer-info span {
    font-size: 1.15rem;
    color: #fff;
}
.footer-nav_link-bottom {
    font-weight: 400;
    padding: 10px 20px 10px 0;
}
.footer-icons img {
    display: inline-block;
    margin: 0 8px;
}

@media screen and (min-width: 780px) {
    #maintitel {
        font-size: 2.25rem;
    }
    #subtitel,
    #maincontent,
    #booktitel {
        font-size: 1.45rem;
    }
    #subcontent,
    #footer-titel,
    #footer-content {
        font-size: 1rem;
    }

    h1,
    h2,
    h3 {
        font-size: 2.25rem;
    }

    div.font-book-titel-text {
        font-family: louis_george_cafebold, sans-serif;
        font-size: 1.45rem;
        color: white;
    }
    #bookordertext {
        font-size: 1.35rem;
    }
    .content-text h2 {
        font-size: 1.45rem;
    }

    p {
        font-size: 1.15rem;
    }
    .slider-content {
        display: block;
        position: absolute;
        z-index: 1;
        top: 20px;
        border-top: 5px solid var(--bg-blue);
        border-bottom: 5px solid var(--bg-blue);
        padding: 10px;
        max-width: 580px;
    }
    .slider-content h1 {
        line-height: 1.1;
        color: #fff;
        font-size: 1.5rem;
    }
    .slider-content p {
        line-height: 1.1;
        color: var(--text-color-blue-light);
        font-size: 1.25rem;
        font-weight: 700;
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    #maintitel,
    #maincontent {
        font-size: 3.75rem;
    }
    #subtitel,
    #maincontent,
    #booktitel {
        font-size: 2.25rem;
    }
    #subcontent,
    #footer-titel,
    #footer-content {
        font-size: 1.25rem;
    }

    div.font-book-titel-text {
        font-family: louis_george_cafebold, sans-serif;
        font-size: 2.25rem;
        color: white;
    }
    #bookordertext {
        font-size: 2rem;
    }

    .logo {
        left: 0;
    }
    .action-button {
        right: 0;
    }
    .container {
        padding: 0;
    }

    .slider-content_link {
        display: block;
        position: absolute;
        right: 205px;
        left: auto;
        top: auto;
        z-index: 2;
        bottom: 70px;
    }
    .slider-content_link a {
        background-color: var(--bg-blue);
        padding: 6px 10px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
    .slider-content {
        top: 60px;
        border-top: 10px solid var(--bg-blue);
        border-bottom: 10px solid var(--bg-blue);
        padding: 20px;
    }
    .slider-content h1 {
        font-size: 3rem;
    }
    .slider-content p,
    .teaser-map_text h3 {
        font-size: 2.25rem;
    }
    .teaser-map_text p {
        font-size: 2rem;
    }
    .footer-info_item:last-child {
        margin: 0 0 0 400px;
    }
}

.footer {
    background-color: var(--footer-bg);
    min-height: 380px;
}
.footer-nav {
    padding: 20px 0;
    min-height: 120px;
}
.footer-nav_list {
    margin: 0;
    padding: 0;
}
.footer-nav_item {
    display: inline-block;
}
.footer-nav_link {
    font-weight: 700;
    color: var(--footer-nav-color);
    font-size: 1.15rem;
    padding: 10px 30px 10px 0;
    display: block;
}
.footer-info {
    padding: 20px 0;
    border-top: 1px solid var(--bg-grey);
    border-bottom: 1px solid var(--bg-grey);
}
.footer-info_item {
    padding: 0 0 10px;
    display: inline-block;
}
.footer-info span {
    font-size: 1.15rem;
    color: #fff;
}
.footer-nav_link-bottom {
    font-weight: 400;
    padding: 10px 20px 10px 0;
}
.footer-icons img {
    display: inline-block;
    margin: 0 8px;
}

#cards_landscape_wrap-2 {
    text-align: left;
    background: #f7f7f7;
}
#cards_landscape_wrap-2 .container {
    padding-top: 5px;
    padding-bottom: 30px;
}
#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    width: 100%;
    height: 100%;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: left;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 20px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
    background: #ffffff;
    margin-top: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 10px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    /* color: #000000; */
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
    letter-spacing: 1px;
    /* color: #00acc1; */
}

:root {
    --text-color: #575e62;
    --text-color-blue: #0081c7;
    --text-color-blue-light: #7dafdf;
    --main-nav-color: #575e62;
    --footer-nav-color: #fff;
    --bg-blue: #0081c7;
    --bg-blue-light: #7dafdf;
    --bg-grey: #b2b2b2;
    --header-bg: #fff;
    --footer-bg: #373a3b;
    --main-nav-bg: #ebedee;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
}
body,
html {
    height: 100%;
}
body {
    background: #fff;
    font-family: Roboto Condensed, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: var(--text-color);
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
}
img,
video {
    max-width: 100%;
    height: auto;
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
.main ul {
    margin: 0 0 16px;
    padding: 0 0 0 16px;
    font-size: 1.15rem;
}
h1 {
    line-height: 1.2;
    font-size: 1.5rem;
}
h1,
h2,
h3 {
    font-weight: 700;
    margin: 0 0 16px;
}
h2,
h3 {
    font-size: 1.25rem;
}
.content-text h2 {
    font-size: 1.45rem;
}
p {
    font-size: 1.15rem;
    margin: 0 0 16px;
}
a {
    color: var(--text-color);
    text-decoration: none;
}
.header {
    background-color: var(--header-bg);
    height: 168px;
}
.logo {
    left: 10px;
    top: 25px;
    width: 180px;
}
.logo,
.action-button {
    position: absolute;
}
.action-button {
    right: 10px;
    top: 10px;
}
.header-info {
    position: absolute;
    left: 10px;
    top: 130px;
    padding: 2px 10px;
    border: 1px solid var(--bg-blue);
    text-align: center;
}
.header-info span {
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
}
.header-info a {
    padding: 0 0 0 10px;
}
.main-nav {
    border-top: 2px solid var(--bg-grey);
    background-color: var(--main-nav-bg);
}
.main-nav_list {
    margin: 0;
    padding: 0;
}
.main-nav_item {
    display: inline-block;
    padding: 0 10px;
}
.main-nav_link {
    color: var(--main-nav-color);
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;
    display: block;
}
.main-nav_link.active,
.main-nav_link:hover {
    color: var(--text-color-blue);
}
.slider-content_link {
    position: absolute;
    left: 10px;
    z-index: 2;
    top: 130px;
}
.slider-content_link a {
    background-color: var(--bg-blue);
    padding: 6px 10px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}
.swiper-button-next,
.swiper-button-prev {
    display: block;
    color: var(--bg-blue);
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 30px;
}
.swiper-button-prev {
    left: 20px;
}
.swiper-button-next {
    right: 10px;
}
.main-image-container {
    position: relative;
}
.main-image-container:after {
    content: "";
    position: absolute;
    top: 0;
    height: 10px;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}
.main-image-about:after,
.main-image:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main-image img {
    max-width: none;
    width: 100%;
}
.main-image-50:after {
    background-color: rgba(0, 0, 0, 0.5);
}
.main-image-40:after {
    background-color: rgba(0, 0, 0, 0.4);
}
.main-image-20:after {
    background-color: rgba(0, 0, 0, 0.2);
}
.slider-content {
    display: block;
    position: absolute;
    z-index: 1;
    top: 20px;
    border-top: 5px solid var(--bg-blue);
    border-bottom: 5px solid var(--bg-blue);
    padding: 10px;
    max-width: 580px;
}
.slider-content h1 {
    line-height: 1.1;
    color: #fff;
    font-size: 1.35rem;
}
.slider-content p {
    line-height: 1.1;
    color: var(--text-color-blue-light);
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}
.main {
    margin: 30px 0 0;
}
.container-image-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 40px;
    margin: 30px 0;
}
.content-text {
    padding: 20px;
}
.teaser-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin: 30px 0;
}
.teaser {
    position: relative;
    -webkit-box-shadow: 0 0 20px var(--bg-grey);
    box-shadow: 0 0 20px var(--bg-grey);
}
.teaser:hover .teaser_img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.teaser_img {
    overflow: hidden;
}
.teaser_img img {
    max-width: none;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.teaser_tag {
    background-color: var(--bg-blue);
    color: #fff;
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 2px 5px;
    font-size: 0.813rem;
    text-transform: uppercase;
    font-weight: 600;
}
.teaser_text {
    padding: 25px;
    min-height: 160px;
}
.teaser-map {
    background: url(../images/home/KSB-SupremeServ-von-der-KLAWA-Service-GmbH-Hessen-Kassel-Goettingen.jpg)
        0 no-repeat #fff;
}
.teaser-map_text {
    padding: 20px 0;
}
.teaser-map_text h3 {
    color: #fff;
    font-size: 1.5rem;
}
.teaser-map_text p {
    color: #fff;
    font-size: 1.25rem;
}
.footer {
    background-color: var(--footer-bg);
    min-height: 300px;
}
.footer-nav {
    padding: 20px 0;
    min-height: 120px;
}
.footer-nav_list {
    margin: 0;
    padding: 0;
}
.footer-nav_item {
    display: inline-block;
}
.footer-nav_link {
    font-weight: 700;
    color: var(--footer-nav-color);
    font-size: 1.15rem;
    padding: 10px 30px 10px 0;
    display: block;
}
.footer-info {
    padding: 20px 0;
    border-top: 1px solid var(--bg-grey);
    border-bottom: 1px solid var(--bg-grey);
}
.footer-info_item {
    padding: 0 0 10px;
}
.footer-info span {
    font-size: 1.15rem;
    color: #fff;
}
.footer-nav_link-bottom {
    font-weight: 400;
    padding: 10px 20px 10px 0;
}
.footer-icons img {
    display: inline-block;
    margin: 0 8px;
}
@media screen and (min-width: 780px) {
    h1,
    h2,
    h3 {
        font-size: 2.25rem;
    }
    .content-text h2 {
        font-size: 1.45rem;
    }
    p {
        font-size: 1.15rem;
    }

    .header {
        height: 168px;
    }
    .logo {
        width: auto;
    }
    .logo,
    .action-button {
        top: 30px;
    }
    .header-info {
        left: auto;
        right: 200px;
        top: 60px;
        padding: 2px 10px;
    }
    .header-info span {
        font-size: 1rem;
    }
    .header-info a {
        display: block;
        padding: 0;
    }
    .main-nav_list {
        margin: 0 0 0 140px;
    }
    .main-nav {
        height: 58px;
    }
    .main-nav_item {
        padding: 0 20px;
    }
    .main-nav_link {
        padding: 14px 0 12px;
    }
    .main-nav_link.active,
    .main-nav_link:hover {
        border-bottom: 4px solid var(--text-color-blue);
    }

    .main {
        margin: 66px 0 0;
    }

    .container-image-text {
        margin: 85px 0;
    }
    .footer-info {
        height: 100px;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .footer-info_item {
        padding: 0;
        margin: 0 40px 0 0;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        left: 0;
    }
    .action-button {
        right: 0;
    }
    .container {
        padding: 0;
    }

    .footer-info_item:last-child {
        margin: 0 0 0 400px;
    }
}
