@charset "UTF-8";
/* ######################## My Font ######################################### */
@import url(./fonts.css);
@import url(./landingpage_new_version.css);
@import url(./footer_new_version.css);
:root {
  /*      Theme font-family   */
  --Abel: "Abel", cursive;
  --Anton: "Anton", cursive;
  --Josefin: "Josefin", cursive;
  --Lexend: "Lexend", cursive;
  --Livvic: "Livvic", cursive;
  --Cafe: "louis_george_caferegular", sans-serif;
  --love: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  --text-color: #575e62;
  --text-color-blue: #0081c7;
  --text-color-blue-light: #7dafdf;
  --text-color-white: #ffffff;
  --text-color-subtitel: #d8dcdf;
  --text-color-content: #646469;
  --main-menu-color: #575e62;
  --main-menu-color-active: #a82ca8;
  --footer-nav-color: #fff;
  --main-menu-bg: #ebebeb;
  --header-bg: #ffffff;
  --footer-bg: #373a3b;
  --bg-blue: #0081c7;
  --bg-blue-light: #7dafdf;
  --bg-grey: #b2b2b2;
  --bg-grey2: #aa96a0;
  --bg-landing-page1: #ffcdb2;
  --bg-landing-page2: #ffb4a2;
  --bg-landing-page3: #e5989b;
  --bg-landing-page4: #b5838d;
  --bg-landing-page5: #6d6875;
  --text-color-titel: #daa520;
}

/* -------------- Global Classes -------------- */
a {
  text-decoration: none;
  color: var(--text-gray);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* -------x------ Global Classes ------x------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* body {
  background: #ffffff;
  font-family: var(--Cafe);
  font-size: 100%;
  color: var(--text-color-white);
}

.container-image-text {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
  margin: 30px 0;
}

.card-title {
  font-size: 1.41vw;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-size: 1.25vw;
  text-align: center;
}

.vertical-align-top {
  vertical-align: top;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.bottom_top_buffer {
  margin-top: 20px;
  margin-bottom: 40px;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.more-info .title {
  font-weight: bold;
  font-size: 28px;
}
.more-info .desc {
  font-size: 18px;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
}
.feature img {
  width: 50em;
}
.feature .content {
  width: 50em;
}

.feature.left {
  grid-template-areas: "left right";
}
.feature.left img {
  grid-area: left;
}
.feature.left .content {
  text-align: left;
  width: 50em;
  justify-self: left;
}

.school__spende_image {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30%;
}

.contact__label {
  font-size: 16px;
}

.contact__text {
  color: var(--text-color);
}
.contact__text h1 {
  font-size: 3.57vw;
}
.contact__text p {
  font-size: 1.0714vw;
}

.content__titel h1 {
  font-size: 4.69vw;
  font-weight: bold;
}

.content__text h2,
h2 {
  font-size: 28px;
  font-weight: bold;
}

.content__text h3,
h3 {
  font-size: 24px;
  font-weight: bold;
}

.content__text p,
.teaser__text p,
p,
li {
  font-size: 18px;
}

.container {
  width: 100%;
}

.main-header {
  width: 100%;
}

.main {
  max-width: 70%;
  margin: auto;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header [class^=header__] img {
  margin-bottom: 0.1vh;
}
.header__logo {
  width: 300px;
  margin-top: 0.1vh;
}
.header__button {
  width: 200px;
  justify-self: end;
  margin-top: 2.2vh;
}

.main-menu {
  border-top: 1px solid var(--bg-grey);
  /* border-bottom: 10px solid var(--bg-grey); */
  background-color: var(--main-menu-bg);
}

.menu {
  height: 5.73vh;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.menu__item {
  align-self: center;
}
.menu__item .menu__item-link {
  color: var(--main-menu-color);
  font-size: 1.0714vw;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.menu__item .menu__item-link.active,
.menu__item .menu__item-link:hover {
  color: var(--main-menu-color-active);
}
.menu__heart {
  align-self: center;
}

.titel {
  width: 100%;
}
.titel__image:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.titel__image img {
  max-width: none;
  width: 100%;
  height: 100%;
}
.titel__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30vh;
  z-index: 1;
  color: var(--text-color-white);
}
.titel__text h1 {
  font-size: 3.57vw;
}
.titel__text p {
  font-size: 2.19vw;
  margin-bottom: 11.91vh;
}
.titel__text1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 20vh;
  z-index: 1;
  color: var(--text-color-white);
}
.titel__text1 h1 {
  font-size: 3.57vw;
}
.titel__text1 p {
  font-size: 2.14vw;
  margin-bottom: 11.91vh;
}
.titel__hearts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20%;
       column-gap: 20%;
  z-index: 1;
  width: 5%;
  margin-top: -10.003vh;
  margin-left: 32vw;
}

.titel__bg-image {
  position: relative;
  top: -15px;
}

.titel__bg-image:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.5);
}

.titel__bg-image:after {
  height: 10px;
}

.main-image-50:after {
  background-color: rgba(0, 0, 0, 0.5);
}

.main-image-40:after {
  background-color: rgba(0, 0, 0, 0.4);
}

.main-image-20:after {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-image-10:after {
  background-color: rgba(0, 0, 0, 0.1);
}

.main-image-00:after {
  background-color: rgba(0, 0, 0, 0);
}

.donate {
  display: flex;
  flex-direction: row;
  margin-bottom: 5.95vh;
  color: var(--text-color-content);
}
.donate__text h1 {
  font-size: 2.6vw;
}
.donate__text p {
  font-size: 2vw;
}
.donate__text1 h1 {
  font-size: 1.41vw;
  margin-left: 50px;
}
.donate__text1 p {
  font-size: 1.25vw;
  margin-left: 50px;
  width: 100%;
}

.donate-heading {
  border: 2px solid var(--bg-grey2);
  background-color: var(--bg-grey2);
}

.heading__text h1 {
  text-align: center;
  font-size: 4.5vw;
  font-weight: 800;
  color: var(--text-color-white);
}

.donate-reason .reason__text {
  width: 100%;
  text-align: center;
}
.donate-reason .reason__text h1 {
  font-size: 3.5vw;
  font-weight: 800;
  color: rebeccapurple;
}
.donate-reason .reason__text p {
  font-size: 2.5vw;
  font-weight: 500;
}
.donate-reason .art__text {
  width: 100%;
  text-align: center;
}
.donate-reason .art__text h1 {
  font-size: 2.5vw;
  font-weight: 600;
}
.donate-reason .rhythmus__text {
  width: 100%;
  text-align: center;
}
.donate-reason .rhythmus__text h1 {
  font-size: 2.5vw;
  font-weight: 600;
}
.donate-reason .person__text {
  width: 100%;
  text-align: center;
}
.donate-reason .person__text h1 {
  font-size: 2.5vw;
  font-weight: 600;
}
.donate-reason .person__text p {
  font-size: 1.5vw;
  font-weight: 500;
}
.donate-reason .person__anrede {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.donate-reason .person__anrede .anrede,
.donate-reason .person__anrede .titel {
  width: 50%;
  font-size: 1.5vw;
}
.donate-reason .person__name {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.donate-reason .person__name .vorname,
.donate-reason .person__name .nachname {
  width: 50%;
  font-size: 1.5vw;
}
.donate-reason .person__email {
  width: 100%;
}
.donate-reason .person__email .e-mail-adresse {
  width: 100%;
  font-size: 1.5vw;
}
.donate-reason .bescheinigung {
  width: 100%;
  text-align: center;
}
.donate-reason .bescheinigung__text p {
  font-size: 1.5vw;
}
.donate-reason .beformular {
  width: 100%;
}
.donate-reason .beformular__input p {
  font-size: 1.5vw;
}

.teaser-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 20px;
  margin: 30px 0;
  margin-bottom: 8.6vh;
  color: var(--text-color-content);
}
.teaser-container .teaser {
  position: relative;
  box-shadow: 0 0 20px var(--bg-grey);
}
.teaser-container .teaser__text p {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.teaser-container .teaser__image {
  max-width: none;
  width: 100%;
  overflow: hidden;
}
.teaser-container .teaser__image img {
  max-width: none;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.teaser-container .teaser:hover .teaser-container .teaser__image img {
  transform: scale(1.2);
}
.teaser-container .teaser__button-Lijana a img {
  max-width: none;
  width: 30%;
}
.teaser-container .teaser__button-Cybermobbing a img {
  max-width: none;
  width: 50%;
}
.teaser-container .teaser__button-Schulbesuche a img {
  max-width: none;
  width: 50%;
}
.teaser-container .teaser:hover .teaser__image img {
  transform: scale(1.2);
}

.card_label {
  background-color: var(--main-menu-color-active);
  color: var(--text-color-white);
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 2px 5px;
  font-size: 0.813rem;
  text-transform: uppercase;
  font-weight: 600;
}

.main-book {
  background-image: url("../../img/new/grafik/Buch-Hintergrund-Banner.jpg");
  width: 100%;
}

.book {
  display: flex;
  flex-direction: row;
  margin-top: 11.69vh;
  margin-bottom: 11.69vh;
}
.book__text {
  max-width: none;
  width: 100%;
  margin-top: 11vh;
}
.book__image {
  max-width: none;
  width: 100%;
  margin-left: 20.95vw;
}

.book-image {
  margin-top: 7%;
}

.impressum__text {
  color: var(--text-color);
}
.impressum__text h1 {
  font-size: 3.57vw;
  font-weight: bold;
}
.impressum__text h2 {
  font-size: 1.56vw;
  font-weight: bold;
}
.impressum__text p {
  font-size: 1.0714vw;
}

.press__titel {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30vh;
  z-index: 1;
  color: var(--main-menu-color-active);
}
.press__titel h1 {
  font-size: 3.57vw;
}
.press__titel p {
  font-size: 2.14vw;
  margin-bottom: 11.91vh;
}

.schulbesuche__titel {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 30vh;
  z-index: 1;
  color: var(--text-color-white);
}
.schulbesuche__titel h1 {
  font-size: 3.57vw;
}
.schulbesuche__titel p {
  font-size: 2.14vw;
  margin-bottom: 11.91vh;
}

.schulbesuche {
  display: flex;
  flex-direction: row;
  margin-top: 11.69vh;
  margin-bottom: 8.69vh;
}
.schulbesuche__text1 h1 {
  margin-left: 50px;
  font-size: 1.56vw;
  font-weight: bold;
}
.schulbesuche__text1 li {
  width: 100%;
  margin-left: 50px;
  font-size: 1.0714vw;
}
.schulbesuche__text2 h1 {
  font-size: 1.56vw;
  font-weight: bold;
}
.schulbesuche__text2 li {
  width: 100%;
  margin-right: 50px;
  font-size: 1.0714vw;
}
.schulbesuche__text3 h1 {
  margin-left: 50px;
  font-size: 1.56vw;
  font-weight: bold;
}
.schulbesuche__text3 p {
  width: 100%;
  margin-left: 50px;
  font-size: 1.0714vw;
}
.schulbesuche__image2 {
  max-width: none;
  width: 50%;
  margin-left: 6vw;
}

.cyber_button_center {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 30%;
}

.cyber_button_left {
  width: 40%;
  margin-top: 5%;
  margin-bottom: 50px;
}

.termin {
  display: flex;
  flex-direction: row;
  gap: 120px;
}

.card-title {
  font-size: 1.56vw;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-size: 1.0714vw;
  text-align: center;
}

.schulbesuche__text5 p {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  font-size: 2.14vw;
}

.schulbesuche-reasonwhy {
  border: 2px solid var(--bg-grey2);
  background-color: var(--bg-grey2);
}

.reason {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 50px;
}
.reason__text p {
  font-size: 1.07vw;
  margin-right: 100px;
}

.reason-titel {
  margin-top: 30px;
  margin-bottom: 30px;
}
.reason-titel h1 {
  font-size: 2.14vw;
  font-weight: bold;
}

.button-buchen1 {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.button-buchen2 {
  text-align: center;
  width: 40%;
  margin-left: 30%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.schulbesuche__button {
  margin-top: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1400px) {
  .titel__text {
    margin-top: 13.5vh;
  }
  .press__titel {
    margin-top: 16.5vh;
  }
  .schulbesuche__titel {
    margin-top: 13.5vh;
  }
}
@media (max-width: 1000px) {
  .titel__text {
    margin-top: 10.5vh;
  }
  .titel__text h1 {
    font-size: 35px;
  }
  .titel__text p {
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .titel__text {
    margin-top: 5vh;
  }
  .press__titel {
    margin-top: 8.5vh;
  }
  .schulbesuche__titel {
    margin-top: 9vh;
  }
  .header__image img {
    margin-left: 1px;
    align-self: self-start;
    float: inline-start;
  }
  .feature {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 650px) {
  .titel__text {
    margin-top: 1vh;
    margin-left: 10px;
  }
  .schulbesuche__titel {
    margin-top: 4vh;
  }
  .header__image img {
    margin-left: 1px;
    align-self: self-start;
  }
}
/* @media only screen and (max-width: 600px)  {...}
What this query really means, is “If [device width] is less than or equal to 600px, then do {…}” */
/* @media only screen and (min-width: 600px)  {...}
What this query really means, is “If [device width] is greater than or equal to 600px, then do {…}” *//*# sourceMappingURL=custom_new_version.css.map */