{% extends "../main/base_generic.html" %} {% block content %} {% load static %}
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <span class="subheading"
                        >Spenden für die Öffentlichkeitsarbeit der LAW sind
                        herzlich willkommen!</span
                    >
                    <h2>Spendenkonto:</h2>
                    <h3>Sparkasse Bank</h3>
                    <h3>DE82 xxxx xxxx xxxx xxxx xx</h3>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
