<footer class="footer">
    <div class="my-container flex-row">
        <!-- <div>
            <ul class="footer-nav_list">
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-home' %}"
                        >Home</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-about' %}"
                        >Lijana</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a
                        class="footer-nav_link"
                        href="{% url 'main-portalhelp' %}"
                        >Cybermobbing</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-gallery' %}"
                        >Schulbesuche</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-school' %}"
                        >Projekte</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-book' %}"
                        >Buch</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-donate' %}"
                        >Spende</a
                    >
                </li>
            </ul>
        </div> -->
        <div class="my-container footer-nav flex-row">
            <div>
                <ul class="footer-nav-items">
                    <li class="footer-nav-link">
                        <a href="{% url 'main-home' %}">Home</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="{% url 'main-about' %}">Lijana</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="{% url 'main-portalhelp' %}">Cybermobbing</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="{% url 'main-gallery' %}">Schulbesuche</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="{% url 'main-school' %}">Projekte</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="{% url 'main-book' %}">Buch</a>
                    </li>
                    <li class="footer-nav-link">
                        <a href="{% url 'main-donate' %}">Spende</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div>
            <ul class="nav-items">
                <li class="nav-link"><a href="#">Home</a></li>
                <li class="nav-link"><a href="#">Lijana</a></li>
                <li class="nav-link"><a href="#">Cybermobbing</a></li>
                <li class="nav-link"><a href="#">Schulbesuche</a></li>
                <li class="nav-link"><a href="#">Projekte</a></li>
                <li class="nav-link"><a href="#">Buch</a></li>
                <li class="nav-link"><a href="#">Spende</a></li>
            </ul>
        </div> -->

        <div class="footer-info-social flex-row">
            <div class="footer-info-text">
                <span>Hier findest du Lijana:</span>
            </div>

            <div class="footer-info-logo">
                <a href="{% url 'main-home' %}">
                    <img
                        style="margin-left: 0px; margin-right: 0px"
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="200"
                        height="100"
                        loading="lazy"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
            <div>
                <ul class="footer-social-icons">
                    <li class="footer-social-link">
                        <a
                            href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
                            target="blank"
                        >
                            <img
                                src="../../static/main/assets/img/new/grafik/Icon-Instagram.svg"
                                width="28"
                                alt="LIJANA Instagram Icon"
                                loading="lazy"
                            />
                        </a>
                    </li>
                    <li class="footer-social-link">
                        <a
                            href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
                            target="blank"
                        >
                            <img
                                src="../../static/main/assets/img/new/grafik/Icon-TikTok.svg"
                                width="30"
                                alt="LIJANA TikTok Icon"
                                loading="lazy"
                            />
                        </a>
                    </li>
                    <li class="footer-social-link">
                        <a
                            href="https://youtube.com/@lijanarisen8955"
                            target="blank"
                        >
                            <img
                                src="../../static/main/assets/img/new/grafik/Icon-YouTube.svg"
                                width="27"
                                alt="LIJANA YouTube Icon"
                                loading="lazy"
                            />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="my-container footer-info-protection flex-row">
            <div>
                <ul class="footer-info-items">
                    <li class="footer-info-link">
                        <a href="#">Nutzungsbedingungen</a>
                    </li>
                    <li class="footer-info-link">
                        <a href="#">Datenschutzrichtlinie</a>
                    </li>
                    <li class="footer-info-link">
                        <a href="#">Cookies-Richtlinien</a>
                    </li>
                    <li class="footer-info-link">
                        <a href="#">Sicherheitshinweise</a>
                    </li>
                    <li class="footer-info-link">
                        <a href="#">Cookie-Einstellungen</a>
                    </li>
                </ul>
            </div>

            <div class="footer-info-contact">
                <a href="#">
                    <img
                        src=" ../../static/main/assets/img/new/grafik/Button_Kontakt.svg"
                        width="150"
                        height="70"
                        alt="Kontakt LoveAlwaysWins"
                        loading="lazy"
                    />
                </a>
            </div>
        </div>
    </div>
</footer>

<!-- <footer class="footer">
        <div class="my-container footer-info-social flex-row">
            <div class="footer-info-text">
                <span>Hier findest du Lijana:</span>
            </div>

            <div class="footer-info-logo">
                <a href="{% url 'main-home' %}">
                    <img
                        style="margin-left: 0px; margin-right: 0px"
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="200"
                        height="100"
                        loading="lazy"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>

            <div class="footer-social-icon">
                <a
                    href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
                    target="blank"
                >
                    <img
                        src="../../static/main/assets/img/new/grafik/Icon-Instagram.svg"
                        width="28"
                        height="29"
                        alt="LIJANA Instagram Icon"
                        loading="lazy"
                    />
                </a>
                <a
                    href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
                    target="blank"
                >
                    <img
                        src="../../static/main/assets/img/new/grafik/Icon-TikTok.svg"
                        width="30"
                        height="31"
                        alt="LIJANA TikTok Icon"
                        loading="lazy"
                    />
                </a>
                <a href="https://youtube.com/@lijanarisen8955" target="blank">
                    <img
                        src="../../static/main/assets/img/new/grafik/Icon-YouTube.svg"
                        width="30"
                        height="36"
                        alt="LIJANA YouTube Icon"
                        loading="lazy"
                    />
                </a>
            </div>
        </div>
    </footer> -->

<!-- <footer class="footer">
        <div class="my-container footer-footer flex-row">
            <div class="footer-info-text">
                <span>Hier findest du Lijana:</span>
            </div>

            <div class="footer-info-logo">
                <a href="{% url 'main-home' %}">
                    <img
                        style="margin-left: 0px; margin-right: 0px"
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="200"
                        height="100"
                        loading="lazy"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>

            <div class="footer-social-icon">
                <a
                    href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
                    target="blank"
                >
                    <img
                        src="../../static/main/assets/img/new/grafik/Icon-Instagram.svg"
                        width="28"
                        height="29"
                        alt="LIJANA Instagram Icon"
                        loading="lazy"
                    />
                </a>
                <a
                    href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
                    target="blank"
                >
                    <img
                        src="../../static/main/assets/img/new/grafik/Icon-TikTok.svg"
                        width="30"
                        height="31"
                        alt="LIJANA TikTok Icon"
                        loading="lazy"
                    />
                </a>
                <a href="https://youtube.com/@lijanarisen8955" target="blank">
                    <img
                        src="../../static/main/assets/img/new/grafik/Icon-YouTube.svg"
                        width="30"
                        height="36"
                        alt="LIJANA YouTube Icon"
                        loading="lazy"
                    />
                </a>
            </div>
        </div>
    </footer>
    <footer class="footer">
        <div class="my-container footer-footer flex-row">
            <div>
                <ul class="footer-items">
                    <li class="footer-user-info-link">
                        <a href="#">Nutzungsbedingungen</a>
                    </li>
                    <li class="footer-user-info-link">
                        <a href="#">Datenschutzrichtlinie</a>
                    </li>
                    <li class="footer-user-info-link">
                        <a href="#">Cookies-Richtlinien</a>
                    </li>
                    <li class="footer-user-info-link">
                        <a href="#">Sicherheitshinweise</a>
                    </li>
                    <li class="footer-user-info-link">
                        <a href="#">Cookie-Einstellungen</a>
                    </li>
                </ul>
            </div>

            <div class="footer-contact">
                <a href="#">
                    <img
                        src=" ../../static/main/assets/img/new/grafik/Button_Kontakt.svg"
                        width="150"
                        height="70"
                        alt="Kontakt LoveAlwaysWins"
                        loading="lazy"
                    />
                </a>
            </div>
        </div>
    </footer> -->
