{% extends "../main/base_generic.html" %} {% block content %}
<!-- ######## Titel bild block starts here ########-->
<!-- Background image -->
<div class="row bg-image vh-100" style="
            margin-top: -22px;
            margin-right: -15px;
             background-image: url('../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web-ohne_Schatten.jpg');">
    <!-- Container -->
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col"></div>
        <div class="float-bottom w-75">
            <span class="font-size-60b">Love Always<br /></span>
            <span class="font-size-60b">Wins e.V.<br /></span>
            <span class="font-size-36b">Mehr Selbstvertrauen für<br /></span>
            <span class="font-size-36b">eine bessere Zukunft</span>
        </div>
        <div class="col"></div>
    </div>
    
</div>

<!-- ######## Titel bild block ends here ########-->

<!-- ######## Welcome block starts here ########-->
<div class="row" style="height: 302px">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col"></div>
        <div class="w-75">
            <span class="titeltext2">Willkommen bei uns!<br /></span>
            <span class="titeltext2">Schön, dass du hier bist.<br /></span>
            <span class="font-size-18n"
                >Hier findest du alles Rund um Lijana und Love Always Wins
                e.V.</span
            >
        </div>
        <div class="col"></div>
    </div>
</div>
<!-- ######## Welcome block ends here ########-->

<!-- ######## History block starts here ########-->
<div class="container bg-info">
<div class="row">
    <div class="col"></div>
    <div class="w-25 d-flex align-items-center">
        <div class="card border-2 p-0 h-100 m-0">
            <img
                src="../../static/main/assets/img/new/01-Lijana.jpg"
                class="card-img-top"
                alt="Lijana Foto"
            />
            <a class="float-end" href="{% url 'main-about' %}">
                <img
                    src="../../static/main/assets/img/new/grafik/01-Lijana.svg"
                    alt="Lijana button"
                    height="100px"
                    width="80px"
                />
            </a>

            <span class="font-size-18n"
                >Lijana Kaggwa (25) gab ihr Mathestudium für eine Modelkarriere
                auf.</span
            >
        </div>
    </div>
    <div class="w-25 d-flex align-items-center">
        <div class="card border-1 h-100 m-0">
            <img
                class="card-img-top"
                src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                alt="Cybermobbing"
            />


            
            <a class="float-end" href="{% url 'main-portalhelp' %}">
                <img
                    src="../../static/main/assets/img/new/grafik/02-Cybermobbing.svg"
                    alt="Cybermobbing"
                    height="100px"
                    width="160px"
                />
            </a>
            <span class="font-size-18n">
                Was als großer Traum begann, mündete in einem Albtraum. Aus der
                Favoritin der Sendung wurde eine Zielscheibe.
            </span>
        </div>
    </div>
    <div class="w-25 d-flex align-items-center">
        <div class="card border-1 h-100 m-0">
            <img
                src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                class="card-img-top"
                alt="Schulbesuche"
            />
            <a class="float-end" href="{% url 'main-gallery' %}">
                <img
                    src="../../static/main/assets/img/new/grafik/03-Schulbesuche.svg"
                    alt="Schulbesuche"
                    height="100px"
                    width="160px"
                />
            </a>
            <span class="font-size-18n">
                Erhalte Einblicke in unserer Vorträge und Workshops an Schulen.
            </span>
        </div>
    </div>
    <div class="col"></div>
</div>
</div>
<!-- ######## History block ends here ########-->

<!-- ######## Buy Book block starts here ########-->
<!--
<div
    class="row bg-image"
    style="
     z-index: 1;
     margin-bottom: 0px;
    height: 490px;
        background-image: url('../../static/main/assets/img/new/Banner-HG.png');">
</div>
-->
    <div class="container d-flex align-items-center bg-success">
        <div class="col"></div>
        <div class="w-50 text-white bg-info">
            <span class="font-size-36b">Du verdienst den Tod!<br /></span>
            <span class="font-size-36b">Trotzdem lebe ich weiter.<br /></span>
            <span class="font-size-32n"
                >Bestellt Buch bis 03.04.2023 vor und<br
            /></span>
            <span class="font-size-32n"
                >erhaltet eine kleine Überraschung!<br
            /></span>

            <a class="float-start" href="{% url 'main-book' %}">
                <img
                    class=""
                    src="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                    alt="Button_Bestellen"
                    width="120"
                    height="80"
                />
            </a>
            <a class="btn btn-primary" href="#" role="button">Learn with me</a>
        </div>
        <div class="w-25 text-white bg-danger">
            

            <a class="float-start" href="{% url 'main-book' %}">
                <img
                    class="card-img-top"
                    src="../../static/main/assets/img/new/Buch.png"
                    alt="Button_Bestellen"
                    width="200"
                    height="400"
                />
            </a>
        </div>
        <div class="col"></div>
    </div>


<!-- ######## Buy Book block ends here ########-->

{% endblock %}

