{% extends "../main/base_generic.html" %} {% load static %} {% block content %}

<!--  ########  Header background-image ########- -->
<div
    class="bg-img"
    style="
        margin-top: -25px;
        /* Control the height of the image */
        height: 700px;
        background-image: url('../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg');
    "
>
    <div class="row">
        <!-- The left col with right side margin -->
        <div class="col-lg-1 margin-pos-right"></div>

        <!-- The col for the titel text-->
        <div class="col-lg-4 relative-pos-top-titel-text">
            <div class="font-titel-text">Love Always<br />Wins e.V.</div>
            <!-- The col for the sub titel text-->
            <div class="col relative-pos-book-button">
                <div class="font-titel-sub-text">
                    Mehr Selbstvertrauen für<br />eine bessere Zukunft
                </div>
            </div>
        </div>
        <div
            class="col-lg-2 text-start relative-heart-spacer-top relative-heart-spacer-bottom"
        >
            <img
                style="margin-top: 0px; max-width: 10%; height: 18px"
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg"
                class="card-img-top"
                alt="Herz-Flaeche"
            />
            <img
                style="margin-left: 10px; max-width: 10%; height: 18px"
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            />
            <img
                style="margin-left: 10px; max-width: 10%; height: 18px"
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            />
        </div>
        <div class="col-lg-1 margin-pos-left"></div>
    </div>
</div>
<!-- Header background-image ends here -->

<!-- ######## Content block starts here ########-->
<div class="row" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>
    <div class="col relative-pos-content-text">
        <div class="font-content-text">
            Willkommen bei uns!<br />Schön, dass du hier bist.
        </div>
        <div class="font-content-sub-text relative-pos-content-sub-text">
            Hier findest du alles Rund um Lijana und Love Always Wins e.V.
        </div>
    </div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>
<!-- ######## Content block ends here ########-->

<!-- ######## History block starts here ########-->
<!-- #cards_landscape_wrap-2 .card-flyer:hover .image-box img  -->
<div id="cards_landscape_wrap-2">
    <div class="row relative-pos-card-top-bottom" style="height: auto">
        <div class="col-lg-1 margin-pos-right"></div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100" style="height: auto">
                    <div class="text-box">
                        <div class="image-box" style="height: auto">
                            <img
                                src="../../static/main/assets/img/new/01-Lijana.jpg"
                                class="card-img-top"
                                alt="Lijana Foto"
                            />
                        </div>
                        <div class="text-container">
                            <div class="text-start">
                                <a class="" href="/about/">
                                    <img
                                        src="../../static/main/assets/img/new/grafik/01-Lijana.svg"
                                        alt="Lijana button"
                                        height="100px"
                                        width="80px"
                                    />
                                </a>
                            </div>
                            <div
                                class="content-sub-text relative-pos-content-sub-text"
                            >
                                Lijana Kaggwa (25) gab ihr Mathestudium für eine
                                Modelkarriere auf.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                                alt="Cybermobbing-Lijana"
                            />
                        </div>
                        <div class="text-container">
                            <div class="text-start">
                                <a class="" href="/hilfe/">
                                    <img
                                        src="../../static/main/assets/img/new/grafik/02-Cybermobbing.svg"
                                        alt="Cybermobbing"
                                        height="100px"
                                        width="160px"
                                    />
                                </a>
                            </div>
                            <div
                                class="content-sub-text relative-pos-content-sub-text"
                            >
                                Was als großer Traum begann, mündete in einem
                                Albtraum. Aus der Favoritin der Sendung wurde
                                eine Zielscheibe.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                                alt="Schulbesuche-Lijana"
                            />
                        </div>

                        <div class="text-container">
                            <div class="text-start relative-spacer-card-top">
                                <a class="" href="/gallery/">
                                    <img
                                        src="../../static/main/assets/img/new/grafik/03-Schulbesuche.svg"
                                        alt="Schulbesuche"
                                        height="100px"
                                        width="160px"
                                    />
                                </a>
                            </div>
                            <div
                                class="relative-pos-content-sub-text content-sub-text"
                            >
                                Erhalte Einblicke in unserer Vorträge und
                                Workshops an Schulen.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-1 margin-pos-left"></div>
    </div>
</div>
<!-- ######## History block ends here ########-->

<!-- ######## Buy Book block starts here ########-->

<!-- Background image -->
<div
    class="bg-img"
    style="
        margin-top: -15px;
        /* Control the height of the image */
        min-height: 490px;
        max-width: 100%;
        background-image: url('../../static/main/assets/img/new/grafik/Buch-Hintergrund-Banner.jpg');
    "
>
    <div class="row" style="max-width: 100%; height: 490px">
        <div class="col-lg-1 margin-pos-right"></div>
        <div class="col-lg-6 relative-pos-book-titel">
            <div class="font-book-titel-text">
                Du verdienst den Tod!<br />Trotzdem lebe ich weiter.
            </div>

            <div class="col relative-pos-book-sub-titel">
                <div class="font-book-titel-presell-text">
                    Bestellt Buch bis 03.04.2023 vor und<br />erhaltet eine
                    kleine Überraschung!
                </div>
            </div>
            <div class="relative-buy-button-position">
                <a href="{% url 'main-book' %}">
                    <img
                        class=""
                        src="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                        alt="Button_Bestellen"
                        width="120"
                        height="80"
                    />
                </a>
            </div>
        </div>
        <!-- <div class="col-lg-4 d-flex align-items-center z-index: 12">
            <a class="" href="{% url 'main-book' %}">
                <img
                    class="card-img-top"
                    style="margin-top: 0px; max-width: 100%; max-height: 100%"
                    src="{% static 'main/assets/img/new/Buch.png' %}"
                    class="imgshadow"
                    alt="Book"
                />
            </a>
        </div> -->
        <div class="col-lg-4 card-flyer d-flex align-items-center">
            <div
                class="image-box"
                style="margin-top: 0px; max-width: 100%; max-height: 100%"
            >
                <a class="" href="{% url 'main-book' %}">
                    <img
                        src="../../static/main/assets/img/new/Buch.png"
                        class="card-img-top"
                        alt="Buch von Lijana"
                    />
                </a>
            </div>
        </div>
        <div class="col-lg-1 margin-pos-left"></div>
    </div>
</div>

<!-- ######## Buy Book block ends here ########-->

{% endblock %}

<!--
<font size="1">This is really tiny text.</font>
<font size="+2">This is bigger text.</font>
<font size="-1">This is smaller text.</font>
-->
