<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta
            name="description"
            content="KSB Pumpen & Ersatzteile kaufen bei der KLAWA Service GmbH ✓ Ihr Premium Service Partner für industrielle und kommunale Einsatzbereiche ✓"
        />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <title>KSB Pumpen kaufen | bei der KLAWA-Service GmbH</title>
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="canonical" href="https://www.klawa-service.de/handel.html" />
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html">
                        <img
                            src="images/LOGO-klawa-service-gmbh-signatur.png"
                            width="239"
                            height="106"
                            alt="LOGO KLAWA-Service GmbH Signatur"
                        />
                    </a>
                </div>
                <div class="header-info">
                    <span
                        >24-Stunden-Notdienst
                        <a href="tel:015780593637">0157 - 805 936 37</a>
                    </span>
                </div>
                <div class="action-button">
                    <a href="https://www.ksb.com/de-de" target="blank">
                        <img
                            src="images/action-button-Service-Partner.svg"
                            width="124"
                            height="100"
                            alt="Logo KSB Service-Partner"
                        />
                    </a>
                </div>
            </div>
        </header>
        <nav class="nav main-nav">
            <div class="container">
                <ul class="main-nav_list">
                    <li class="main-nav_item">
                        <a class="main-nav_link" href="ueber_uns.html"
                            >Über uns</a
                        >
                    </li>
                    <li class="main-nav_item">
                        <a class="main-nav_link" href="pumpenservice.html"
                            >Pumpenservice</a
                        >
                    </li>
                    <li class="main-nav_item">
                        <a class="main-nav_link active" href="handel.html"
                            >Handel</a
                        >
                    </li>
                    <li class="main-nav_item">
                        <a class="main-nav_link" href="kontakt.html">Kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main-image-container">
            <div class="container">
                <div class="slider-content">
                    <h1>KSB Pumpen- und<br />Systemlösungen.</h1>
                    <p>
                        Die KLAWA-Service GmbH ist<br />Ihr Lieferant für
                        Nordhessen.
                    </p>
                </div>
            </div>
            <div class="main-image main-image-40">
                <img
                    src="images/content/KSB-Pumpen-kaufen-von-KLAWA-Service.jpg"
                    width="1920"
                    height="500"
                    alt="KSB Pumpen kaufen von KLAWA-Service"
                />
            </div>
        </div>
        <div class="main">
            <div class="container">
                <h1>Wir finden für jeden Bedarf<br />die passende Lösung.</h1>
                <p>
                    Unsere langjährige Erfahrung mit KSB Produkten macht uns zum
                    optimalen Ansprechpartner für all Ihre Belange. Wir beraten
                    Sie bei der Auswahl und Umsetzung Ihrer neuen Anlage oder
                    helfen Ihnen bei der Suche nach einem Austauschprodukt.
                </p>
                <p>
                    Wir versorgen Sie sowohl mit Pumpen und Ersatzteilen, als
                    auch mit Armaturen, Motoren, Kupplungen, Mess- und
                    Regelungstechnik sowie sonstigem Zubehör.
                </p>
                <div class="container-image-text">
                    <div class="content-image">
                        <img
                            src="images/content/KSB-Pumpe-kaufen-unser-Umfang-bei-KLAWA-Service.jpg"
                            width="560"
                            height="321"
                            alt="KSB Pumpe kaufen unser Umfang bei KLAWA-Service"
                            loading="lazy"
                        />
                    </div>
                    <div class="content-text">
                        <h2>Unser Umfang:</h2>
                        <ul>
                            <li>Technische Beratung</li>
                            <li>Verkauf von Neu- und Ersatzpumpen</li>
                            <li>
                                Handel mit Armaturen, Antrieben, Kupplungen,
                                Mess- und Regelungstechnik sowie Ersatzteilen
                            </li>
                            <li>Auslegung von Pumpen</li>
                            <li>Auf Wunsch: Montage und Inbetriebnahme</li>
                        </ul>
                    </div>
                </div>
                <div class="container-image-text">
                    <div class="content-text">
                        <h2>Ihre Vorteile:</h2>
                        <ul>
                            <li>
                                Komplett aus einer Hand: Alles rund um die KSB
                                Pumpentechnik
                            </li>
                            <li>
                                Umfassende Beratung aufgrund hoher
                                Produktkenntnisse
                            </li>
                            <li>
                                Ausführliche Dokumentation für Ihre Unterlagen
                            </li>
                            <li>Kurze Lieferzeiten</li>
                        </ul>
                    </div>
                    <div class="content-image">
                        <img
                            src="images/content/KSB-Pumpe-kaufen-Vorteile-bei-KLAWA.jpg"
                            width="560"
                            height="321"
                            alt="KSB Pumpe kaufen Vorteile bei KLAWA"
                            loading="lazy"
                        />
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <nav class="nav footer-nav">
                <div class="container">
                    <ul class="footer-nav_list">
                        <li class="footer-nav_item">
                            <a class="footer-nav_link" href="index.html"
                                >Home</a
                            >
                        </li>
                        <li class="footer-nav_item">
                            <a class="footer-nav_link" href="ueber_uns.html"
                                >Über uns</a
                            >
                        </li>
                        <li class="footer-nav_item">
                            <a class="footer-nav_link" href="pumpenservice.html"
                                >Pumpenservice</a
                            >
                        </li>
                        <li class="footer-nav_item">
                            <a class="footer-nav_link" href="handel.html"
                                >Handel</a
                            >
                        </li>
                        <li class="footer-nav_item">
                            <a class="footer-nav_link" href="kontakt.html"
                                >Kontakt</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="footer-info">
                    <div class="footer-info_item">
                        <span>Besuchen Sie auch unser Partnerunternehmen:</span>
                    </div>
                    <div class="footer-info_item">
                        <a href="https://www.klawa-gmbh.de" target="blank">
                            <img
                                src="images/LOGO-klawa-anlagenbau-gmbh.png"
                                width="144"
                                height="64"
                                loading="lazy"
                                alt="LOGO KLAWA-Anlagenbau GmbH"
                            />
                        </a>
                    </div>
                    <div class="footer-info_item">
                        <div class="footer-icons">
                            <a
                                href="https://www.youtube.com/channel/UCYLmPSH0JkPaVt_5gEbdJ0A"
                                target="blank"
                            >
                                <img
                                    src="images/Icon-YouTube.svg"
                                    width="30"
                                    height="36"
                                    alt="YouTube Icon"
                                    loading="lazy"
                                />
                            </a>
                            <a
                                href="https://de.linkedin.com/company/klawa-anlagenbau-gmbh"
                                target="blank"
                            >
                                <img
                                    src="images/Icon-LinkedIn.svg"
                                    width="28"
                                    height="28"
                                    alt="LinkedIn Icon"
                                    loading="lazy"
                                />
                            </a>
                            <a
                                href="https://www.facebook.com/KLAWA-Anlagenbau-GmbH-100678785758976"
                                target="blank"
                            >
                                <img
                                    src="images/Icon-facebook.svg"
                                    width="16"
                                    height="31"
                                    alt="Facebook Icon"
                                    loading="lazy"
                                /> </a
                            ><a
                                href="https://www.instagram.com/klawa.anlagenbau/"
                                target="blank"
                            >
                                <img
                                    src="images/Icon-Instagram.svg"
                                    width="28"
                                    height="29"
                                    alt="Instagram Icon"
                                    loading="lazy"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav footer-nav">
                <div class="container">
                    <ul class="footer-nav_list">
                        <li class="footer-nav_item">
                            <a
                                class="footer-nav_link footer-nav_link-bottom"
                                href="impressum.html"
                                >Impressum</a
                            >
                        </li>
                        <li class="footer-nav_item">
                            <a
                                class="footer-nav_link footer-nav_link-bottom"
                                href="datenschutz.html"
                                >Datenschutzrichtlinie</a
                            >
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
        <script src="scripts/main.js"></script>
    </body>
</html>
