{% load static %}
<nav class="nav">
    <div class="my-container">
        <div class="nav-menu flex-row">
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="{% url 'main-home' %}">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'main-about' %}">Lijana</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'main-portalhelp' %}">Cybermobbing</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'main-gallery' %}">Schulbesuche</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'main-school' %}">Projekte</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'main-book' %}">Buch</a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'main-donate' %}">Spende</a>
                    </li>
                </ul>
            </div>
            <div class="social text-gray">
                <a
                    href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
                    target="blank"
                    ><i class="fa-brands fa-instagram"></i
                ></a>
                <a
                    href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
                    target="blank"
                    ><i class="fa-brands fa-tiktok"></i
                ></a>
                <a href="https://youtube.com/@lijanarisen8955" target="blank"
                    ><i class="fa-brands fa-youtube"></i
                ></a>
            </div>
        </div>
    </div>
</nav>

<!-- <nav class="nav main-menu">
    <div class="my-container">
        <div>
            <ul class="main-menu_list">
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-home' %}"
                        >Home</a
                    >
                </li>
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-about' %}"
                        >Lijana</a
                    >
                </li>
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-portalhelp' %}"
                        >Cybermobbing</a
                    >
                </li>
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-gallery' %}"
                        >Schulbesuche</a
                    >
                </li>
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-school' %}"
                        >Projekte</a
                    >
                </li>
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-book' %}"
                        >Buch</a
                    >
                </li>
                <li class="main-menu_item">
                    <a class="main-menu_link" href="{% url 'main-donate' %}"
                        >Spende</a
                    >
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</nav> -->
