{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Love Always Wins</title>
        <style>
            @import url("https://fonts.cdnfonts.com/css/louis-george-cafe");
        </style>
        <!-- ==== CSS ==== -->
        <link
            rel="stylesheet"
            href="{% static 'main/assets/css/custom/mycustom.css' %}"
        />
    </head>

    <body>
        {%include '../main/header.html'%}
        <!-- ##########  -->
        {%include '../main/navbar.html'%}

        <!-- ########## -->
        {% block content %} {% endblock %} {% include '../main/my_footer.html'%}
        <!-- Optional JavaScript -->
        <script>
            const mobileNav = document.querySelector(".mobile-nav");
            const menuBtn = document.querySelector(".menu-btn");
            const navlinks = document.querySelector(".nav-links");
            const closeBtn = document.querySelector(".close-btn");

            mobileNav.addEventListener("click", (e) => {
                navlinks.classList.toggle("mobile-menu");
                if (e.target === menuBtn) {
                    menuBtn.replaceWith(closeBtn);
                    closeBtn.style.display = "block";
                }
                if (e.target === closeBtn) {
                    closeBtn.replaceWith(menuBtn);
                }
            });
        </script>
    </body>
</html>
