{% extends "../main/base_generic.html" %} {% block content %}
<header class="masthead">
    <div class="container-fluid bg-white text-dark">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 col text-center">
                <br /><br />
                <h1>Du verdienst den Tod! Trotzdem lebe ich weiter</h1>
                <br /><br />
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="lead">
                    <img
                        alt="Lijana-book"
                        class="img-fluid float-sm-right col-sm-5"
                        src="../../static/main/assets/img/book/lijana-book-medium.jpg"
                    />
                    Du verdienst den Tod! Wie Cybermobbing Menschen und die
                    Gesellschaft zerstört und wie wir wieder mehr Respekt ins
                    Netz bringen<br />"Ich bin nur eine von Millionen", sagt
                    Lijana. In diesem Buch geht es also nicht nur um ein
                    Einzelschicksal, sondern um ein Massenphänomen. Der immer
                    weiterwachsende Hass im Netz ist zu einem Spiegelbild für
                    die Zerrissenheit unserer Gesellschaft geworden.
                    Diskussionen auf Social-Media-Kanälen arten oftmals in
                    Beschimpfungen, Beleidigungen und sogar Bedrohungen aus. Der
                    Suizid der österreichischen Ärztin Lisa-Maria Kellermayr in
                    diesem Sommer war ein trauriger Höhepunkt. Auch Lijana hat
                    bis heute mit den Folgen von Cybermobbing zu kämpfen. Durch
                    ihren immensen Mut und dank professioneller Hilfe, hat sie
                    es geschafft, sich zu rehabilitieren. Doch statt sich aus
                    der Öffentlichkeit zurückzuziehen, will sie kämpfen,
                    aufklären und verhindern, dass es anderen so ergeht wie ihr.
                    Lijana geht auf eine Interviewreise durch Deutschland und
                    redet mit Betroffenen, Prominenten und Nichtprominenten, mit
                    Psychologen, Polizisten sowie Experten zum Thema
                    "Cybermobbing". Dabei sammelt sie Stimmen und fachkundige
                    Aussagen, Informationen und Hintergründe. Sie will als
                    Cybermobbing-Expertin und Botschafterin für einen neuen
                    Umgang mit dem Thema "Kommunikation im Netz" werben.
                    Verwoben mit ihrer persönlichen Geschichte kommen all diese
                    Stimmen im Buch zu Wort. Eines wird dabei schnell klar:
                    Schweigen ist keine Option. Für keinen von uns. Lasst uns
                    laut sein gegen Hass im Netz!
                    <div class="row">
                        <div class="col text-center">
                    <a
                        href="#shops"
                        class="btn btn-success btn-lg text-white active"
                        role="button"
                        aria-pressed="true"
                        > Jetzt bestellen!</a>
                        <br /><br /><br /><br />
                    
                </div>
                </div>
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <p class="lead">
                    <img
                        alt="Lijana-book"
                        class="img-fluid float-sm-left col-sm-2"
                        src="../../static/main/assets/img/book/lijana-book-medium.jpg"
                    />
                    Lijana Kaggwa (25) gab ihr Mathestudium für eine
                    Modelkarriere auf. 2020 wurde sie durch die TV-Sendung GNTM
                    (Germany's Next Top Model) bekannt. Was als großer Traum
                    begann, mündete in einem Albtraum. Aus der Favoritin der
                    Sendung wurde eine Zielscheibe. Die damals 23-Jährige
                    Studentin wurde von einer Welle des Hasses im Netz
                    überrollt. Sie und ihre Familie (sogar ihr Hund) wurden im
                    realen Leben bedroht und wüst beschimpft. Sie stieg
                    schließlich freiwillig im GNTM-Finale vor einem
                    Millionenpublikum aus, um ein Zeichen gegen Cybermobbing zu
                    setzten. Danach gründete sie ihren Verein "Love always
                    wins". Die Mindset-Influencerin lebt in Kassel und kommt aus
                    einer Patchwork-Familie mit vier Geschwistern. Was Lijana
                    besonders betroffen macht: Ein großer Teil der Anfeindungen
                    im Netz sind rassistischer Natur.
                    <br />
                </p>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h1>
                    <br />
                    Bestelle jetzt bei der Buchhandlug Deines Vertrauens oder
                    direkt bei:
                    <br /><br />
                </h1>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row" id="shops">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a href="https://www.amazon.de/verdienst-den-Tod-Cybermobbing-Gesellschaft/dp/3831206244/ref=sr_1_1?keywords=lijana+kaggwa&qid=1671095581&s=books&sprefix=lijana%2Cstripbooks%2C97&sr=1-1

                ">
                    <button class="btn btn-success">
                        <img
                            alt="Amazon"
                            src="../../static/main/assets/img/book/amazon.de-logo.svg.png"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>

            <div class="col-sm-2">
                <a href="https://www.hugendubel.de/de/buch_kartoniert/lijana_kaggwa-du_verdienst_den_tod-44711919-produkt-details.html">
                    <button class="btn btn-success">
                        <img
                            alt="Hugendubel"
                            src="../../static/main/assets/img/book/hugendubel-logo.svg.png"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.thalia.de/shop/home/artikeldetails/A1066791025">
                    <button class="btn btn-success">
                        <img
                            class="img-fluid"
                            alt="Thalia"
                            src="../../static/main/assets/img/book/thalia_logo_10.2017.svg.png"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.genialokal.de/Produkt/Lijana-Kaggwa/Du-verdienst-den-Tod_lid_49202301.html">
                    <button class="btn btn-success">
                        <img
                            class="img-fluid"
                            alt="Genialokal"
                            src="../../static/main/assets/img/book/genialokal_Logo_RGB.png"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
        </div>
    </div>
</header>

{% endblock %}
