{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="contact">
    <div class="main">
        {% if vorname %}

        <h1 class="border border-success text-center contact__text">
            Ihre Anfrage wurde erfolgreich versandt. Wir werden uns zügig mit
            Ihnen in Verbindung setzen.
        </h1>

        {% else %}

        <div class="contact-text">
            <div class="content__text text-center">
                <title>LoveAlwaysWins</title>

                <h2>Kontakt - Dürfen wir uns kennenlernen?</h2>
                <p>
                    Wenn Sie konkrete Fragen haben oder Details zu einem Projekt
                    besprechen möchten, <br />stehen wir Ihnen
                    selbstverständlich jederzeit zur Verfügung.
                </p>
            </div>
        </div>

        <!--Section: Contact v.2-->
        <section class="mb-4">
            <!--Section heading-->

            <div class="row">
                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <br />
                    <form
                        class="was-validated"
                        id="contact-form"
                        name="contact-form"
                        action=""
                        method="POST"
                        role="form"
                    >
                        {% csrf_token %}
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label for="vorname" class="contact__label"
                                        >Vorname</label
                                    >
                                    <input
                                        name="vorname"
                                        type="text"
                                        id="vorname"
                                        class="form-control"
                                        placeholder="Vorname"
                                        required="true"
                                    />
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label for="nachname" class="contact__label"
                                        >Nachname</label
                                    >
                                    <input
                                        name="nachname"
                                        type="text"
                                        id="nachname"
                                        class="form-control"
                                        placeholder="Nachname"
                                        required="true"
                                    />
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label for="email" class="contact__label"
                                        >E-Mail-Adresse</label
                                    >
                                    <input
                                        name="email"
                                        type="email"
                                        aria-describedby="emailHelp"
                                        id="email"
                                        class="form-control"
                                        placeholder="E-Mail-Adresse"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                        required="true"
                                    />
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-3">
                                    <label
                                        for="unternehmen"
                                        class="contact__label"
                                        >Unternehmen</label
                                    >
                                    <input
                                        name="unternehmen"
                                        type="text"
                                        id="unternehmen"
                                        class="form-control"
                                        placeholder="Unternehmen"
                                    />
                                </div>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-12">
                                <div class="md-form mb-4">
                                    <label
                                        for="nachricht"
                                        class="contact__label"
                                        >Nachricht
                                    </label>
                                    <textarea
                                        name="nachricht"
                                        type="text"
                                        id="nachricht"
                                        rows="7"
                                        class="form-control md-textarea"
                                        placeholder="Nachricht "
                                        required="true"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-md-3 mb-3">
                                <button
                                    class="btn btn-light border border-dark"
                                    type="submit"
                                >
                                    Abschicken >
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <br />
                    <br />
                    <ul class="list-unstyled mb-0">
                        <li>
                            <h3>So finden Sie uns</h3>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            <p content__text>
                                Dalwigkstraße 7, 34130 Kassel, Germany
                            </p>
                        </li>

                        <li>
                            <i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 49 15115500290</p>
                        </li>

                        <li>
                            <i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>info@lovealwayswins.de</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
        </section>
        <!--Section: Contact v.2-->
        {% endif %}
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- ##################################### -->
{% endblock %}
