{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="contact">
    <div class="main">
        <div class="contact__text text-center">
            <br />
            <br />
            <br />
            <br />
            <h1>Kontakt - Dürfen wir uns kennenlernen?</h1>
            <p>
                Wenn Sie konkrete Fragen haben oder Details zu einem Projekt
                besprechen möchten, <br />stehen wir Ihnen selbstverständlich
                jederzeit zur Verfügung.
                <br />
                <br />
                So finden Sie uns
            </p>
            <br />
            <br />

            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Dalwigkstraße 7, 34130 Kassel, Germany</p>
                </li>

                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 49 15115500290</p>
                </li>

                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Management@lijanarisen.de</p>
                </li>
            </ul>

            <br />
            <br />
            <br />
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

<!-- ##################################### -->
{% endblock %}
