{% extends "main/base.html" %}
{% load static %}
{% block content %}

{% if user_name %}
<br><br><br>
<center>
   <h2>Thanks {{user_name}}!</h2>
   <p>We received your email and will respond shortly...</p>
</center>
{% else %}
<!-- ***** Contact Area Start ***** -->
<div class="container-fluid justify-content-center pb-5 d-flex"
                    data-aos="zoom-in-up"
                    data-aos-offset="50"
                    data-aos-delay="8"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    style="padding-top: 50px;
                    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);">
  <div class="col-sm-10">
      <section class="law-contact-area mt-50 mb-50">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="google-maps mb-50">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2493.3334657924856!2d9.455102515899092!3d51.323386079605356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bb3f12bb6af68f%3A0x2d2c4fc7383dba1d!2sDalwigkstra%C3%9Fe%2C%2034130%20Kassel!5e0!3m2!1sde!2sde!4v1593716434049!5m2!1sde!2sde"
                          allowfullscreen></iframe>
                      </div>
                      <div class="row">
                          <!-- Contact Information -->
                          <div class="col-12 col-md-4">
                            <div class="card">
                              <div class=" contact-information">
                                  <h5>Address</h5>
                                  <p>Dalwigk str. 10, 3413 Kassel, Germany</p>
                                  <h5>Phone</h5>
                                  <p>+49. 6151. 4567. 890</p>
                                  <h5>Mobile</h5>
                                  <p>+49. 172. 4567. 890</p>
                                  <h5>Email</h5>
                                  <p class="mb-0">info@lovealwayswins.de</p>
                                  </div>
                              </div>
                          </div>
                          <!-- Contact Form -->
                          <div class="col-12 col-md-8">
                              <div class="contact-form">
                                  <!-- Section Heading -->
                                  <div class="section-heading">
                                     <h3>Get In Touch</h3>
                                      <div class="line"></div>
                                  </div>
                                  <!-- Form -->
                                  <form action="{% url 'main-contact' %}" method="post">
                                      {% csrf_token %}
                                      <div class="row">
                                          <div class="col-lg-6">
                                              <input type="text" name="message-name" class="form-control mb-15" placeholder="Your Name">
                                          </div>
                                          <div class="col-lg-6">
                                              <input type="email" name="message-email" class="form-control mb-15" placeholder="Your Email">
                                          </div>

                                          <div class="col-12 input-group mb-3">
                                          <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Subject</label>
                                          </div>
                                          <select class="custom-select" id="inputGroupSelect01" name="message-subject">
                                            <option selected>Choose...</option>
                                            <option value="Cybermobbing">Cyber-mobbing</option>
                                            <option value="Schoolmobbing">School-mobbing</option>
                                            <option value="Members">Members</option>
                                            <option value="Donate">Donate</option>
                                            <option value="Others">Others</option>
                                          </select>
                                        </div>

                                          <div class="col-12">
                                              <textarea name="message" class="form-control mb-50" placeholder="Your Message"></textarea>
                                          </div>
                                          <div class="col-12">
                                              <button type="submit" class="btn law-btn">Send Message</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
           </div>
       </section>
   </div>
</div>
{% endif %}
<!-- ***** Contact Area End ***** -->
{% endblock %}
