{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="main-titel titel__bg-image">
    <div class="main">
        <div class="titel__text">
            <h1>Love Always<br />Wins e.V.</h1>
            <p>Mehr Selbstvertrauen für<br />eine bessere Zukunft.</p>

            <div class="titel__hearts">
                <div class="titel__hearts-1">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg' %}"
                        class="card-img-top"
                        alt="Herz-Flaeche"
                    />
                </div>

                <div class="titel__hearts-2">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Swipe-Herz-Kontur.svg' %}"
                        class="card-img-top"
                        alt="Herz-Kontur"
                    />
                </div>

                <div class="titel__hearts-3">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Swipe-Herz-Kontur.svg' %}"
                        class="card-img-top"
                        alt="Herz-Kontur"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="titel__image main-image-10">
        <img
            src="{% static 'main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg' %}"
            width="1920"
            height="700"
            alt="BG_Titel"
        />
    </div>
</div>
<div class="main-content">
    <div class="main">
        <div class="donate">
            <div class="donate__text">
                <h1>
                    Du möchtest unseren Verein unterstützen?<br />
                    Wir freuen uns über jede Spende!<br />
                    Die Spenden fließen direkt in unsere Projekte mit Kindern-
                    und Jugendlichen an Schulen.
                </h1>
                <p>
                    <br />
                    <b>Spendenkonto:<br /></b>
                    Love Always Wins e. V.<br />
                    IBAN: DE04 5205 0353 0011 8578 28<br />
                    BIC: HELADEF1KAS<br />
                    <br />Du brauchst eine Spendenquittung?<br />
                    Schreib uns Management@lijanarisen.de<br />Wir sind immer
                    auf der Suche nach Sponsoren für Großprojekte :
                    Management@lijanarisen.de
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
