{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<!-- <div class="main-titel titel__bg-image">
    <div class="main">
        <div class="titel__text">
            <h1>Love Always<br />Wins e.V.</h1>
            <p>Mehr Selbstvertrauen für<br />eine bessere Zukunft.</p>

            <div class="titel__hearts">
                <div class="titel__hearts-1">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg' %}"
                        class="card-img-top"
                        alt="Herz-Flaeche"
                    />
                </div>

                <div class="titel__hearts-2">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Swipe-Herz-Kontur.svg' %}"
                        class="card-img-top"
                        alt="Herz-Kontur"
                    />
                </div>

                <div class="titel__hearts-3">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Swipe-Herz-Kontur.svg' %}"
                        class="card-img-top"
                        alt="Herz-Kontur"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="titel__image main-image-10">
        <img
            src="{% static 'main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg' %}"
            width="1920"
            height="700"
            alt="BG_Titel"
        />
    </div>
</div> -->
<div class="main-content">
    <div class="main">
        <div class="content">
            <div class="content__text text-center">
                <h2>Jede Spende zählt! <br />Mach Jugendliche stark!</h2>
                <p>
                    Die Spenden fließen direkt in unsere Projekte mit Kindern-
                    und Jugendlichen an Schulen in Deutschland und Uganda.
                    <br />Wir machen junge Menschen strak gegen Cybermobbing und
                    bauen Brücken zwischen den Kontinenten.<br /><br />
                </p>
            </div>
        </div>
        <div class="container-image-text">
            <div class="content__image">
                <br />
                <img
                    src="{% static 'main/assets/img/new/schule/my_school_donate.PNG' %}"
                    width="560"
                    height="321"
                    alt="schule-donate"
                    class="responsive"
                />
            </div>
            <div class="content__text">
                <h3>Spendenkonto:<br /></h3>
                <p>
                    Love Always Wins e. V.<br />
                    <b>IBAN: DE04 5205 0353 0011 8578 28</b><br />
                    BIC: HELADEF1KAS

                    <br />Du brauchst eine Spendenquittung?<br />
                    Schreib uns <br /><b>management@lovealwayswins.de</b><br />
                </p>
            </div>
        </div>
        <div class="content">
            <br /><br />
            <div class="content__text text-center">
                <h2>
                    Wir sind immer auf der Suche nach Sponsoren für Großprojekte
                    : <br />management@lovealwayswins.de
                </h2>

                <br />
                <a href="{% url 'main-donate' %}">
                    <img
                        src="{% static 'main/assets/img/new/Spende/Button-jetzt-Spenden-Pfeil.svg' %}"
                        width="30%"
                        alt="Spenden Button"
                    />
                </a>
            </div>
            <br /><br />
            <br /><br />
            <br /><br />
        </div>
    </div>
</div>
{% endblock %}
