{%load static %}
<div class="row container-fluid text-white" style="background-color: #0a0c0c">
    <div class="col"></div>
    <div class="w-75 p-3">
        <!-- Start: Pretty Footer -->
        <footer>
            <div class="row">
                <div class="col-sm-1 footer-navigation">
                    <h6>Lijana</h6>
                    <p class="links">
                        <a href="{% url 'main-about' %}">Das bin ich</a><br />
                        <a href="{% url 'main-setcard' %}">Setcard</a><br />
                        <a href="{% url 'main-autogram' %}">Autogramme</a>
                    </p>
                </div>
                <div class="col-sm-2 footer-contacts">
                    <h6>Cybermobbing</h6>
                    <a href="{% url 'main-portalhelp' %}">Hilfestellenportal</a
                    ><br />
                    <a href="{% url 'main-poesiealbum' %}">Poesiealbum</a>
                </div>
                <div class="col-sm-2 footer-contacts">
                    <h6>Schulbesuche</h6>
                    <a href="{% url 'main-gallery' %}">Bildergalerie</a><br />
                    <a href="{% url 'main-booking' %}">Buchnungen</a>
                </div>
                <div class="col-sm-2 footer-contacts">
                    <h6>Projekte</h6>
                    <a class="" href="{% url 'main-school' %}"
                        >Schule in Uganda</a
                    >
                    <a class="" href="{% url 'main-coffee' %}">Geruga Kaffee</a>
                    <a class="" href="{% url 'main-donate' %}"
                        >Unterstürze Uns</a
                    >
                </div>
                <div class="col-sm-1 footer-contacts">
                    <h6>Buch</h6>
                </div>
                <div class="col-sm-2 footer-contacts">
                    <h6>Spende</h6>
                    <a class="" href="{% url 'main-donate' %}"
                        >So kannst du spenden</a
                    >
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="dropdown-divider col-sm-10"></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <br />
                    <h6>Hier findest du Lijana:</h6>
                    <br />
                </div>
                <div class="col-sm-5 text-right">
                    <br />
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="dropdown-divider col-sm-10"></div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <br />
                    <a href="#"><h6>Nutzungsbedingungen</h6></a>
                </div>
                <div class="col-sm-2">
                    <br />
                    <a href="#"><h6>Datenschutzrichtlinie</h6></a>
                </div>
                <div class="col-sm-2">
                    <br />
                    <a href="#"><h6>Cookies-Richtlinien</h6></a>
                </div>
                <div class="col-sm-2">
                    <br />
                    <a href="#"><h6>Sicherheitshinweise</h6></a>
                </div>
                <div class="col-sm-2">
                    <br />
                    <a href="#" class="link-light">Cookie-Einstellungen</a>
                </div>
            </div>
        </footer>

        <!--End footer 2-->
    </div>
    <div class="col"></div>
</div>
