{%load static %}

<div class="row text-white footer-text" style="background-color: #0a0c0c">
    <!-- footer menu header -->
    <div class="row relative-spacer-footer-top">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">Lijana</div>
        <div class="col">Cybermobbing</div>
        <div class="col">Schulbesuche</div>
        <div class="col">Projekte</div>
        <div class="col">Buch</div>
        <div class="col">Spende</div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <!-- footer menu entry1 -->
    <div class="row relative-pos-footer-row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">
            <a href="{% url 'main-about' %}"> Das bin ich</a>
        </div>
        <div class="col">
            <a href="{% url 'main-portalhelp' %}"> Hilfestellenportal</a>
        </div>
        <div class="col">
            <a href="{% url 'main-gallery' %}"> Bildergalerie</a>
        </div>
        <div class="col">
            <a class="" href="{% url 'main-school' %}"> Schule in Uganda</a>
        </div>
        <div class="col">
            <a href="{% url 'main-book' %}"> Mein Buch</a>
        </div>
        <div class="col">
            <a class="" href="{% url 'main-donate' %}"> So kannst du spenden</a>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <!-- footer menu entry2 -->
    <div class="row relative-pos-footer-row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">
            <a href="{% url 'main-setcard' %}">Setcard</a>
        </div>
        <div class="col">
            <a href="{% url 'main-poesiealbum' %}">Poesiealbum</a>
        </div>
        <div class="col">
            <a href="{% url 'main-booking' %}">Buchnungen</a>
        </div>
        <div class="col">
            <a class="" href="{% url 'main-coffee' %}">Geruga Kaffee</a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <!-- footer menu entry3 -->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">
            <a href="{% url 'main-autogram' %}">Autogramme</a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            <a class="" href="{% url 'main-donate' %}">Unterstürze Uns</a>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <!-- footer horizont line before social media -->
    <div class="row relative-line-spacer-top">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col"><hr /></div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
    <!-- footer horizont line before social media end-->

    <!-- footer Lijana social media text -->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div
            class="col relative-pos-footer-social-media-text d-flex align-items-center"
        >
            Hier findest du Lijana:
        </div>
        <div class="col-sm-1 relative-pos-footer-social-media-icon text-end">
            <a
                class="float-start"
                href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
            >
                <img
                    class="card-img-top"
                    style="margin-top: 0px; max-width: 50%; height: auto"
                    src="{% static 'main/assets/img/new/grafik/Icon-Instagram.svg' %}"
                    alt="Instagram"
                />
            </a>
        </div>
        <div class="col-sm-1 relative-pos-footer-social-media-icon text-end">
            <a
                class="float-start"
                href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
            >
                <img
                    class="card-img-top"
                    style="margin-top: 0px; max-width: 50%; height: auto"
                    src="{% static 'main/assets/img/new/grafik/Icon-TikTok.svg' %}"
                    alt="TikTok"
                />
            </a>
        </div>
        <div class="col-sm-1 relative-pos-footer-social-media-icon text-end">
            <a class="float-start" href="https://youtube.com/@lijanarisen8955">
                <img
                    class="card-img-top"
                    style="margin-top: 0px; max-width: 50%; height: auto"
                    src="{% static 'main/assets/img/new/grafik/Icon-YouTube.svg' %}"
                    alt="YouTube"
                />
            </a>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
    <!-- footer Lijana social media text end -->

    <!-- footer horizont line after social media -->
    <div class="row relative-line-spacer-top-bottom">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col"><hr /></div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
    <!-- footer horizont line after social media end -->

    <!-- footer cookies -->
    <div class="row relative-footer-spacer-bottom d-flex align-items-center">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">
            <a href="#">Nutzungsbedingungen</a>
        </div>
        <div class="col">
            <a href="#">Datenschutzrichtlinie</a>
        </div>
        <div class="col">
            <a href="#">Cookies-Richtlinien</a>
        </div>
        <div class="col">
            <a href="#">Sicherheitshinweise</a>
        </div>
        <div class="col">
            <a href="#">Cookie-Einstellungen</a>
        </div>
        <div class="col text-end">
            <a href="#"
                ><img
                    class="card-img-top"
                    style="margin-top: 0px; max-width: 50%; height: auto"
                    src="{% static 'main/assets/img/new/grafik/Button_Kontakt.svg' %}"
                    alt="Button_Kontakt"
            /></a>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
</div>

<!--
<font size="1">This is really tiny text.</font>
<font size="+2">This is bigger text.</font>
<font size="-1">This is smaller text.</font>
-->
<!-- <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="160"
                fill="currentColor"
                class="bi bi-person-workspace"
                viewBox="0 0 16 16"
            >
                <path
                    d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
                />
                <path
                    d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"
                />
            </svg> -->
