{%load static %}
<div class="main-footer">
    <div class="main">
        <div class="footer-menu">
            <div class="footer-menu__item">
                <a class="footer__item-link" href="{% url 'main-home' %}"
                    >Home</a
                >
            </div>
            <div class="footer-menu__item">
                <a class="footer__item-link" href="#">Lijana</a>
            </div>
            <div class="footer-menu__item">
                <a class="footer__item-link" href="#">Cybermobbing</a>
            </div>
            <div class="footer-menu__item">
                <a
                    class="footer__item-link"
                    href="{% url 'main-schulbesuche' %}"
                    >Schulbesuche</a
                >
            </div>
            <div class="footer-menu__item">
                <a class="footer__item-link" href="#">Projekte</a>
            </div>
            <div class="footer-menu__item">
                <a class="footer__item-link" href="{% url 'main-book' %}"
                    >Buch</a
                >
            </div>
            <div class="footer-menu__item">
                <a class="footer__item-link" href="{% url 'main-donate' %}"
                    >Spende</a
                >
            </div>
            <div class="footer-menu__item">
                <a class="footer__item-link" href="{% url 'main-contact' %}"
                    >Kontakt</a
                >
            </div>
            <!-- <div class="footer-menu__item">
                <a class="footer__item-link" href="#">Kontakt</a>
            </div> -->
        </div>
    </div>
    <div class="main">
        <div class="footer-info">
            <div class="footer-info__item">
                <p>Hier findest du Lijana:</p>
            </div>
            <div class="footer-info__logo">
                <a href="{% url 'main-home' %}">
                    <img
                        src="{% static 'main/assets/img/new/grafik/Logo_LAW_final.svg' %}"
                        width="200"
                        height="100"
                        loading="lazy"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
            <div class="footer-info__item">
                <h5>Management@lijanarisen.de</h5>
            </div>
            <div class="footer-info__social">
                <div class="footer__icons1">
                    <a
                        href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
                        target="blank"
                    >
                        <img
                            src="{% static 'main/assets/img/new/grafik/Icon-Instagram.svg' %}"
                            width="28"
                            height="29"
                            alt="LIJANA Instagram Icon"
                            loading="lazy"
                        />
                    </a>
                </div>
                <div class="footer__icons2">
                    <a
                        href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
                        target="blank"
                    >
                        <img
                            src="{% static 'main/assets/img/new/grafik/Icon-TikTok.svg' %}"
                            width="30"
                            height="31"
                            alt="LIJANA TikTok Icon"
                            loading="lazy"
                        />
                    </a>
                </div>
                <div class="footer__icons3">
                    <a
                        href="https://youtube.com/@lijanarisen8955"
                        target="blank"
                    >
                        <img
                            src="{% static 'main/assets/img/new/grafik/Icon-YouTube.svg' %}"
                            width="30"
                            height="36"
                            alt="LIJANA YouTube Icon"
                            loading="lazy"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main flex-row">
        <div class="footer-term">
            <div class="footer-term__items">
                <a class="footer-nav_link footer-nav_link-bottom" href="#"
                    >Nutzungsbedingungen</a
                >
            </div>
            <div class="footer-term__items">
                <a
                    class="footer-nav_link footer-nav_link-bottom"
                    href="{% url 'main-impressum' %}"
                    >Impressum</a
                >
            </div>
            <div class="footer-term__items">
                <a class="footer-nav_link footer-nav_link-bottom" href="#"
                    >Datenschutzrichtlinie</a
                >
            </div>
            <div class="footer-term__items">
                <a class="footer-nav_link footer-nav_link-bottom" href="#"
                    >Cookies-Richtlinien</a
                >
            </div>
            <div class="footer-term__items">
                <a class="footer-nav_link footer-nav_link-bottom" href="#"
                    >Sicherheitshinweise</a
                >
            </div>
            <div class="footer-term__items">
                <a class="footer-nav_link footer-nav_link-bottom" href="#"
                    >Cookie-Einstellungen</a
                >
            </div>
        </div>
        <!-- <div class="footer-term__contact">
            <a href="#"
                ><img
                    src="{% static 'main/assets/img/new/grafik/Button_Kontakt.svg' %}"
                    width="150"
                    height="70"
                    alt="Kontakt LoveAlwaysWins"
                    loading="lazy"
            /></a>

           
    </div> -->
    </div>
    <!-- <div class="main flex-row">
        <div class="footer-term__contact">
            <button type="button" class="btn btn-info">
                Management@lijanarisen.de
            </button>
        </div>
    </div> -->
</div>
