{% load static %}
<header class="header">
    <div class="main-container">
        <div class="logo-container">
            <a href="{% url 'main-home' %}">
                <img
                    src="{% static 'main/assets/img/new/grafik/Logo_LAW_final.svg' %}"
                    height="100%"
                    alt="LOGO LoveAlwaysWins"
                />
            </a>
        </div>
        <div class="action-button">
            {% if title == "Buch" %}
            <a href="{% url 'main-donate' %}">
                <img
                    src="{% static 'main/assets/img/new/grafik/Button_Spenden.svg' %}"
                    height="100%"
                    alt="Spenden Button"
                />
            </a>
            {% else %}
            <a href="{% url 'main-book' %}">
                <img
                    src="{% static 'main/assets/img/new/grafik/Button_Bestellen.svg' %}"
                    height="100%"
                    alt="Buy Button"
                />
            </a>
            {% endif %}
        </div>
    </div>
</header>
