{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="impressum">
    <div class="main">
        <div class="impressum__text">
            <h1>Impressum - Alles auf einen Blick</h1>

            <p>
                Anbieter dieser Internetpräsenz ist im Rechtssinne der
                Verein:<br />
                <b> Love Always Wins e.V.</b>
            </p>

            <p>
                Dalwigkstraße 7, 34130 Kassel
                <br />
                Telefon: 015115500290
                <br />
                Webseite: www.lovealwayswins.de
                <br />
                Email: management@lijanarisen.de
            </p>

            <p>
                <b>Vereinsregister:</b>
                <br />
                Der Verein Love Always Wins e.V. ist im Vereinsregister des
                Amtsgerichts Kassel <br />unter der Registernummer VR 5675
                eingetragen.
            </p>

            <p>
                <b>Vertretende:</b>
                <br />
                Love Always Wins e.V. wird gesetzlich vertreten durch den
                Vorstand.
            </p>

            <p>
                <b>Vorsitzende</b>
                <br />
                Lijana Kaggwa
            </p>

            <p>
                <b>Schatzmeisterin</b>
                <br />
                Gabriele Krappa
            </p>

            <p>
                <b>Vertretende Schatzmeisterin</b>
                <br />
                Angela Schulz
                <br />
                <br />
                Steuernummer: 26 250 7524 2
                <br />
                <br />
            </p>

            <p>
                <b>Unser Spenden-Konto:</b>
                <br />
                Love Always Wins e. V.
                <br />
                IBAN: DE04 5205 0353 0011 8578 28
                <br />
                BIC: HELADEF1KAS
                <br />
                <br />
                Alle Inhalte dieser Website sind urheberrechtlich geschützt.
            </p>

            <br />
            <br />
            <h2>Design</h2>
            <br />
            <p>Juliane Dingel, juliegrafie@gmail.com</p>
            <br />
            <br />

            <h2>Technische Umsetzung</h2>
            <br />
            <p>James Kaggwa, jmkaggwa@gmail.com</p>

            <br />
            <br />
            <h3></h3>
            <br />

            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<!-- ##################################### -->
{% endblock %}
