{% extends "../main/base_generic.html" %} {% load static %} {% block content %}

<!-- Mine was doing the same thing, so I started messing with parts of the SVG code
until I came to this conclusion. I had the SVG code written as
<svg
    width="auto"
    height="auto"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
></svg>

I guess Safari doesn’t respond to SVG code that has a width and height of auto.
So I rewrote the code to fit responsively for my particular use as
<svg
    width="2em"
    height="2em"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
></svg>
Now it renders perfectly. -->
<!-- Embedding the SVG with a HTML embed as
<object type="image/svg+xml" data="some.svg"></object> did the trick. -->

<!-- <object
    data="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
    type="image/svg+xml"
    width="80"
    height="100"
></object> -->

<div class="main-image-container">
    <div class="container">
        <div class="slider-content">
            <h1>Love Always<br />Wins e.V.</h1>
            <p>Mehr Selbstvertrauen für<br />eine bessere Zukunft.</p>
        </div>
    </div>
    <div class="main-image main-image-40">
        <img
            src="../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg"
            width="1920"
            height="500"
            alt="KSB Pumpen kaufen von KLAWA-Service"
        />
    </div>
</div>

<div class="main">
    <div class="container">
        <h1>Willkommen bei uns!<br />Schön, dass du hier bist.</h1>
        <p>Hier findest du alles Rund um Lijana und Love Always Wins e.V.</p>
        <p>Hier findest du alles Rund um Lijana und Love Always Wins e.V.</p>

        <div class="teaser-container">
            <div class="teaser">
                <a href="/about/"
                    ><div class="teaser_img">
                        <img
                            src="../../static/main/assets/img/new/01-Lijana.jpg"
                            width="360"
                            height="275"
                            alt="Lijana-model"
                            loading="lazy"
                        />
                        <span class="teaser_tag">Model Karriere</span>
                    </div>
                    <div class="teaser_text">
                        <p>
                            Lijana Kaggwa (25) gab ihr Mathe-<br />studium für
                            eine Modelkarriere auf.
                        </p>
                    </div></a
                >
            </div>
            <div class="teaser">
                <a href="/hilfe/"
                    ><div class="teaser_img">
                        <img
                            src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                            width="360"
                            height="275"
                            alt="Cybermobbing-Lijana"
                            loading="lazy"
                        />
                        <span class="teaser_tag">Albtraum</span>
                    </div>
                    <div class="teaser_text">
                        <p>
                            Was als großer Traum begann, mündete<br />in einem
                            Albtraum. Aus der Favoritin der<br />Sendung wurde
                            eine Zielscheibe.
                        </p>
                    </div></a
                >
            </div>
            <div class="teaser">
                <a href="/gallery/"
                    ><div class="teaser_img">
                        <img
                            src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                            width="360"
                            height="275"
                            alt="Schulbesuche-Lijana"
                            loading="lazy"
                        />
                        <span class="teaser_tag">Workshops</span>
                    </div>
                    <div class="teaser_text">
                        <p>
                            Erhalte Einblicke in unserer Vorträge und<br />
                            Workshops an Schulen.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="container-image-text">
            <div class="content-text">
                <h2>>>Du verdienst den Tod!<br />Trotzdem lebe ich weiter<<</h2>
                <p>
                    Bestellt Buch bis 03.04.2023 vor und<br />erhaltet eine
                    kleine Überraschung!
                </p>
            </div>
            <div class="content-image">
                <img
                    src="../../static/main/assets/img/new/Buch.png"
                    width="560"
                    height="321"
                    alt="KSB Pumpe kaufen Vorteile bei KLAWA"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</div>

<!--  ########  Header background-image ########
<div class="bg-img">
    <div class="row law_main">
        <!-- The col for the titel text
        <div class="col-sm-6 relative-pos-top-titel-text">
            <div id="maintitel">Love Always<br />Wins e.V.</div>
            <!-- The col for the sub titel text
            <div class="col relative-pos-bottom-titel-text">
                <div id="subtitel">
                    Mehr Selbstvertrauen für<br />eine bessere Zukunft
                </div>
            </div>
        </div>
        <div
            class="col-sm-4 text-start relative-heart-spacer-top relative-heart-spacer-bottom"
        >
            <!-- <img
                style="
                    margin-top: 0px;
                    margin-left: 50px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg"
                class="card-img-top"
                alt="Herz-Flaeche"
            /> -->

<!-- <img
                style="margin-left: 10px; max-width: 10%; height: 18px"
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            />
            <img
                style="margin-left: 10px; max-width: 10%; height: 18px"
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            /> 
            <object
                data="../../static/main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg"
                type="image/svg+xml"
                width="10%"
                height="18"
            ></object>
            <object
                data="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                type="image/svg+xml"
                width="10%"
                height="18"
            ></object>
            <object
                data="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                type="image/svg+xml"
                width="10%"
                height="18"
            ></object>
        </div>
    </div>
</div>
<!-- Header background-image ends here 

<!-- ######## Content block starts here ########
<div class="row law_main" style="height: 260px">
    <div class="col relative-pos-content-text">
        <div id="maincontent">
            Willkommen bei uns!<br />Schön, dass du hier bist.
        </div>
        <div class="relative-pos-content-sub-text" id="subcontent">
            Hier findest du alles Rund um Lijana und Love Always Wins e.V.
        </div>
    </div>
</div>
<!-- ######## Content block ends here ########

<!-- ######## History block starts here ########
<div class="container-fluid">
    <div class="row law_main relative-pos-card-top-bottom" style="height: auto">
        <div class="col card">
            <img
                src="../../static/main/assets/img/new/01-Lijana.jpg"
                class="card-img-top"
                alt="Lijana"
            />
            <div class="card-body">
                <p class="card-text">
                    Lijana Kaggwa (25) gab ihr Mathe-<br />studium für eine
                    Modelkarriere auf.
                </p>
            </div>
        </div>
        <div class="col card">
            <img
                src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                class="card-img-top"
                alt="Cybermobbing-Lijana"
            />
            <div class="card-body">
                <p class="card-text">
                    Was als großer Traum begann, mündete<br />in einem Albtraum.
                    Aus der Favoritin der<br />Sendung wurde eine Zielscheibe.
                </p>
            </div>
        </div>
        <div class="col card">
            <img
                src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                class="card-img-top"
                alt="Schulbesuche-Lijana"
            />
            <div class="card-body">
                <div class="card-text" id="subcontent">
                    Erhalte Einblicke in unserer Vorträge und<br />
                    Workshops an Schulen.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #cards_landscape_wrap-2 .card-flyer:hover .image-box img  
<div id="cards_landscape_wrap-2">
    <div class="row law_main relative-pos-card-top-bottom" style="height: auto">
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/01-Lijana.jpg"
                                class="card-img-top"
                                alt="Lijana Foto"
                            />
                        </div>
                        <div class="text-container">
                            <div class="text-start">
                                <a class="" href="/about/">
                                    <!-- <img
                                        src="../../static/main/assets/img/new/grafik/01-Lijana.svg"
                                        alt="Lijana button"
                                        height="100px"
                                        width="80px"
                                    />
                                    <object
                                        data="../../static/main/assets/img/new/grafik/01-Lijana.svg"
                                        type="image/svg+xml"
                                        width="40%"
                                        height="100"
                                    ></object>
                                </a>
                            </div>
                            <div
                                class="relative-pos-content-sub-text"
                                id="subcontent"
                            >
                                Lijana Kaggwa (25) gab ihr Mathe-<br />studium
                                für eine Modelkarriere auf.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                                alt="Cybermobbing-Lijana"
                            />
                        </div>
                        <div class="text-container">
                            <div class="text-start">
                                <a class="" href="/hilfe/">
                                    <!-- <img
                                        src="../../static/main/assets/img/new/grafik/02-Cybermobbing.svg"
                                        alt="Cybermobbing"
                                        height="100px"
                                        width="160px"
                                    /> 
                                    <object
                                        data="../../static/main/assets/img/new/grafik/02-Cybermobbing.svg"
                                        type="image/svg+xml"
                                        width="30%"
                                        height="100"
                                    ></object>
                                </a>
                            </div>
                            <div
                                class="relative-pos-content-sub-text"
                                id="subcontent"
                            >
                                Was als großer Traum begann, mündete<br />in
                                einem Albtraum. Aus der Favoritin der<br />Sendung
                                wurde eine Zielscheibe.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box" style="height: 363px">
                            <img
                                src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                                alt="Schulbesuche-Lijana"
                            />
                        </div>

                        <div class="text-container" style="height: 169px">
                            <div class="text-start relative-spacer-card-top">
                                <a class="" href="/gallery/">
                                    <!-- <img
                                        src="../../static/main/assets/img/new/grafik/03-Schulbesuche.svg"
                                        alt="Schulbesuche"
                                        height="100px"
                                        width="160px"
                                    /> 
                                    <object
                                        data="../../static/main/assets/img/new/grafik/03-Schulbesuche.svg"
                                        type="image/svg+xml"
                                        width="30%"
                                        height="100"
                                    ></object>
                                </a>
                            </div>
                            <div
                                class="relative-pos-content-sub-text"
                                id="subcontent"
                            >
                                Erhalte Einblicke in unserer Vorträge und<br />
                                Workshops an Schulen.
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- ######## History block ends here ########-

<!-- ######## Buy Book block starts here ########


<div
    class="bg-img"
    style="
        margin-top: -15px;
        /* Control the height of the image */
        min-height: 490px;
        max-width: 100%;
        background-image: url('../../static/main/assets/img/new/grafik/Buch-Hintergrund-Banner.jpg');
    "
>
    <div class="row law_main" style="height: 490px">
        <div class="col-lg-8 relative-pos-book-titel">
            <!-- <div class="font-book-titel-text">
                >>Du verdienst den Tod!<br />Trotzdem lebe ich weiter<<
            </div>
            <div id="booktitel">
                >>Du verdienst den Tod!<br />Trotzdem lebe ich weiter<<
            </div>

            <div class="col relative-pos-book-sub-titel">
                <div id="bookordertext">
                    Bestellt Buch bis 03.04.2023 vor und<br />erhaltet eine
                    kleine Überraschung!
                </div>
            </div>
            <div class="relative-buy-button-position">
                <a href="{% url 'main-book' %}">
                    <!-- <img
                        class=""
                        src="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                        alt="Button_Bestellen"
                        width="120"
                        height="80"
                    /> 
                    <object
                        data="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                        type="image/svg+xml"
                        width="30%"
                        height="100"
                    ></object>
                </a>
            </div>
        </div>
        <!-- <div class="col-lg-4 d-flex align-items-center z-index: 12">
            <a class="" href="{% url 'main-book' %}">
                <img
                    class="card-img-top"
                    style="margin-top: 0px; max-width: 100%; max-height: 100%"
                    src="{% static 'main/assets/img/new/Buch.png' %}"
                    class="imgshadow"
                    alt="Book"
                />
            </a>
        </div>
        <div class="col-lg-4 card-flyer d-flex align-items-center">
            <div
                class="image-box"
                style="margin-top: 0px; max-width: 100%; max-height: 100%"
            >
                <a class="" href="{% url 'main-book' %}">
                    <img
                        src="../../static/main/assets/img/new/Buch.png"
                        class="card-img-top"
                        alt="Buch von Lijana"
                    />
                </a>
            </div>
        </div>
    </div>
</div>

-->

{% endblock %}
