{% extends "../main/base_generic.html" %} {% load static %} {% block content %}
<div class="bg-image-container">
    <div class="container">
        <div class="titel-content">
            <h1>Love Always<br />Wins e.V.</h1>
            <p>Mehr Selbstvertrauen für<br />eine bessere Zukunft.</p>
            <div class="titel-hearts"></div>
            <img
                style="
                    margin-top: 40px;
                    margin-left: 490px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg"
                class="card-img-top"
                alt="Herz-Flaeche"
            />
            <img
                style="
                    margin-top: -18px;
                    margin-left: 530px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            />
            <img
                style="
                    margin-top: -18px;
                    margin-left: 570px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            />
            <!-- <img
                style="
                    margin-top: 40px;
                    margin-left: 490px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Flaeche.svg"
                class="card-img-top"
                alt="Herz-Flaeche"
            />
            <img
                style="
                    margin-top: -18px;
                    margin-left: 530px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            />
            <img
                style="
                    margin-top: -18px;
                    margin-left: 570px;
                    max-width: 10%;
                    height: 18px;
                "
                src="../../static/main/assets/img/new/grafik/Swipe-Herz-Kontur.svg"
                class="card-img-top"
                alt="Herz-Kontur"
            /> -->
        </div>
    </div>
    <div class="main-image main-image-10">
        <img
            src="../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg"
            width="1920"
            height="700"
            alt="BG_Titel"
        />
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="main-text" style="margin-top: 65px; margin-bottom: 54px">
            <h1>Willkommen bei uns!<br />Schön, dass du hier bist.</h1>
            <p>
                Hier findest du alles Rund um Lijana und Love Always Wins e.V.
            </p>
        </div>

        <div class="teaser-container">
            <div class="teaser">
                <a href="/about/"
                    ><div class="teaser_img">
                        <img
                            src="../../static/main/assets/img/new/01-Lijana.jpg"
                            width="100%"
                            height="100%"
                            alt="Lijana-model"
                            loading="lazy"
                        />
                        <span class="card_label">Model Karriere</span>
                    </div>
                </a>
                <a href="/about/">
                    <img
                        style="margin-top: 28px; margin-left: 20px"
                        src="../../static/main/assets/img/new/grafik/01-Lijana.svg"
                        alt="Button_Lijana."
                        width="80"
                        height="40"
                        loading="lazy"
                    />
                </a>
                <div class="teaser_text">
                    <p>
                        Lijana Kaggwa (25) gab ihr Mathe-<br />studium für eine
                        Modelkarriere auf.
                    </p>
                </div>
            </div>
            <div class="teaser">
                <a href="/hilfe/"
                    ><div class="teaser_img">
                        <img
                            src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                            width="100%"
                            height="100%"
                            alt="Cybermobbing-Lijana"
                            loading="lazy"
                        />
                        <span class="card_label">Albtraum</span>
                    </div>
                </a>
                <a href="/hilfe/">
                    <img
                        style="margin-top: 28px; margin-left: 20px"
                        src="../../static/main/assets/img/new/grafik/02-Cybermobbing.svg"
                        alt="Button_Cybermobbing"
                        width="120"
                        height="60"
                        loading="lazy"
                    />
                </a>
                <div class="teaser_text">
                    <p>
                        Was als großer Traum begann, mündete in einem Albtraum.
                        Aus der Favoritin der Sendung wurde eine Zielscheibe.
                    </p>
                </div>
            </div>
            <div class="teaser">
                <a href="/gallery/"
                    ><div class="teaser_img">
                        <img
                            src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                            width="100%"
                            height="100%"
                            alt="Schulbesuche-Lijana"
                            loading="lazy"
                        />
                        <span class="card_label">Workshops</span>
                    </div>
                </a>
                <a href="/gallery/">
                    <img
                        style="margin-top: 28px; margin-left: 20px"
                        src="../../static/main/assets/img/new/grafik/03-Schulbesuche.svg"
                        alt="Button_Schulbesuche"
                        width="120"
                        height="60"
                        loading="lazy"
                    />
                </a>
                <div class="teaser_text">
                    <p>
                        Erhalte Einblicke in unserer Vorträge und Workshops an
                        Schulen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="book">
    <div class="container">
        <div class="logo">
            <img
                src="../../static/main/assets/img/new/grafik/Buch-text-Banner.svg"
                width="600"
                height="350"
                alt="BOOK TEXT CYBERMOBBING LoveAlwaysWins"
                loading="lazy"
            />

            <a href="{% url 'main-book' %}">
                <img
                    style="margin-top: 56px"
                    src="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                    alt="Button_Bestellen"
                    width="180"
                    height="80"
                    loading="lazy"
                />
            </a>
        </div>
        <div class="action-button">
            <a href="{% url 'main-book' %}">
                <img
                    src="../../static/main/assets/img/new/Buch.png"
                    width="400"
                    height="700"
                    alt="BOOK CYBERMOBBING LoveAlwaysWins"
                    loading="lazy"
                />
            </a>
        </div>
    </div>
</header>

<!-- <div class="bg-img">
    <div class="container">
        <div class="container-image-text">
            <div class="content-text">
                <h1>>>Du verdienst den Tod! Trotzdem lebe ich weiter<<</h1>
                <p>
                    Bestellt Buch bis 03.04.2023 vor und erhaltet eine kleine
                    Überraschung!
                </p>
            </div>
            <div class="content-image">
                <img
                    src="../../static/main/assets/img/new/Buch.png"
                    width="350"
                    height="700"
                    alt="Lijana's Book"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg-img">
    <div class="container">
        <div class="container-image-text">
            <div class="content-image">
                <img
                    src="../../static/main/assets/img/new/Buch.png"
                    width="321"
                    height="560"
                    alt="KSB Pumpe kaufen Vorteile bei KLAWA"
                    loading="lazy"
                />
            </div>
            <div class="content-image">
                <img
                    src="../../static/main/assets/img/new/Buch.png"
                    width="321"
                    height="560"
                    alt="KSB Pumpe kaufen Vorteile bei KLAWA"
                    loading="lazy"
                />
            </div>
        </div>
    </div>
</div> -->

{% endblock %}
