{% extends "../main/base_generic.html" %} {% block content %}
<!-- ######## Titel bild block starts here ########-->
<!-- Background image -->
<div
    class="row bg-image w-100"
    style="
        margin-top: -22px;
        margin-right: -15px;
        margin-bottom: 0px;
        height: 700px;
        width: 1700px;
        /* height: 100%;
        width: 100%;*/
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-image: url('../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg');
    "
>
    <!-- Container 
    <div class="container d-flex justify-content-center align-items-center">
        <div class="col"></div>
        <div class="col-sm-9">
            <span class="font-size-60b">Love Always<br /></span>
            <span class="font-size-60b">Wins e.V.<br /></span>
            <span class="font-size-36b">Mehr Selbstvertrauen für<br /></span>
            <span class="font-size-36b">eine bessere Zukunft</span>
        </div>
        <div class="col"></div>
    </div>
-->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col relative-pos-top-titel-text">
            <div class="titel-text">Love Always</div>
            <div class="titel-text">Wins e.V.</div>
            <div class="titel-sub-text">Mehr Selbstvertrauen für</div>
            <div class="titel-sub-text">eine bessere Zukunft</div>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
</div>

<!-- ######## Titel bild block ends here ########-->

<!-- ######## Content block starts here ########-->
<div class="row" style="height: 230px">
    <div class="col-sm-1 margin-pos-right"></div>
    <div class="col relative-pos-content-text">
        <div class="content-text">Willkommen bei uns!<br /></div>
        <div class="content-text">Schön, dass du hier bist.<br /></div>
        <div class="content-sub-text relative-pos-content-sub-text">
            Hier findest du alles Rund um Lijana und Love Always Wins e.V.
        </div>
    </div>
    <div class="col-sm-1 margin-pos-left"></div>
</div>
<!-- ######## Content block ends here ########-->

<!-- ######## History block starts here ########-->
<div id="cards_landscape_wrap-2">
    <div class="row" style="height: 352px">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/01-Lijana.jpg"
                                class="card-img-top"
                                alt="Lijana Foto"
                            />
                        </div>
                        <div class="text-container">
                            <h6>Modelkarriere</h6>
                            <p>
                                Lijana Kaggwa (25) gab ihr Mathestudium für eine
                                Modelkarriere auf.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/02-Cybermobbing.jpg"
                                alt=""
                            />
                        </div>
                        <div class="text-container">
                            <h6>Albtraum</h6>
                            <p>
                                Was als großer Traum begann, mündete in einem
                                Albtraum. Aus der Favoritin der Sendung wurde
                                eine Zielscheibe.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="">
                <div class="card-flyer h-100">
                    <div class="text-box">
                        <div class="image-box">
                            <img
                                src="../../static/main/assets/img/new/03-Schulbesuche.jpg"
                                alt=""
                            />
                        </div>

                        <div class="text-container">
                            <h6>Workshops</h6>
                            <p>
                                Erhalte Einblicke in unserer Vorträge und
                                Workshops an Schulen.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
</div>
<!-- ######## History block ends here ########-->

<!-- ######## Buy Book block starts here ########-->
<!-- Background image -->
<div
    class="row bg-image w-100"
    style="
        margin-top: 158px;
        margin-right: -15px;
        height: 400px;
        width: 1700px;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-image: url('../../static/main/assets/img/new/Banner-Buch.png');
    "
>
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col relative-pos-book-titel">
            <div class="book-titel-text">Du verdienst den Tod!</div>
            <div class="book-titel-text">Trotzdem lebe ich weiter.</div>
            <div class="col relative-pos-book-sub-titel">
                <div class="book-titel-sub-text">
                    Bestellt Buch bis 03.04.2023 vor und
                </div>
                <div class="book-titel-sub-text">
                    erhaltet eine kleine Überraschung!
                </div>
            </div>
            <div class="col relative-pos-book-button">
                <svg
                    version="1.1"
                    id="Ebene_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="150"
                    viewBox="0 0 168 52"
                    style="enable-background: new 0 0 168 52"
                    xml:space="preserve"
                >
                    <style type="text/css">
                        .st0 {
                            fill: #ffffff;
                        }
                    </style>
                    <g>
                        <g>
                            <path
                                class="st0"
                                d="M136.7,51.6H25.5c-14.2,0-25.8-11.6-25.8-25.8S11.3,0.1,25.5,0.1h111.3c14.2,0,25.8,11.6,25.8,25.8
			S150.9,51.6,136.7,51.6z M25.5,2.1C12.4,2.1,1.7,12.8,1.7,25.9s10.7,23.8,23.8,23.8h111.3c13.1,0,23.8-10.7,23.8-23.8
			S149.8,2.1,136.7,2.1H25.5z"
                            />
                        </g>
                    </g>
                    <g>
                        <path
                            class="st0"
                            d="M63.9,10c0.2,0,0.8,0,1.5,0c0,1.3,0,4,0,8c0,0.5-0.1,1.1-0.4,1.6c-0.1,0.2-0.2,0.4-0.4,0.6
		c-0.2,0.2-0.4,0.4-0.5,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.5,0.2-0.9,0.3-1.4,0.3c-0.2,0-0.4,0-0.8,0c-0.5,0-1-0.1-1.5-0.4
		c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.1-0.2-0.3-0.2-0.5c-0.2-0.4-0.2-0.8-0.2-1.2
		c0-0.1,0-0.3,0-0.6c0.2,0,0.8,0,1.5,0c0,0.1,0,0.3,0,0.5c0,0.5,0.2,0.9,0.5,1.3c0.2,0.1,0.3,0.2,0.3,0.3c0.3,0.2,0.7,0.4,1,0.4
		c0.2,0,0.4,0,0.7,0c0.4,0,0.8-0.1,1.1-0.4c0.2-0.1,0.3-0.3,0.4-0.4c0.3-0.4,0.4-0.8,0.4-1.2C63.9,16.2,63.9,13.5,63.9,10L63.9,10z"
                        />
                        <path
                            class="st0"
                            d="M68.5,10c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
		c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
		C68.5,19.5,68.5,15.7,68.5,10L68.5,10z"
                        />
                        <path
                            class="st0"
                            d="M83.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
		c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C77.4,10,79.9,10,83.7,10z"
                        />
                        <path
                            class="st0"
                            d="M85.4,10c1.4,0,4.2,0,8.5,0v0c-1.1,1.7-3.2,5-6.5,9.9c1.1,0,3.2,0,6.4,0l0,0c0,0.2,0,0.7,0,1.5l0,0
		c-1.5,0-4.6,0-9.2,0v0c1.1-1.7,3.2-5,6.5-9.9c-0.9,0-2.8,0-5.7,0v0C85.4,11.2,85.4,10.7,85.4,10L85.4,10z"
                        />
                        <path
                            class="st0"
                            d="M102.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
		c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C96.4,10,99,10,102.7,10z"
                        />
                    </g>
                    <g>
                        <path
                            class="st2"
                            d="M24.5,29.2c0,0,0.3,0.6,0.7,1.8c0.7,1.6,1.7,4.1,3,7.4h0c0.6-1.5,1.8-4.5,3.6-9c0-0.1,0.1-0.1,0.1-0.1
		c0.4,0,0.9,0,1.7,0h0c-0.8,1.9-2.3,5.6-4.6,11.2c0,0.2-0.1,0.2-0.1,0.2c-0.3,0-0.8,0-1.4,0c0,0-0.1-0.1-0.2-0.3
		c-2.2-5.2-3.3-8-3.4-8.3c-0.1-0.1-0.4-1-1.2-2.8C23.1,29.2,23.7,29.2,24.5,29.2z"
                        />
                        <path
                            class="st2"
                            d="M39.9,29.2C39.9,29.2,39.9,29.2,39.9,29.2c1.5,0,2.9,0.6,4,1.8c1,1.2,1.5,2.5,1.5,4c0,1.6-0.6,3-1.8,4.2
		c-1.1,1-2.3,1.5-3.7,1.5c-1.4,0-2.6-0.5-3.7-1.5c-0.5-0.5-0.8-0.9-0.9-1.2c-0.6-0.9-0.9-2-0.9-3.1c0,0,0,0,0,0c0-1.6,0.6-3,1.8-4.2
		c0.1-0.1,0.3-0.2,0.5-0.4C37.7,29.5,38.8,29.2,39.9,29.2z M35.9,34.9c0,1.2,0.5,2.3,1.4,3.2c0.8,0.7,1.6,1,2.6,1
		c1.2,0,2.3-0.6,3.2-1.7c0.5-0.8,0.8-1.6,0.8-2.5c0,0,0-0.1,0-0.1c0-1.1-0.4-2-1.1-2.9c-0.8-0.9-1.8-1.3-2.9-1.3
		c-1.2,0-2.2,0.5-3.1,1.5C36.2,33,35.9,33.9,35.9,34.9z"
                        />
                        <path
                            class="st2"
                            d="M47.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.5,3.1,1.4c0.6,0.7,0.9,1.5,0.9,2.4c0,1.1-0.4,2-1.3,2.8
		c-0.5,0.4-0.9,0.6-1.2,0.7c0,0,0.5,0.9,1.5,2.7c0.2,0.3,0.5,0.8,0.9,1.5v0c-0.3,0-0.9,0-1.8,0c0,0-0.2-0.2-0.4-0.8
		c-1.1-1.9-1.7-3-1.8-3.2c-0.5,0-1.2,0-2.2,0c0,0.6,0,1.9,0,3.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C47.8,38.7,47.8,34.9,47.9,29.2
		L47.9,29.2z M49.3,30.7c0,0.8,0,2.2,0,4.5c0.4,0,1.2,0,2.4,0c0.8,0,1.4-0.3,1.9-0.9c0.3-0.4,0.5-0.8,0.5-1.3c0,0,0-0.1,0-0.1
		c0-0.7-0.3-1.3-1-1.8c-0.4-0.3-1-0.5-1.7-0.5C51,30.7,50.3,30.7,49.3,30.7C49.4,30.7,49.3,30.7,49.3,30.7z"
                        />
                        <path
                            class="st2"
                            d="M57.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.4,2.9,1.2c0.4,0.5,0.6,1,0.6,1.7c0,0,0,0.1,0,0.2
		c0,0.9-0.3,1.6-1,2.2v0c0.2,0.1,0.4,0.2,0.6,0.5c0.5,0.6,0.8,1.2,0.8,1.9c0,0.1,0,0.3,0,0.6c0,1.1-0.5,1.9-1.5,2.6
		c-0.5,0.3-0.8,0.4-0.9,0.4c-0.3,0.1-0.8,0.2-1.4,0.2c-0.9,0-2.1,0-3.9,0c0,0,0,0,0,0C57.9,38.7,57.9,34.9,57.9,29.2L57.9,29.2z
		 M59.4,35.4c0,0.6,0,1.8,0,3.7c0.4,0,1.3,0,2.6,0c0.9,0,1.5-0.3,1.9-1c0.1-0.2,0.2-0.5,0.2-0.8c0-0.1,0-0.2,0-0.3
		c0-0.7-0.4-1.1-1.1-1.4c-0.3-0.1-0.7-0.2-1.2-0.2C61.2,35.4,60.5,35.4,59.4,35.4C59.4,35.4,59.4,35.4,59.4,35.4z M59.4,30.7
		c0,0.5,0,1.6,0,3.2c0.4,0,1.1,0,2.2,0c0.9,0,1.6-0.3,1.9-1c0.1-0.2,0.1-0.4,0.1-0.5c0-0.1,0-0.2,0-0.3c0-0.6-0.4-1-1.2-1.2
		c-0.2-0.1-0.6-0.1-1-0.1C61,30.7,60.3,30.7,59.4,30.7z"
                        />
                        <path
                            class="st2"
                            d="M68.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
		c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
		C68.1,38.7,68.1,34.9,68.1,29.2L68.1,29.2z"
                        />
                        <path
                            class="st2"
                            d="M79.7,29c0,0,0.1,0,0.1,0c0.6,0,1.2,0.1,1.8,0.4c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.2,0.4,0.4
		c0.2,0.2,0.3,0.4,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.3c-0.3,0.1-0.8,0.4-1.4,0.7c0-0.1-0.1-0.2-0.3-0.4c-0.5-0.5-1.1-0.8-1.8-0.8
		c-0.7,0-1.3,0.2-1.7,0.6c-0.2,0.2-0.3,0.3-0.3,0.4c-0.1,0.2-0.2,0.5-0.2,0.7c0,0,0,0,0,0c0,0.4,0.1,0.6,0.4,0.8
		c0.1,0.1,0.2,0.2,0.4,0.2c0.3,0.2,0.7,0.3,1.2,0.5c0.4,0.1,0.9,0.2,1.4,0.3c0.3,0.1,0.6,0.2,0.8,0.3c0.2,0.1,0.4,0.2,0.6,0.4
		c0.2,0.2,0.4,0.3,0.5,0.5c0.4,0.6,0.6,1.2,0.6,1.9v0c0,0.7-0.2,1.3-0.6,1.9c-0.1,0.1-0.2,0.2-0.4,0.4c-0.2,0.2-0.4,0.4-0.6,0.5
		c-0.2,0.1-0.3,0.2-0.5,0.3c-0.6,0.2-1.1,0.3-1.7,0.3c-0.9,0-1.7-0.3-2.5-0.8c-0.1-0.1-0.3-0.2-0.4-0.4c-0.2-0.2-0.4-0.4-0.4-0.5
		c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.2-0.1-0.3-0.1-0.3c0.3-0.1,0.8-0.4,1.4-0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.2,0.2,0.3,0.4
		c0.2,0.2,0.4,0.3,0.5,0.4c0.4,0.2,0.9,0.3,1.3,0.3c0,0,0,0,0.1,0c0.5,0,0.9-0.1,1.3-0.3c0.1-0.1,0.2-0.2,0.4-0.3
		c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.3,0.3-0.6,0.3-1c0-0.5-0.2-1-0.7-1.3c-0.1-0.1-0.2-0.1-0.4-0.2c-0.2-0.1-0.5-0.2-0.8-0.2
		c-1.1-0.2-1.9-0.5-2.4-0.8c-1.1-0.6-1.7-1.4-1.7-2.5c0-0.8,0.2-1.4,0.7-2c0.2-0.2,0.3-0.4,0.5-0.5c0.2-0.2,0.4-0.3,0.6-0.4
		c0.2-0.1,0.4-0.2,0.7-0.3C78.9,29.1,79.3,29,79.7,29z"
                        />
                        <path
                            class="st2"
                            d="M92.3,29.2c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
		c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C86,29.2,88.5,29.2,92.3,29.2z"
                        />
                        <path
                            class="st2"
                            d="M94,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
		c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
		C94,38.7,94,34.9,94,29.2L94,29.2z"
                        />
                        <path
                            class="st2"
                            d="M102.6,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
		C102.6,38.7,102.6,34.9,102.6,29.2L102.6,29.2z"
                        />
                        <path
                            class="st2"
                            d="M110.8,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
		C110.8,38.7,110.8,34.9,110.8,29.2L110.8,29.2z"
                        />
                        <path
                            class="st2"
                            d="M119.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
		c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
		C119,38.7,119,34.9,119.1,29.2L119.1,29.2z"
                        />
                        <path
                            class="st2"
                            d="M127.6,29.2c0.3,0,0.8,0,1.6,0c0.9,1.4,2.7,4.1,5.5,8.2c0.1,0.1,0.2,0.4,0.5,0.8c0-1.5,0-4.5,0-8.9l0,0
		c0.2,0,0.7,0,1.5,0l0,0c0,1.9,0,5.7,0,11.4l0,0c-0.3,0-0.8,0-1.6,0c-0.3-0.4-1.3-1.9-3.1-4.7c-0.6-0.9-1.6-2.4-2.9-4.3
		c0,1.5,0,4.5,0,8.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C127.6,38.7,127.6,34.9,127.6,29.2L127.6,29.2z"
                        />
                    </g>
                </svg>
                <!-- <a href="{% url 'main-book' %}">
                    <img
                        class=""
                        src="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                        alt="Button_Bestellen"
                        width="120"
                        height="80"
                    />
                </a> -->
            </div>
        </div>

        <div class="col-sm-1 margin-pos-left"></div>
    </div>
</div>
<!-- ######## Buy Book block ends here ########-->

{% endblock %}

<!--
<font size="1">This is really tiny text.</font>
<font size="+2">This is bigger text.</font>
<font size="-1">This is smaller text.</font>
-->
