{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}

<div class="landingpage">
    <div class="main">
        <div class="headerbook">
            <div class="header__logo">
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="300"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
        </div>
        <div class="titelbook">
            <div class="titelbook__text">
                <h1>
                    Cybermobbing ist<br />
                    seelische Gewalt!
                </h1>

                <p>
                    Schweigen kann nicht die Lösung sein. Nicht für unsere
                    Gesellschaft, nicht für unsere Demokratie. Wir müssen LAUT
                    sein gegen Hass im Netz. Dafür steht dieses Buch!
                </p>
                <!-- <a class="button" href="#order-book"
                            >Jetzt bestellen!</a
                        > -->
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/final/buy_now.PNG"
                        alt=""
                    />
                </a>
            </div>
            <div class="titelbook__image">
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/final/3D.png"
                        width="100%"
                        alt=""
                    />
                </a>
            </div>
        </div>
        <div class="headerbook">
            <div class="header__logo">
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="300"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
        </div>
        <div class="notes">
            <div class="notes__text">
                <p>
                    Als sich Lijana Kaggwa vor drei Jahren dafür entschied, beim
                    Casting für Germany's Next Topmodel (GNTM) mitzumachen,
                    erfüllte sie sich einen Kindheitstraum. Doch was als Traum
                    begann, verwandelte sich innerhalb kürzester Zeit in einen
                    schrecklichen Albtraum: Lijana wurde Opfer von Cybermobbing
                    – vor laufender Kamera. Und nicht nur das, sie wurde zum
                    Spielball eines Systems, das Cybermobbing überhaupt erst
                    ermöglichte. Als erste Teilnehmerin bei GNTM nahm sie dazu
                    öffentlich Stellung und wurde prompt von der
                    Produktionsfirma verklagt. Allerdings konnte sie einen
                    Teilsieg gegen die Macher der Show erringen.<br />
                    Aus der Favoritin der Sendung wurde eine Zielscheibe. Die
                    damals 23-Jährige Studentin wurde von einer Welle des Hasses
                    im Netz überrollt. Sie und ihre Familie wurden im realen
                    Leben bedroht und wüst beschimpft – immer wieder auch
                    rassistisch. Lijana kämpfte als Folge davon mit konkreten
                    Suizidgedanken und musste sich in psychologische Behandlung
                    begeben.<br />
                    Damit ist Lijana leider nicht allein: Laut einer aktuellen
                    Studie ist jede:r fünfte Schüler:in zwischen 8 und 21 Jahren
                    selbst einmal von Cybermobbing betroffen. Aber auch
                    Menschen, die sich in die Öffentlichkeit begeben, seien es
                    Journalist:innen, Politiker:innen oder Ärzt:innen, müssen
                    mit einem wütenden Mob rechnen, der es auf sie abgesehen
                    hat. Richard Gutjahr, Renate Künast oder Lisa-Maria
                    Kellermayr, die sich sogar das Leben nahm, sind nur die
                    Spitze des Eisberges.
                </p>
                <br />
                <br />

                <h1>Ich bin nur eine von Millionen.<br /><br /></h1>
                <!-- <a class="button" href="#order-book"
                            >Jetzt bestellen!</a
                        > -->
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/final/buy_now.PNG"
                        alt=""
                    />
                </a>
            </div>
        </div>
        <div class="headerbook">
            <div class="header__logo">
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="300"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
        </div>
        <div class="video">
            <div class="video__image">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe
                        class="embed-responsive-item"
                        src="https://www.youtube.com/embed/wHkRSOnWJLM"
                        title="Lijana video"
                    >
                    </iframe>
                </div>
            </div>
        </div>
        <div class="buchstapel">
            <div class="buchstapel__text">
                <h1>
                    Bestelle das Buch bis zum<br />
                    03.04.2023 vor und erhalte eine<br />
                    kleine Überraschung!
                </h1>
                <p>
                    Wenn du dir das Buch bis zum 03.04.23 vorbestellst, erhältst
                    du eine kleine digitale Übung zum Stärken deines
                    Selbstbewusstseins von Lijana GRATIS zugeschickt.<br /><br />
                    Schicke hierfür einfach einen Screenshot deiner
                    Bestellbestätigung an folgende Mailadresse:
                    saskia.beer@komplett-media.com<br /><br />
                    Wir schicken dir die Übung dann am 04.04.23 ganz einfach per
                    Mail zu.
                </p>
            </div>
            <div class="buchstapel__image">
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/final/BS_Kaggwa_Tod Kopie.jpg"
                        width="100%"
                        alt=""
                    />
                </a>
                <!-- <a class="button" href="#order-book"
                            >Jetzt bestellen!</a
                        > -->
                <a class="action" href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/final/buy_now.PNG"
                        alt=""
                    />
                </a>
            </div>
        </div>

        <div class="headerbook">
            <div class="header__logo">
                <a href="#order-book">
                    <img
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="300"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
        </div>
        <div class="love">
            <div class="love__text">
                <h1>Für mehr Liebe im Netz!</h1>
                <p>
                    Lijana Kaggwa will kämpfen, aufklären und verhindern, dass
                    es anderen so ergeht wie ihr.<br />

                    Für dieses Buch ging sie auf eine Interviewreise durch
                    Deutschland und sprach mit<br />
                    Betroffenen, Prominenten und Expertinnen und Experten wie …
                    <br /><br />
                    … der Kommunikationsexpertin Claudia Töpper<br />
                    … dem Psychologen und führenden Cybermobbingexperten<br />
                    Prof. Dr. Herbert Scheithauer<br />
                    … der Staatsanwältin Teresa Ott<br />
                    … dem Rechtsanwalt Chan-jo Jun<br />
                    … der Grünenpolitikerin und Vorsitzenden<br />
                    des Digitalausschusses Tabea Rößner<br />
                    … dem Mitgründer der Initiative gegen<br />
                    Cybermobbing Peter Sommerhalter<br />
                    …der Schauspielerin und Moderatorin Mo Asumang<br />
                    ...dem Influencer Twenty4tim<br />
                    <br />

                    Lijana zeigt so Schülerinnen und Schülern, Studierenden,
                    Eltern und Lehrenden, was sie<br />
                    gegen Cybermobbing tun können und fordert mehr Opferschutz
                    von der Politik.
                </p>
            </div>
        </div>
        <div class="order" id="order-book">
            <div class="order__text">
                <h1>
                    Bestelle jetzt bei der Buchhandlug Deines Vertrauens oder
                    direkt bei:
                </h1>
            </div>
        </div>
        <div class="shops">
            <div class="shops__image-1">
                <a
                    href="https://www.amazon.de/verdienst-den-Tod-Cybermobbing-Gesellschaft/dp/3831206244/ref=sr_1_1?keywords=lijana+kaggwa&qid=1671095581&s=books&sprefix=lijana%2Cstripbooks%2C97&sr=1-1

        "
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/amazon.de-logo.svg.png"
                            alt=""
                        />
                    </button>
                </a>
            </div>
            <div class="shops__image-2">
                <a
                    href="https://www.thalia.de/shop/home/artikeldetails/A1066791025"
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/thalia.PNG"
                            alt=""
                        />
                    </button>
                </a>
            </div>
            <div class="shops__image-3">
                <a
                    href="https://www.hugendubel.de/de/buch_kartoniert/lijana_kaggwa-du_verdienst_den_tod-44711919-produkt-details.html"
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/hugendubel.PNG"
                            alt=""
                        />
                    </button>
                </a>
            </div>
            <div class="shops__image-4">
                <a
                    href="https://www.genialokal.de/Produkt/Lijana-Kaggwa/Du-verdienst-den-Tod_lid_49202301.html"
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/genialokal.PNG"
                            alt=""
                        />
                    </button>
                </a>
            </div>
        </div>
        <br /><br />
    </div>
</div>

{% endblock %}
