{% extends "../main/base_generic.html" %} {% block content %}

<div class="container-fluid bg-white text-dark">
    <!--Heading row starts here-->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col landingpage-book-titel-text relative-spacer-top-bottom">
            Du verdienst den Tod! Trotzdem lebe ich weiter
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col book-content-text">
            <img
                src="../../static/main/assets/img/book/Buch-von-Lijana.PNG"
                class="float-start imgshadow"
                alt=""
            />
            <p class="fw-bold bg-info text-white text-center">
                Welche veralteten Strukturen wir dringend hinter uns lassen
                müssen.
            </p>
            <p>
                ‚Ab jetzt höre ich nur noch auf mein Herz und deswegen verzichte
                ich auf das Finale, denn love always wins‘, sagte ich im Finale
                von Germany’s next Topmodel und obwohl ich wusste, dass das
                Thema wichtig ist für das ich einstehe, wusste ich damals noch
                nicht, wohin mich der Weg führen sollte. Monate des Hasses lagen
                hinter mir und der geriet gefährlich außer Kontrolle. Ich sei
                ein Einzelfall, wurde mir anfangs immer wieder gesagt, doch mir
                kam der Hass im Netz dafür viel zu routiniert vor. Als ich
                herausfand, wieviele Menschen wirklich unter dem Massenphänomen
                Cybermobbing leiden, war ich schockiert. Meine Reise führte mich
                zu Betroffenen und Angehörigen, Influencer-Stars und
                Schülerinnen, Politikerinnen, Staatsanwälten und Experten auf
                dem Gebiet Cybermobbing. Alle sind sich einig: es muss sich
                schnell etwas ändern. In meinem Buch geht es um meine
                Erfahrungen mit Cybermobbing und die Strukturen dahinter. Aber
                mir geht es um mehr. Ich bin nur eine unter Millionen und
                digitale Gewalt können wir nur gemeinsam bekämpfen , indem wir
                ihr Stärke, Mut und Liebe entgegenstellen. Wie uns das gelingt,
                was die Medien damit zutun haben und welche veralteten
                Strukturen wir dringend hinter uns lassen müssen, erfahrt ihr in
                meinem Buch.
            </p>
            <div class="col text-start">
                <a href="#shops">
                    <svg
                        version="1.1"
                        id="Ebene_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="200"
                        viewBox="0 0 168 52"
                        style="enable-background: new 0 0 168 52"
                        xml:space="preserve"
                    >
                        <style type="text/css">
                            .st0 {
                                fill: #bd8f8f;
                            }
                        </style>
                        <g>
                            <g>
                                <path
                                    class="st0"
                                    d="M136.7,51.6H25.5c-14.2,0-25.8-11.6-25.8-25.8S11.3,0.1,25.5,0.1h111.3c14.2,0,25.8,11.6,25.8,25.8
                                    S150.9,51.6,136.7,51.6z M25.5,2.1C12.4,2.1,1.7,12.8,1.7,25.9s10.7,23.8,23.8,23.8h111.3c13.1,0,23.8-10.7,23.8-23.8
                                    S149.8,2.1,136.7,2.1H25.5z"
                                />
                            </g>
                        </g>
                        <g>
                            <path
                                class="st0"
                                d="M63.9,10c0.2,0,0.8,0,1.5,0c0,1.3,0,4,0,8c0,0.5-0.1,1.1-0.4,1.6c-0.1,0.2-0.2,0.4-0.4,0.6
                                c-0.2,0.2-0.4,0.4-0.5,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.5,0.2-0.9,0.3-1.4,0.3c-0.2,0-0.4,0-0.8,0c-0.5,0-1-0.1-1.5-0.4
                                c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.1-0.2-0.3-0.2-0.5c-0.2-0.4-0.2-0.8-0.2-1.2
                                c0-0.1,0-0.3,0-0.6c0.2,0,0.8,0,1.5,0c0,0.1,0,0.3,0,0.5c0,0.5,0.2,0.9,0.5,1.3c0.2,0.1,0.3,0.2,0.3,0.3c0.3,0.2,0.7,0.4,1,0.4
                                c0.2,0,0.4,0,0.7,0c0.4,0,0.8-0.1,1.1-0.4c0.2-0.1,0.3-0.3,0.4-0.4c0.3-0.4,0.4-0.8,0.4-1.2C63.9,16.2,63.9,13.5,63.9,10L63.9,10z"
                            />
                            <path
                                class="st0"
                                d="M68.5,10c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C68.5,19.5,68.5,15.7,68.5,10L68.5,10z"
                            />
                            <path
                                class="st0"
                                d="M83.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C77.4,10,79.9,10,83.7,10z"
                            />
                            <path
                                class="st0"
                                d="M85.4,10c1.4,0,4.2,0,8.5,0v0c-1.1,1.7-3.2,5-6.5,9.9c1.1,0,3.2,0,6.4,0l0,0c0,0.2,0,0.7,0,1.5l0,0
                                c-1.5,0-4.6,0-9.2,0v0c1.1-1.7,3.2-5,6.5-9.9c-0.9,0-2.8,0-5.7,0v0C85.4,11.2,85.4,10.7,85.4,10L85.4,10z"
                            />
                            <path
                                class="st0"
                                d="M102.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C96.4,10,99,10,102.7,10z"
                            />
                        </g>
                        <g>
                            <path
                                class="st2"
                                d="M24.5,29.2c0,0,0.3,0.6,0.7,1.8c0.7,1.6,1.7,4.1,3,7.4h0c0.6-1.5,1.8-4.5,3.6-9c0-0.1,0.1-0.1,0.1-0.1
                                c0.4,0,0.9,0,1.7,0h0c-0.8,1.9-2.3,5.6-4.6,11.2c0,0.2-0.1,0.2-0.1,0.2c-0.3,0-0.8,0-1.4,0c0,0-0.1-0.1-0.2-0.3
                                c-2.2-5.2-3.3-8-3.4-8.3c-0.1-0.1-0.4-1-1.2-2.8C23.1,29.2,23.7,29.2,24.5,29.2z"
                            />
                            <path
                                class="st2"
                                d="M39.9,29.2C39.9,29.2,39.9,29.2,39.9,29.2c1.5,0,2.9,0.6,4,1.8c1,1.2,1.5,2.5,1.5,4c0,1.6-0.6,3-1.8,4.2
                                c-1.1,1-2.3,1.5-3.7,1.5c-1.4,0-2.6-0.5-3.7-1.5c-0.5-0.5-0.8-0.9-0.9-1.2c-0.6-0.9-0.9-2-0.9-3.1c0,0,0,0,0,0c0-1.6,0.6-3,1.8-4.2
                                c0.1-0.1,0.3-0.2,0.5-0.4C37.7,29.5,38.8,29.2,39.9,29.2z M35.9,34.9c0,1.2,0.5,2.3,1.4,3.2c0.8,0.7,1.6,1,2.6,1
                                c1.2,0,2.3-0.6,3.2-1.7c0.5-0.8,0.8-1.6,0.8-2.5c0,0,0-0.1,0-0.1c0-1.1-0.4-2-1.1-2.9c-0.8-0.9-1.8-1.3-2.9-1.3
                                c-1.2,0-2.2,0.5-3.1,1.5C36.2,33,35.9,33.9,35.9,34.9z"
                            />
                            <path
                                class="st2"
                                d="M47.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.5,3.1,1.4c0.6,0.7,0.9,1.5,0.9,2.4c0,1.1-0.4,2-1.3,2.8
                                c-0.5,0.4-0.9,0.6-1.2,0.7c0,0,0.5,0.9,1.5,2.7c0.2,0.3,0.5,0.8,0.9,1.5v0c-0.3,0-0.9,0-1.8,0c0,0-0.2-0.2-0.4-0.8
                                c-1.1-1.9-1.7-3-1.8-3.2c-0.5,0-1.2,0-2.2,0c0,0.6,0,1.9,0,3.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C47.8,38.7,47.8,34.9,47.9,29.2
                                L47.9,29.2z M49.3,30.7c0,0.8,0,2.2,0,4.5c0.4,0,1.2,0,2.4,0c0.8,0,1.4-0.3,1.9-0.9c0.3-0.4,0.5-0.8,0.5-1.3c0,0,0-0.1,0-0.1
                                c0-0.7-0.3-1.3-1-1.8c-0.4-0.3-1-0.5-1.7-0.5C51,30.7,50.3,30.7,49.3,30.7C49.4,30.7,49.3,30.7,49.3,30.7z"
                            />
                            <path
                                class="st2"
                                d="M57.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.4,2.9,1.2c0.4,0.5,0.6,1,0.6,1.7c0,0,0,0.1,0,0.2
                                c0,0.9-0.3,1.6-1,2.2v0c0.2,0.1,0.4,0.2,0.6,0.5c0.5,0.6,0.8,1.2,0.8,1.9c0,0.1,0,0.3,0,0.6c0,1.1-0.5,1.9-1.5,2.6
                                c-0.5,0.3-0.8,0.4-0.9,0.4c-0.3,0.1-0.8,0.2-1.4,0.2c-0.9,0-2.1,0-3.9,0c0,0,0,0,0,0C57.9,38.7,57.9,34.9,57.9,29.2L57.9,29.2z
                                M59.4,35.4c0,0.6,0,1.8,0,3.7c0.4,0,1.3,0,2.6,0c0.9,0,1.5-0.3,1.9-1c0.1-0.2,0.2-0.5,0.2-0.8c0-0.1,0-0.2,0-0.3
                                c0-0.7-0.4-1.1-1.1-1.4c-0.3-0.1-0.7-0.2-1.2-0.2C61.2,35.4,60.5,35.4,59.4,35.4C59.4,35.4,59.4,35.4,59.4,35.4z M59.4,30.7
                                c0,0.5,0,1.6,0,3.2c0.4,0,1.1,0,2.2,0c0.9,0,1.6-0.3,1.9-1c0.1-0.2,0.1-0.4,0.1-0.5c0-0.1,0-0.2,0-0.3c0-0.6-0.4-1-1.2-1.2
                                c-0.2-0.1-0.6-0.1-1-0.1C61,30.7,60.3,30.7,59.4,30.7z"
                            />
                            <path
                                class="st2"
                                d="M68.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C68.1,38.7,68.1,34.9,68.1,29.2L68.1,29.2z"
                            />
                            <path
                                class="st2"
                                d="M79.7,29c0,0,0.1,0,0.1,0c0.6,0,1.2,0.1,1.8,0.4c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.2,0.4,0.4
                                c0.2,0.2,0.3,0.4,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.3c-0.3,0.1-0.8,0.4-1.4,0.7c0-0.1-0.1-0.2-0.3-0.4c-0.5-0.5-1.1-0.8-1.8-0.8
                                c-0.7,0-1.3,0.2-1.7,0.6c-0.2,0.2-0.3,0.3-0.3,0.4c-0.1,0.2-0.2,0.5-0.2,0.7c0,0,0,0,0,0c0,0.4,0.1,0.6,0.4,0.8
                                c0.1,0.1,0.2,0.2,0.4,0.2c0.3,0.2,0.7,0.3,1.2,0.5c0.4,0.1,0.9,0.2,1.4,0.3c0.3,0.1,0.6,0.2,0.8,0.3c0.2,0.1,0.4,0.2,0.6,0.4
                                c0.2,0.2,0.4,0.3,0.5,0.5c0.4,0.6,0.6,1.2,0.6,1.9v0c0,0.7-0.2,1.3-0.6,1.9c-0.1,0.1-0.2,0.2-0.4,0.4c-0.2,0.2-0.4,0.4-0.6,0.5
                                c-0.2,0.1-0.3,0.2-0.5,0.3c-0.6,0.2-1.1,0.3-1.7,0.3c-0.9,0-1.7-0.3-2.5-0.8c-0.1-0.1-0.3-0.2-0.4-0.4c-0.2-0.2-0.4-0.4-0.4-0.5
                                c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.2-0.1-0.3-0.1-0.3c0.3-0.1,0.8-0.4,1.4-0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.2,0.2,0.3,0.4
                                c0.2,0.2,0.4,0.3,0.5,0.4c0.4,0.2,0.9,0.3,1.3,0.3c0,0,0,0,0.1,0c0.5,0,0.9-0.1,1.3-0.3c0.1-0.1,0.2-0.2,0.4-0.3
                                c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.3,0.3-0.6,0.3-1c0-0.5-0.2-1-0.7-1.3c-0.1-0.1-0.2-0.1-0.4-0.2c-0.2-0.1-0.5-0.2-0.8-0.2
                                c-1.1-0.2-1.9-0.5-2.4-0.8c-1.1-0.6-1.7-1.4-1.7-2.5c0-0.8,0.2-1.4,0.7-2c0.2-0.2,0.3-0.4,0.5-0.5c0.2-0.2,0.4-0.3,0.6-0.4
                                c0.2-0.1,0.4-0.2,0.7-0.3C78.9,29.1,79.3,29,79.7,29z"
                            />
                            <path
                                class="st2"
                                d="M92.3,29.2c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C86,29.2,88.5,29.2,92.3,29.2z"
                            />
                            <path
                                class="st2"
                                d="M94,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C94,38.7,94,34.9,94,29.2L94,29.2z"
                            />
                            <path
                                class="st2"
                                d="M102.6,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                                C102.6,38.7,102.6,34.9,102.6,29.2L102.6,29.2z"
                            />
                            <path
                                class="st2"
                                d="M110.8,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                                C110.8,38.7,110.8,34.9,110.8,29.2L110.8,29.2z"
                            />
                            <path
                                class="st2"
                                d="M119.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C119,38.7,119,34.9,119.1,29.2L119.1,29.2z"
                            />
                            <path
                                class="st2"
                                d="M127.6,29.2c0.3,0,0.8,0,1.6,0c0.9,1.4,2.7,4.1,5.5,8.2c0.1,0.1,0.2,0.4,0.5,0.8c0-1.5,0-4.5,0-8.9l0,0
                                c0.2,0,0.7,0,1.5,0l0,0c0,1.9,0,5.7,0,11.4l0,0c-0.3,0-0.8,0-1.6,0c-0.3-0.4-1.3-1.9-3.1-4.7c-0.6-0.9-1.6-2.4-2.9-4.3
                                c0,1.5,0,4.5,0,8.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C127.6,38.7,127.6,34.9,127.6,29.2L127.6,29.2z"
                            />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <!--Beschreibung Abschnitt row starts here-->
    <div class="row relative-spacer-top">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col book-content-text">
            <img
                style="margin-left: 30px; max-width: 35%; height: auto"
                src="../../static/main/assets/img/book/lijana-book-medium.jpg"
                class="float-end imgshadow"
                alt="Lijana-Kaggwa"
            />

            <p>
                Lijana Kaggwa (25) gab ihr Mathestudium für eine Modelkarriere
                auf. 2020 wurde sie durch die TV-Sendung GNTM (Germany’s Next
                Top Model) bekannt. Was als großer Traum begann, mündete in
                einem Albtraum. Aus der Favoritin der Sendung wurde eine
                Zielscheibe. Die damals 23- Jährige Studentin wurde von einer
                Welle des Hasses im Netz überrollt. Sie und ihre Familie, sogar
                ihr Hund, wurden im realen Leben bedroht und wüst beschimpft.
                Die Bedrohungen wurden so konkret, dass sie unter Polizeischutz
                gestellt wurde. Lijana stieg schließlich freiwillig im GNTM-
                Finale vor einem Millionenpublikum aus, um ein Zeichen gegen
                Cybermobbing zu setzten. Danach gründete sie ihren Verein „Love
                always wins“ mit dem sie sich für mehr Respekt und Liebe im Netz
                einsetzt. Mit Kampagnen wie #nohate but #compliments mit Cathy
                Hummels, Workshops an Schulen und Vorträge bei Veranstaltung wie
                dem Safer Internet Day sensibilisiert und stärkt sie die
                Gesellschaft im Bezug auf digitale Gewalt. Die
                Mindset-Influencerin lebt in Kassel und kommt aus einer
                Patchwork-Familie mit vier Geschwistern. Was Lijana besonders
                betroffen macht: Ein großer Teil der Anfeindungen im Netz sind
                rassistischer Natur. Wie sich ein solcher Hass auf eine
                betroffene Person auswirken kann und welche Folgen es hat
                digitale Gewalt zu ignorieren, zeigt ihre Geschichte
                eindrücklich.
            </p>
            <div class="col text-start">
                <a href="#shops">
                    <svg
                        version="1.1"
                        id="Ebene_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="200"
                        viewBox="0 0 168 52"
                        style="enable-background: new 0 0 168 52"
                        xml:space="preserve"
                    >
                        <style type="text/css">
                            .st0 {
                                fill: #bd8f8f;
                            }
                        </style>
                        <g>
                            <g>
                                <path
                                    class="st0"
                                    d="M136.7,51.6H25.5c-14.2,0-25.8-11.6-25.8-25.8S11.3,0.1,25.5,0.1h111.3c14.2,0,25.8,11.6,25.8,25.8
                                    S150.9,51.6,136.7,51.6z M25.5,2.1C12.4,2.1,1.7,12.8,1.7,25.9s10.7,23.8,23.8,23.8h111.3c13.1,0,23.8-10.7,23.8-23.8
                                    S149.8,2.1,136.7,2.1H25.5z"
                                />
                            </g>
                        </g>
                        <g>
                            <path
                                class="st0"
                                d="M63.9,10c0.2,0,0.8,0,1.5,0c0,1.3,0,4,0,8c0,0.5-0.1,1.1-0.4,1.6c-0.1,0.2-0.2,0.4-0.4,0.6
                                c-0.2,0.2-0.4,0.4-0.5,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.5,0.2-0.9,0.3-1.4,0.3c-0.2,0-0.4,0-0.8,0c-0.5,0-1-0.1-1.5-0.4
                                c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.1-0.2-0.3-0.2-0.5c-0.2-0.4-0.2-0.8-0.2-1.2
                                c0-0.1,0-0.3,0-0.6c0.2,0,0.8,0,1.5,0c0,0.1,0,0.3,0,0.5c0,0.5,0.2,0.9,0.5,1.3c0.2,0.1,0.3,0.2,0.3,0.3c0.3,0.2,0.7,0.4,1,0.4
                                c0.2,0,0.4,0,0.7,0c0.4,0,0.8-0.1,1.1-0.4c0.2-0.1,0.3-0.3,0.4-0.4c0.3-0.4,0.4-0.8,0.4-1.2C63.9,16.2,63.9,13.5,63.9,10L63.9,10z"
                            />
                            <path
                                class="st0"
                                d="M68.5,10c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C68.5,19.5,68.5,15.7,68.5,10L68.5,10z"
                            />
                            <path
                                class="st0"
                                d="M83.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C77.4,10,79.9,10,83.7,10z"
                            />
                            <path
                                class="st0"
                                d="M85.4,10c1.4,0,4.2,0,8.5,0v0c-1.1,1.7-3.2,5-6.5,9.9c1.1,0,3.2,0,6.4,0l0,0c0,0.2,0,0.7,0,1.5l0,0
                                c-1.5,0-4.6,0-9.2,0v0c1.1-1.7,3.2-5,6.5-9.9c-0.9,0-2.8,0-5.7,0v0C85.4,11.2,85.4,10.7,85.4,10L85.4,10z"
                            />
                            <path
                                class="st0"
                                d="M102.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C96.4,10,99,10,102.7,10z"
                            />
                        </g>
                        <g>
                            <path
                                class="st2"
                                d="M24.5,29.2c0,0,0.3,0.6,0.7,1.8c0.7,1.6,1.7,4.1,3,7.4h0c0.6-1.5,1.8-4.5,3.6-9c0-0.1,0.1-0.1,0.1-0.1
                                c0.4,0,0.9,0,1.7,0h0c-0.8,1.9-2.3,5.6-4.6,11.2c0,0.2-0.1,0.2-0.1,0.2c-0.3,0-0.8,0-1.4,0c0,0-0.1-0.1-0.2-0.3
                                c-2.2-5.2-3.3-8-3.4-8.3c-0.1-0.1-0.4-1-1.2-2.8C23.1,29.2,23.7,29.2,24.5,29.2z"
                            />
                            <path
                                class="st2"
                                d="M39.9,29.2C39.9,29.2,39.9,29.2,39.9,29.2c1.5,0,2.9,0.6,4,1.8c1,1.2,1.5,2.5,1.5,4c0,1.6-0.6,3-1.8,4.2
                                c-1.1,1-2.3,1.5-3.7,1.5c-1.4,0-2.6-0.5-3.7-1.5c-0.5-0.5-0.8-0.9-0.9-1.2c-0.6-0.9-0.9-2-0.9-3.1c0,0,0,0,0,0c0-1.6,0.6-3,1.8-4.2
                                c0.1-0.1,0.3-0.2,0.5-0.4C37.7,29.5,38.8,29.2,39.9,29.2z M35.9,34.9c0,1.2,0.5,2.3,1.4,3.2c0.8,0.7,1.6,1,2.6,1
                                c1.2,0,2.3-0.6,3.2-1.7c0.5-0.8,0.8-1.6,0.8-2.5c0,0,0-0.1,0-0.1c0-1.1-0.4-2-1.1-2.9c-0.8-0.9-1.8-1.3-2.9-1.3
                                c-1.2,0-2.2,0.5-3.1,1.5C36.2,33,35.9,33.9,35.9,34.9z"
                            />
                            <path
                                class="st2"
                                d="M47.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.5,3.1,1.4c0.6,0.7,0.9,1.5,0.9,2.4c0,1.1-0.4,2-1.3,2.8
                                c-0.5,0.4-0.9,0.6-1.2,0.7c0,0,0.5,0.9,1.5,2.7c0.2,0.3,0.5,0.8,0.9,1.5v0c-0.3,0-0.9,0-1.8,0c0,0-0.2-0.2-0.4-0.8
                                c-1.1-1.9-1.7-3-1.8-3.2c-0.5,0-1.2,0-2.2,0c0,0.6,0,1.9,0,3.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C47.8,38.7,47.8,34.9,47.9,29.2
                                L47.9,29.2z M49.3,30.7c0,0.8,0,2.2,0,4.5c0.4,0,1.2,0,2.4,0c0.8,0,1.4-0.3,1.9-0.9c0.3-0.4,0.5-0.8,0.5-1.3c0,0,0-0.1,0-0.1
                                c0-0.7-0.3-1.3-1-1.8c-0.4-0.3-1-0.5-1.7-0.5C51,30.7,50.3,30.7,49.3,30.7C49.4,30.7,49.3,30.7,49.3,30.7z"
                            />
                            <path
                                class="st2"
                                d="M57.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.4,2.9,1.2c0.4,0.5,0.6,1,0.6,1.7c0,0,0,0.1,0,0.2
                                c0,0.9-0.3,1.6-1,2.2v0c0.2,0.1,0.4,0.2,0.6,0.5c0.5,0.6,0.8,1.2,0.8,1.9c0,0.1,0,0.3,0,0.6c0,1.1-0.5,1.9-1.5,2.6
                                c-0.5,0.3-0.8,0.4-0.9,0.4c-0.3,0.1-0.8,0.2-1.4,0.2c-0.9,0-2.1,0-3.9,0c0,0,0,0,0,0C57.9,38.7,57.9,34.9,57.9,29.2L57.9,29.2z
                                M59.4,35.4c0,0.6,0,1.8,0,3.7c0.4,0,1.3,0,2.6,0c0.9,0,1.5-0.3,1.9-1c0.1-0.2,0.2-0.5,0.2-0.8c0-0.1,0-0.2,0-0.3
                                c0-0.7-0.4-1.1-1.1-1.4c-0.3-0.1-0.7-0.2-1.2-0.2C61.2,35.4,60.5,35.4,59.4,35.4C59.4,35.4,59.4,35.4,59.4,35.4z M59.4,30.7
                                c0,0.5,0,1.6,0,3.2c0.4,0,1.1,0,2.2,0c0.9,0,1.6-0.3,1.9-1c0.1-0.2,0.1-0.4,0.1-0.5c0-0.1,0-0.2,0-0.3c0-0.6-0.4-1-1.2-1.2
                                c-0.2-0.1-0.6-0.1-1-0.1C61,30.7,60.3,30.7,59.4,30.7z"
                            />
                            <path
                                class="st2"
                                d="M68.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C68.1,38.7,68.1,34.9,68.1,29.2L68.1,29.2z"
                            />
                            <path
                                class="st2"
                                d="M79.7,29c0,0,0.1,0,0.1,0c0.6,0,1.2,0.1,1.8,0.4c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.2,0.4,0.4
                                c0.2,0.2,0.3,0.4,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.3c-0.3,0.1-0.8,0.4-1.4,0.7c0-0.1-0.1-0.2-0.3-0.4c-0.5-0.5-1.1-0.8-1.8-0.8
                                c-0.7,0-1.3,0.2-1.7,0.6c-0.2,0.2-0.3,0.3-0.3,0.4c-0.1,0.2-0.2,0.5-0.2,0.7c0,0,0,0,0,0c0,0.4,0.1,0.6,0.4,0.8
                                c0.1,0.1,0.2,0.2,0.4,0.2c0.3,0.2,0.7,0.3,1.2,0.5c0.4,0.1,0.9,0.2,1.4,0.3c0.3,0.1,0.6,0.2,0.8,0.3c0.2,0.1,0.4,0.2,0.6,0.4
                                c0.2,0.2,0.4,0.3,0.5,0.5c0.4,0.6,0.6,1.2,0.6,1.9v0c0,0.7-0.2,1.3-0.6,1.9c-0.1,0.1-0.2,0.2-0.4,0.4c-0.2,0.2-0.4,0.4-0.6,0.5
                                c-0.2,0.1-0.3,0.2-0.5,0.3c-0.6,0.2-1.1,0.3-1.7,0.3c-0.9,0-1.7-0.3-2.5-0.8c-0.1-0.1-0.3-0.2-0.4-0.4c-0.2-0.2-0.4-0.4-0.4-0.5
                                c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.2-0.1-0.3-0.1-0.3c0.3-0.1,0.8-0.4,1.4-0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.2,0.2,0.3,0.4
                                c0.2,0.2,0.4,0.3,0.5,0.4c0.4,0.2,0.9,0.3,1.3,0.3c0,0,0,0,0.1,0c0.5,0,0.9-0.1,1.3-0.3c0.1-0.1,0.2-0.2,0.4-0.3
                                c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.3,0.3-0.6,0.3-1c0-0.5-0.2-1-0.7-1.3c-0.1-0.1-0.2-0.1-0.4-0.2c-0.2-0.1-0.5-0.2-0.8-0.2
                                c-1.1-0.2-1.9-0.5-2.4-0.8c-1.1-0.6-1.7-1.4-1.7-2.5c0-0.8,0.2-1.4,0.7-2c0.2-0.2,0.3-0.4,0.5-0.5c0.2-0.2,0.4-0.3,0.6-0.4
                                c0.2-0.1,0.4-0.2,0.7-0.3C78.9,29.1,79.3,29,79.7,29z"
                            />
                            <path
                                class="st2"
                                d="M92.3,29.2c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C86,29.2,88.5,29.2,92.3,29.2z"
                            />
                            <path
                                class="st2"
                                d="M94,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C94,38.7,94,34.9,94,29.2L94,29.2z"
                            />
                            <path
                                class="st2"
                                d="M102.6,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                                C102.6,38.7,102.6,34.9,102.6,29.2L102.6,29.2z"
                            />
                            <path
                                class="st2"
                                d="M110.8,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                                C110.8,38.7,110.8,34.9,110.8,29.2L110.8,29.2z"
                            />
                            <path
                                class="st2"
                                d="M119.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C119,38.7,119,34.9,119.1,29.2L119.1,29.2z"
                            />
                            <path
                                class="st2"
                                d="M127.6,29.2c0.3,0,0.8,0,1.6,0c0.9,1.4,2.7,4.1,5.5,8.2c0.1,0.1,0.2,0.4,0.5,0.8c0-1.5,0-4.5,0-8.9l0,0
                                c0.2,0,0.7,0,1.5,0l0,0c0,1.9,0,5.7,0,11.4l0,0c-0.3,0-0.8,0-1.6,0c-0.3-0.4-1.3-1.9-3.1-4.7c-0.6-0.9-1.6-2.4-2.9-4.3
                                c0,1.5,0,4.5,0,8.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C127.6,38.7,127.6,34.9,127.6,29.2L127.6,29.2z"
                            />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <!--Vorbestellaktion Abschnitt row starts here-->
    <div class="row relative-spacer-top">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col book-content-text">
            <img
                style="margin-left: 0px; max-width: 40%; height: auto"
                src="../../static/main/assets/img/book/Buch-von-Lijana.PNG"
                class="float-start imgshadow"
                alt="Lijana-Kaggwa"
            />
            <p class="fw-bold">
                Bestellt das Buch bis 03.04.2023 vor und erhaltet eine kleine
                Überraschung!
            </p>

            <p>
                Wenn du dir das Buch bis zum 03.04.23 vorbestellst, erhältst du
                eine von Manuel eingesprochene Meditation GRATIS als MP3-Datei.
                Schicke hierfür einfach einen Screenshot deiner
                Bestellbestätigung an folgende Mailadresse:
                <a href="#bestell">saskia.beer@komplett-media.com</a>
                Wir schicken dir die Mediatation dann am 03.04.23 ganz einfach
                als MP3 per E-Mail zu.
            </p>
            <div class="col text-start">
                <a href="#shops">
                    <svg
                        version="1.1"
                        id="Ebene_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        width="200"
                        viewBox="0 0 168 52"
                        style="enable-background: new 0 0 168 52"
                        xml:space="preserve"
                    >
                        <style type="text/css">
                            .st0 {
                                fill: #bd8f8f;
                            }
                        </style>
                        <g>
                            <g>
                                <path
                                    class="st0"
                                    d="M136.7,51.6H25.5c-14.2,0-25.8-11.6-25.8-25.8S11.3,0.1,25.5,0.1h111.3c14.2,0,25.8,11.6,25.8,25.8
                                    S150.9,51.6,136.7,51.6z M25.5,2.1C12.4,2.1,1.7,12.8,1.7,25.9s10.7,23.8,23.8,23.8h111.3c13.1,0,23.8-10.7,23.8-23.8
                                    S149.8,2.1,136.7,2.1H25.5z"
                                />
                            </g>
                        </g>
                        <g>
                            <path
                                class="st0"
                                d="M63.9,10c0.2,0,0.8,0,1.5,0c0,1.3,0,4,0,8c0,0.5-0.1,1.1-0.4,1.6c-0.1,0.2-0.2,0.4-0.4,0.6
                                c-0.2,0.2-0.4,0.4-0.5,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.5,0.2-0.9,0.3-1.4,0.3c-0.2,0-0.4,0-0.8,0c-0.5,0-1-0.1-1.5-0.4
                                c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.1-0.2-0.3-0.2-0.5c-0.2-0.4-0.2-0.8-0.2-1.2
                                c0-0.1,0-0.3,0-0.6c0.2,0,0.8,0,1.5,0c0,0.1,0,0.3,0,0.5c0,0.5,0.2,0.9,0.5,1.3c0.2,0.1,0.3,0.2,0.3,0.3c0.3,0.2,0.7,0.4,1,0.4
                                c0.2,0,0.4,0,0.7,0c0.4,0,0.8-0.1,1.1-0.4c0.2-0.1,0.3-0.3,0.4-0.4c0.3-0.4,0.4-0.8,0.4-1.2C63.9,16.2,63.9,13.5,63.9,10L63.9,10z"
                            />
                            <path
                                class="st0"
                                d="M68.5,10c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C68.5,19.5,68.5,15.7,68.5,10L68.5,10z"
                            />
                            <path
                                class="st0"
                                d="M83.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C77.4,10,79.9,10,83.7,10z"
                            />
                            <path
                                class="st0"
                                d="M85.4,10c1.4,0,4.2,0,8.5,0v0c-1.1,1.7-3.2,5-6.5,9.9c1.1,0,3.2,0,6.4,0l0,0c0,0.2,0,0.7,0,1.5l0,0
                                c-1.5,0-4.6,0-9.2,0v0c1.1-1.7,3.2-5,6.5-9.9c-0.9,0-2.8,0-5.7,0v0C85.4,11.2,85.4,10.7,85.4,10L85.4,10z"
                            />
                            <path
                                class="st0"
                                d="M102.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C96.4,10,99,10,102.7,10z"
                            />
                        </g>
                        <g>
                            <path
                                class="st2"
                                d="M24.5,29.2c0,0,0.3,0.6,0.7,1.8c0.7,1.6,1.7,4.1,3,7.4h0c0.6-1.5,1.8-4.5,3.6-9c0-0.1,0.1-0.1,0.1-0.1
                                c0.4,0,0.9,0,1.7,0h0c-0.8,1.9-2.3,5.6-4.6,11.2c0,0.2-0.1,0.2-0.1,0.2c-0.3,0-0.8,0-1.4,0c0,0-0.1-0.1-0.2-0.3
                                c-2.2-5.2-3.3-8-3.4-8.3c-0.1-0.1-0.4-1-1.2-2.8C23.1,29.2,23.7,29.2,24.5,29.2z"
                            />
                            <path
                                class="st2"
                                d="M39.9,29.2C39.9,29.2,39.9,29.2,39.9,29.2c1.5,0,2.9,0.6,4,1.8c1,1.2,1.5,2.5,1.5,4c0,1.6-0.6,3-1.8,4.2
                                c-1.1,1-2.3,1.5-3.7,1.5c-1.4,0-2.6-0.5-3.7-1.5c-0.5-0.5-0.8-0.9-0.9-1.2c-0.6-0.9-0.9-2-0.9-3.1c0,0,0,0,0,0c0-1.6,0.6-3,1.8-4.2
                                c0.1-0.1,0.3-0.2,0.5-0.4C37.7,29.5,38.8,29.2,39.9,29.2z M35.9,34.9c0,1.2,0.5,2.3,1.4,3.2c0.8,0.7,1.6,1,2.6,1
                                c1.2,0,2.3-0.6,3.2-1.7c0.5-0.8,0.8-1.6,0.8-2.5c0,0,0-0.1,0-0.1c0-1.1-0.4-2-1.1-2.9c-0.8-0.9-1.8-1.3-2.9-1.3
                                c-1.2,0-2.2,0.5-3.1,1.5C36.2,33,35.9,33.9,35.9,34.9z"
                            />
                            <path
                                class="st2"
                                d="M47.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.5,3.1,1.4c0.6,0.7,0.9,1.5,0.9,2.4c0,1.1-0.4,2-1.3,2.8
                                c-0.5,0.4-0.9,0.6-1.2,0.7c0,0,0.5,0.9,1.5,2.7c0.2,0.3,0.5,0.8,0.9,1.5v0c-0.3,0-0.9,0-1.8,0c0,0-0.2-0.2-0.4-0.8
                                c-1.1-1.9-1.7-3-1.8-3.2c-0.5,0-1.2,0-2.2,0c0,0.6,0,1.9,0,3.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C47.8,38.7,47.8,34.9,47.9,29.2
                                L47.9,29.2z M49.3,30.7c0,0.8,0,2.2,0,4.5c0.4,0,1.2,0,2.4,0c0.8,0,1.4-0.3,1.9-0.9c0.3-0.4,0.5-0.8,0.5-1.3c0,0,0-0.1,0-0.1
                                c0-0.7-0.3-1.3-1-1.8c-0.4-0.3-1-0.5-1.7-0.5C51,30.7,50.3,30.7,49.3,30.7C49.4,30.7,49.3,30.7,49.3,30.7z"
                            />
                            <path
                                class="st2"
                                d="M57.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.4,2.9,1.2c0.4,0.5,0.6,1,0.6,1.7c0,0,0,0.1,0,0.2
                                c0,0.9-0.3,1.6-1,2.2v0c0.2,0.1,0.4,0.2,0.6,0.5c0.5,0.6,0.8,1.2,0.8,1.9c0,0.1,0,0.3,0,0.6c0,1.1-0.5,1.9-1.5,2.6
                                c-0.5,0.3-0.8,0.4-0.9,0.4c-0.3,0.1-0.8,0.2-1.4,0.2c-0.9,0-2.1,0-3.9,0c0,0,0,0,0,0C57.9,38.7,57.9,34.9,57.9,29.2L57.9,29.2z
                                M59.4,35.4c0,0.6,0,1.8,0,3.7c0.4,0,1.3,0,2.6,0c0.9,0,1.5-0.3,1.9-1c0.1-0.2,0.2-0.5,0.2-0.8c0-0.1,0-0.2,0-0.3
                                c0-0.7-0.4-1.1-1.1-1.4c-0.3-0.1-0.7-0.2-1.2-0.2C61.2,35.4,60.5,35.4,59.4,35.4C59.4,35.4,59.4,35.4,59.4,35.4z M59.4,30.7
                                c0,0.5,0,1.6,0,3.2c0.4,0,1.1,0,2.2,0c0.9,0,1.6-0.3,1.9-1c0.1-0.2,0.1-0.4,0.1-0.5c0-0.1,0-0.2,0-0.3c0-0.6-0.4-1-1.2-1.2
                                c-0.2-0.1-0.6-0.1-1-0.1C61,30.7,60.3,30.7,59.4,30.7z"
                            />
                            <path
                                class="st2"
                                d="M68.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C68.1,38.7,68.1,34.9,68.1,29.2L68.1,29.2z"
                            />
                            <path
                                class="st2"
                                d="M79.7,29c0,0,0.1,0,0.1,0c0.6,0,1.2,0.1,1.8,0.4c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.2,0.4,0.4
                                c0.2,0.2,0.3,0.4,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.3c-0.3,0.1-0.8,0.4-1.4,0.7c0-0.1-0.1-0.2-0.3-0.4c-0.5-0.5-1.1-0.8-1.8-0.8
                                c-0.7,0-1.3,0.2-1.7,0.6c-0.2,0.2-0.3,0.3-0.3,0.4c-0.1,0.2-0.2,0.5-0.2,0.7c0,0,0,0,0,0c0,0.4,0.1,0.6,0.4,0.8
                                c0.1,0.1,0.2,0.2,0.4,0.2c0.3,0.2,0.7,0.3,1.2,0.5c0.4,0.1,0.9,0.2,1.4,0.3c0.3,0.1,0.6,0.2,0.8,0.3c0.2,0.1,0.4,0.2,0.6,0.4
                                c0.2,0.2,0.4,0.3,0.5,0.5c0.4,0.6,0.6,1.2,0.6,1.9v0c0,0.7-0.2,1.3-0.6,1.9c-0.1,0.1-0.2,0.2-0.4,0.4c-0.2,0.2-0.4,0.4-0.6,0.5
                                c-0.2,0.1-0.3,0.2-0.5,0.3c-0.6,0.2-1.1,0.3-1.7,0.3c-0.9,0-1.7-0.3-2.5-0.8c-0.1-0.1-0.3-0.2-0.4-0.4c-0.2-0.2-0.4-0.4-0.4-0.5
                                c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.2-0.1-0.3-0.1-0.3c0.3-0.1,0.8-0.4,1.4-0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.2,0.2,0.3,0.4
                                c0.2,0.2,0.4,0.3,0.5,0.4c0.4,0.2,0.9,0.3,1.3,0.3c0,0,0,0,0.1,0c0.5,0,0.9-0.1,1.3-0.3c0.1-0.1,0.2-0.2,0.4-0.3
                                c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.3,0.3-0.6,0.3-1c0-0.5-0.2-1-0.7-1.3c-0.1-0.1-0.2-0.1-0.4-0.2c-0.2-0.1-0.5-0.2-0.8-0.2
                                c-1.1-0.2-1.9-0.5-2.4-0.8c-1.1-0.6-1.7-1.4-1.7-2.5c0-0.8,0.2-1.4,0.7-2c0.2-0.2,0.3-0.4,0.5-0.5c0.2-0.2,0.4-0.3,0.6-0.4
                                c0.2-0.1,0.4-0.2,0.7-0.3C78.9,29.1,79.3,29,79.7,29z"
                            />
                            <path
                                class="st2"
                                d="M92.3,29.2c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                                c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C86,29.2,88.5,29.2,92.3,29.2z"
                            />
                            <path
                                class="st2"
                                d="M94,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C94,38.7,94,34.9,94,29.2L94,29.2z"
                            />
                            <path
                                class="st2"
                                d="M102.6,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                                C102.6,38.7,102.6,34.9,102.6,29.2L102.6,29.2z"
                            />
                            <path
                                class="st2"
                                d="M110.8,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                                C110.8,38.7,110.8,34.9,110.8,29.2L110.8,29.2z"
                            />
                            <path
                                class="st2"
                                d="M119.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                                c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                                C119,38.7,119,34.9,119.1,29.2L119.1,29.2z"
                            />
                            <path
                                class="st2"
                                d="M127.6,29.2c0.3,0,0.8,0,1.6,0c0.9,1.4,2.7,4.1,5.5,8.2c0.1,0.1,0.2,0.4,0.5,0.8c0-1.5,0-4.5,0-8.9l0,0
                                c0.2,0,0.7,0,1.5,0l0,0c0,1.9,0,5.7,0,11.4l0,0c-0.3,0-0.8,0-1.6,0c-0.3-0.4-1.3-1.9-3.1-4.7c-0.6-0.9-1.6-2.4-2.9-4.3
                                c0,1.5,0,4.5,0,8.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C127.6,38.7,127.6,34.9,127.6,29.2L127.6,29.2z"
                            />
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <div class="row relative-spacer-top">
        <div class="col-sm-1 margin-pos-left"></div>

        <div class="col text-center book-content-text">
            <p class="fw-bold">
                LOVE ALWAYS WINS - das ist LAW ! Das ist nicht nur mein Motto ,
                das ist meine Lebenseinstellung. Aber was ist wenn dir Gewalt
                angetan wird ?
            </p>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/wHkRSOnWJLM"
                    title="Lijana video"
                >
                    ></iframe
                >
            </div>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <div class="row bg-info">
        <div class="row relative-spacer-top">
            <div class="col-sm-1 margin-pos-right"></div>
            <div class="col landingpage-book-titel-sub-text bg-info">
                Bestelle jetzt bei der Buchhandlug Deines Vertrauens oder direkt
                bei:
            </div>
            <div class="col-sm-1 margin-pos-left"></div>
        </div>

        <div class="row relative-spacer-top-bottom-equal bg-info" id="shops">
            <div class="col-sm-1 margin-pos-right"></div>
            <div class="col">
                <a
                    href="https://www.amazon.de/verdienst-den-Tod-Cybermobbing-Gesellschaft/dp/3831206244/ref=sr_1_1?keywords=lijana+kaggwa&qid=1671095581&s=books&sprefix=lijana%2Cstripbooks%2C97&sr=1-1

            "
                >
                    <button class="btn btn-success border-0">
                        <img
                            style="
                                margin-left: 0px;
                                max-width: 100%;
                                height: auto;
                            "
                            alt="Amazon"
                            src="../../static/main/assets/img/book/amazon.de-logo.svg.png"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col">
                <a
                    href="https://www.thalia.de/shop/home/artikeldetails/A1066791025"
                >
                    <button class="btn btn-success border-0">
                        <img
                            style="
                                margin-left: 0px;
                                max-width: 100%;
                                height: auto;
                            "
                            class="img-fluid"
                            alt="Thalia"
                            src="../../static/main/assets/img/book/thalia.PNG"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col">
                <a
                    href="https://www.hugendubel.de/de/buch_kartoniert/lijana_kaggwa-du_verdienst_den_tod-44711919-produkt-details.html"
                >
                    <button class="btn btn-success border-0">
                        <img
                            style="
                                margin-left: 0px;
                                max-width: 100%;
                                height: auto;
                            "
                            alt="Hugendubel"
                            src="../../static/main/assets/img/book/hugendubel.PNG"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col">
                <a
                    href="https://www.genialokal.de/Produkt/Lijana-Kaggwa/Du-verdienst-den-Tod_lid_49202301.html"
                >
                    <button class="btn btn-success border-0">
                        <img
                            style="
                                margin-left: 0px;
                                max-width: 100%;
                                height: auto;
                            "
                            class="img-fluid"
                            alt="Genialokal"
                            src="../../static/main/assets/img/book/genialokal.PNG"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col-sm-1 margin-pos-left"></div>
        </div>
    </div>
</div>

{% endblock %}

<!-- <div class="row relative-spacer-top-bottom">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col text-start">
            <a href="#shops">
                <svg
                    version="1.1"
                    id="Ebene_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="200"
                    viewBox="0 0 168 52"
                    style="enable-background: new 0 0 168 52"
                    xml:space="preserve"
                >
                    <style type="text/css">
                        .st0 {
                            fill: #bd8f8f;
                        }
                    </style>
                    <g>
                        <g>
                            <path
                                class="st0"
                                d="M136.7,51.6H25.5c-14.2,0-25.8-11.6-25.8-25.8S11.3,0.1,25.5,0.1h111.3c14.2,0,25.8,11.6,25.8,25.8
                                S150.9,51.6,136.7,51.6z M25.5,2.1C12.4,2.1,1.7,12.8,1.7,25.9s10.7,23.8,23.8,23.8h111.3c13.1,0,23.8-10.7,23.8-23.8
                                S149.8,2.1,136.7,2.1H25.5z"
                            />
                        </g>
                    </g>
                    <g>
                        <path
                            class="st0"
                            d="M63.9,10c0.2,0,0.8,0,1.5,0c0,1.3,0,4,0,8c0,0.5-0.1,1.1-0.4,1.6c-0.1,0.2-0.2,0.4-0.4,0.6
                            c-0.2,0.2-0.4,0.4-0.5,0.5c-0.2,0.2-0.4,0.3-0.6,0.4c-0.5,0.2-0.9,0.3-1.4,0.3c-0.2,0-0.4,0-0.8,0c-0.5,0-1-0.1-1.5-0.4
                            c-0.2-0.1-0.4-0.2-0.6-0.4c-0.1-0.1-0.2-0.2-0.3-0.3c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.1-0.2-0.3-0.2-0.5c-0.2-0.4-0.2-0.8-0.2-1.2
                            c0-0.1,0-0.3,0-0.6c0.2,0,0.8,0,1.5,0c0,0.1,0,0.3,0,0.5c0,0.5,0.2,0.9,0.5,1.3c0.2,0.1,0.3,0.2,0.3,0.3c0.3,0.2,0.7,0.4,1,0.4
                            c0.2,0,0.4,0,0.7,0c0.4,0,0.8-0.1,1.1-0.4c0.2-0.1,0.3-0.3,0.4-0.4c0.3-0.4,0.4-0.8,0.4-1.2C63.9,16.2,63.9,13.5,63.9,10L63.9,10z"
                        />
                        <path
                            class="st0"
                            d="M68.5,10c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                            c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                            C68.5,19.5,68.5,15.7,68.5,10L68.5,10z"
                        />
                        <path
                            class="st0"
                            d="M83.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                            c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C77.4,10,79.9,10,83.7,10z"
                        />
                        <path
                            class="st0"
                            d="M85.4,10c1.4,0,4.2,0,8.5,0v0c-1.1,1.7-3.2,5-6.5,9.9c1.1,0,3.2,0,6.4,0l0,0c0,0.2,0,0.7,0,1.5l0,0
                            c-1.5,0-4.6,0-9.2,0v0c1.1-1.7,3.2-5,6.5-9.9c-0.9,0-2.8,0-5.7,0v0C85.4,11.2,85.4,10.7,85.4,10L85.4,10z"
                        />
                        <path
                            class="st0"
                            d="M102.7,10c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                            c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C96.4,10,99,10,102.7,10z"
                        />
                    </g>
                    <g>
                        <path
                            class="st2"
                            d="M24.5,29.2c0,0,0.3,0.6,0.7,1.8c0.7,1.6,1.7,4.1,3,7.4h0c0.6-1.5,1.8-4.5,3.6-9c0-0.1,0.1-0.1,0.1-0.1
                            c0.4,0,0.9,0,1.7,0h0c-0.8,1.9-2.3,5.6-4.6,11.2c0,0.2-0.1,0.2-0.1,0.2c-0.3,0-0.8,0-1.4,0c0,0-0.1-0.1-0.2-0.3
                            c-2.2-5.2-3.3-8-3.4-8.3c-0.1-0.1-0.4-1-1.2-2.8C23.1,29.2,23.7,29.2,24.5,29.2z"
                        />
                        <path
                            class="st2"
                            d="M39.9,29.2C39.9,29.2,39.9,29.2,39.9,29.2c1.5,0,2.9,0.6,4,1.8c1,1.2,1.5,2.5,1.5,4c0,1.6-0.6,3-1.8,4.2
                            c-1.1,1-2.3,1.5-3.7,1.5c-1.4,0-2.6-0.5-3.7-1.5c-0.5-0.5-0.8-0.9-0.9-1.2c-0.6-0.9-0.9-2-0.9-3.1c0,0,0,0,0,0c0-1.6,0.6-3,1.8-4.2
                            c0.1-0.1,0.3-0.2,0.5-0.4C37.7,29.5,38.8,29.2,39.9,29.2z M35.9,34.9c0,1.2,0.5,2.3,1.4,3.2c0.8,0.7,1.6,1,2.6,1
                            c1.2,0,2.3-0.6,3.2-1.7c0.5-0.8,0.8-1.6,0.8-2.5c0,0,0-0.1,0-0.1c0-1.1-0.4-2-1.1-2.9c-0.8-0.9-1.8-1.3-2.9-1.3
                            c-1.2,0-2.2,0.5-3.1,1.5C36.2,33,35.9,33.9,35.9,34.9z"
                        />
                        <path
                            class="st2"
                            d="M47.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.5,3.1,1.4c0.6,0.7,0.9,1.5,0.9,2.4c0,1.1-0.4,2-1.3,2.8
                            c-0.5,0.4-0.9,0.6-1.2,0.7c0,0,0.5,0.9,1.5,2.7c0.2,0.3,0.5,0.8,0.9,1.5v0c-0.3,0-0.9,0-1.8,0c0,0-0.2-0.2-0.4-0.8
                            c-1.1-1.9-1.7-3-1.8-3.2c-0.5,0-1.2,0-2.2,0c0,0.6,0,1.9,0,3.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C47.8,38.7,47.8,34.9,47.9,29.2
                            L47.9,29.2z M49.3,30.7c0,0.8,0,2.2,0,4.5c0.4,0,1.2,0,2.4,0c0.8,0,1.4-0.3,1.9-0.9c0.3-0.4,0.5-0.8,0.5-1.3c0,0,0-0.1,0-0.1
                            c0-0.7-0.3-1.3-1-1.8c-0.4-0.3-1-0.5-1.7-0.5C51,30.7,50.3,30.7,49.3,30.7C49.4,30.7,49.3,30.7,49.3,30.7z"
                        />
                        <path
                            class="st2"
                            d="M57.9,29.2c0.6,0,1.9,0,3.8,0c1.2,0,2.2,0.4,2.9,1.2c0.4,0.5,0.6,1,0.6,1.7c0,0,0,0.1,0,0.2
                            c0,0.9-0.3,1.6-1,2.2v0c0.2,0.1,0.4,0.2,0.6,0.5c0.5,0.6,0.8,1.2,0.8,1.9c0,0.1,0,0.3,0,0.6c0,1.1-0.5,1.9-1.5,2.6
                            c-0.5,0.3-0.8,0.4-0.9,0.4c-0.3,0.1-0.8,0.2-1.4,0.2c-0.9,0-2.1,0-3.9,0c0,0,0,0,0,0C57.9,38.7,57.9,34.9,57.9,29.2L57.9,29.2z
                            M59.4,35.4c0,0.6,0,1.8,0,3.7c0.4,0,1.3,0,2.6,0c0.9,0,1.5-0.3,1.9-1c0.1-0.2,0.2-0.5,0.2-0.8c0-0.1,0-0.2,0-0.3
                            c0-0.7-0.4-1.1-1.1-1.4c-0.3-0.1-0.7-0.2-1.2-0.2C61.2,35.4,60.5,35.4,59.4,35.4C59.4,35.4,59.4,35.4,59.4,35.4z M59.4,30.7
                            c0,0.5,0,1.6,0,3.2c0.4,0,1.1,0,2.2,0c0.9,0,1.6-0.3,1.9-1c0.1-0.2,0.1-0.4,0.1-0.5c0-0.1,0-0.2,0-0.3c0-0.6-0.4-1-1.2-1.2
                            c-0.2-0.1-0.6-0.1-1-0.1C61,30.7,60.3,30.7,59.4,30.7z"
                        />
                        <path
                            class="st2"
                            d="M68.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                            c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                            C68.1,38.7,68.1,34.9,68.1,29.2L68.1,29.2z"
                        />
                        <path
                            class="st2"
                            d="M79.7,29c0,0,0.1,0,0.1,0c0.6,0,1.2,0.1,1.8,0.4c0.2,0.1,0.4,0.2,0.5,0.3c0.1,0.1,0.2,0.2,0.4,0.4
                            c0.2,0.2,0.3,0.4,0.4,0.5c0.1,0.1,0.1,0.2,0.2,0.3c-0.3,0.1-0.8,0.4-1.4,0.7c0-0.1-0.1-0.2-0.3-0.4c-0.5-0.5-1.1-0.8-1.8-0.8
                            c-0.7,0-1.3,0.2-1.7,0.6c-0.2,0.2-0.3,0.3-0.3,0.4c-0.1,0.2-0.2,0.5-0.2,0.7c0,0,0,0,0,0c0,0.4,0.1,0.6,0.4,0.8
                            c0.1,0.1,0.2,0.2,0.4,0.2c0.3,0.2,0.7,0.3,1.2,0.5c0.4,0.1,0.9,0.2,1.4,0.3c0.3,0.1,0.6,0.2,0.8,0.3c0.2,0.1,0.4,0.2,0.6,0.4
                            c0.2,0.2,0.4,0.3,0.5,0.5c0.4,0.6,0.6,1.2,0.6,1.9v0c0,0.7-0.2,1.3-0.6,1.9c-0.1,0.1-0.2,0.2-0.4,0.4c-0.2,0.2-0.4,0.4-0.6,0.5
                            c-0.2,0.1-0.3,0.2-0.5,0.3c-0.6,0.2-1.1,0.3-1.7,0.3c-0.9,0-1.7-0.3-2.5-0.8c-0.1-0.1-0.3-0.2-0.4-0.4c-0.2-0.2-0.4-0.4-0.4-0.5
                            c-0.2-0.2-0.3-0.4-0.4-0.6c-0.1-0.2-0.1-0.3-0.1-0.3c0.3-0.1,0.8-0.4,1.4-0.6c0.1,0.2,0.2,0.4,0.3,0.6c0.1,0.1,0.2,0.2,0.3,0.4
                            c0.2,0.2,0.4,0.3,0.5,0.4c0.4,0.2,0.9,0.3,1.3,0.3c0,0,0,0,0.1,0c0.5,0,0.9-0.1,1.3-0.3c0.1-0.1,0.2-0.2,0.4-0.3
                            c0.1-0.1,0.2-0.3,0.3-0.4c0.2-0.3,0.3-0.6,0.3-1c0-0.5-0.2-1-0.7-1.3c-0.1-0.1-0.2-0.1-0.4-0.2c-0.2-0.1-0.5-0.2-0.8-0.2
                            c-1.1-0.2-1.9-0.5-2.4-0.8c-1.1-0.6-1.7-1.4-1.7-2.5c0-0.8,0.2-1.4,0.7-2c0.2-0.2,0.3-0.4,0.5-0.5c0.2-0.2,0.4-0.3,0.6-0.4
                            c0.2-0.1,0.4-0.2,0.7-0.3C78.9,29.1,79.3,29,79.7,29z"
                        />
                        <path
                            class="st2"
                            d="M92.3,29.2c0,0.2,0,0.8,0,1.5c-0.5,0-1.5,0-3,0c0,1.7,0,5,0,9.9c-0.2,0-0.8,0-1.5,0h0c0-1.7,0-5,0-9.9
                            c-0.5,0-1.5,0-3,0c0-0.2,0-0.8,0-1.5C86,29.2,88.5,29.2,92.3,29.2z"
                        />
                        <path
                            class="st2"
                            d="M94,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                            c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                            C94,38.7,94,34.9,94,29.2L94,29.2z"
                        />
                        <path
                            class="st2"
                            d="M102.6,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                            C102.6,38.7,102.6,34.9,102.6,29.2L102.6,29.2z"
                        />
                        <path
                            class="st2"
                            d="M110.8,29.2c0.2,0,0.7,0,1.5,0h0c0,1.7,0,5,0,9.9c0.8,0,2.5,0,5,0c0,0.2,0,0.8,0,1.5c-1.1,0-3.2,0-6.5,0h0
                            C110.8,38.7,110.8,34.9,110.8,29.2L110.8,29.2z"
                        />
                        <path
                            class="st2"
                            d="M119.1,29.2c1,0,3.1,0,6.1,0c0,0.2,0,0.8,0,1.5c-0.8,0-2.3,0-4.6,0c0,0.6,0,1.7,0,3.5c0.6,0,1.8,0,3.7,0l0,0
                            c0,0.2,0,0.7,0,1.5l0,0c-0.6,0-1.8,0-3.7,0c0,0.6,0,1.7,0,3.5c0.8,0,2.3,0,4.6,0c0,0.2,0,0.8,0,1.5c-1,0-3.1,0-6.1,0h0
                            C119,38.7,119,34.9,119.1,29.2L119.1,29.2z"
                        />
                        <path
                            class="st2"
                            d="M127.6,29.2c0.3,0,0.8,0,1.6,0c0.9,1.4,2.7,4.1,5.5,8.2c0.1,0.1,0.2,0.4,0.5,0.8c0-1.5,0-4.5,0-8.9l0,0
                            c0.2,0,0.7,0,1.5,0l0,0c0,1.9,0,5.7,0,11.4l0,0c-0.3,0-0.8,0-1.6,0c-0.3-0.4-1.3-1.9-3.1-4.7c-0.6-0.9-1.6-2.4-2.9-4.3
                            c0,1.5,0,4.5,0,8.9l0,0c-0.2,0-0.7,0-1.5,0c0,0,0,0,0,0C127.6,38.7,127.6,34.9,127.6,29.2L127.6,29.2z"
                        />
                    </g>
                </svg>
            </a>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div> -->
