{% extends "../main/base_generic.html" %} {% load static %} {% block content %}
<!-- Header background-image -->
<div
    class="bg-img"
    style="
        margin-top: -30px;
        /* Control the height of the image */
        min-height: 700px;
        background-image: url('../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg');
    "
>
    <div class="row relative-pos-top" style="height: auto">
        <!-- The left col with right side margin -->
        <div class="col-lg-1 margin-pos-right"></div>
        <!-- The col for the titel text-->
        <div class="col-lg-4 relative-pos-top-titel-text">
            <div class="font-titel-text">Lorem <br />Ipsums</div>
            <!-- The col for the sub titel text-->
            <div class="col relative-pos-book-button">
                <div class="font-titel-sub-text">
                    Lorem ipsum dolor<br />sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="col-lg-1 margin-pos-left"></div>
    </div>
</div>
<!-- Header background-image ends here -->

<!-- ######## Content first block starts here ########-->
<div class="row relative-pos-content-text" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>
    <div class="col">
        <div class="font-content-text">Cras vel metus<br />viverra est.</div>
        <div class="font-content-sub-text relative-pos-content-sub-text">
            sit amet fermentum felis.
        </div>
    </div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>
<!-- ######## Content first block ends here ########-->

<!-- ######## Content second block starts here ########-->
<div class="row relative-pos-book-top-bottom" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>
    <div class="col-lg-3 me-0 book-content-text">
        <img
            src="../../static/main/assets/img/book/Buch-von-Lijana.PNG"
            class="float-start imgshadow"
            alt=""
        />
    </div>
    <div class="col book-content-text">
        <p>
            ‚Ab jetzt höre ich nur noch auf mein Herz und deswegen verzichte ich
            auf das Finale, denn love always wins‘, sagte ich im Finale von
            Germany’s next Topmodel und obwohl ich wusste, dass das Thema
            wichtig ist für das ich einstehe, wusste ich damals noch nicht,
            wohin mich der Weg führen sollte. Monate des Hasses lagen hinter mir
            und der geriet gefährlich außer Kontrolle. Ich sei ein Einzelfall,
            wurde mir anfangs immer wieder gesagt, doch mir kam der Hass im Netz
            dafür viel zu routiniert vor.
        </p>
    </div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>
<!-- ######## Content second block ends here ########-->

<!-- ######## Content third block starts here ########-->
<div class="row relative-pos-book-top-bottom" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>

    <div class="col book-content-text">
        <p>
            ‚Ab jetzt höre ich nur noch auf mein Herz und deswegen verzichte ich
            auf das Finale, denn love always wins‘, sagte ich im Finale von
            Germany’s next Topmodel und obwohl ich wusste, dass das Thema
            wichtig ist für das ich einstehe, wusste ich damals noch nicht,
            wohin mich der Weg führen sollte. Monate des Hasses lagen hinter mir
            und der geriet gefährlich außer Kontrolle. Ich sei ein Einzelfall,
            wurde mir anfangs immer wieder gesagt, doch mir kam der Hass im Netz
            dafür viel zu routiniert vor.
        </p>
    </div>
    <div class="col-lg-3 ms-0 book-content-text text-end">
        <img
            src="../../static/main/assets/img/book/Buch-von-Lijana.PNG"
            class="float-end imgshadow"
            alt=""
        />
    </div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>

<div class="row relative-spacer-top">
    <div class="col-sm-1 margin-pos-left"></div>

    <div class="col text-left book-content-text">
        <p class="fw-bold">
            LOVE ALWAYS WINS - das ist LAW ! Das ist nicht nur mein Motto , das
            ist meine Lebenseinstellung. Aber was ist wenn dir Gewalt angetan
            wird ?
        </p>
        <div class="embed-responsive embed-responsive-21by9">
            <iframe
                class="embed-responsive-item"
                src="https://www.youtube.com/embed/wHkRSOnWJLM"
                title="Lijana video"
            >
                ></iframe
            >
        </div>
    </div>
    <div class="col-sm-1 margin-pos-left"></div>
</div>

<!-- Background image -->
<div
    class="bg-img"
    style="
        margin-top: -15px;
        /* Control the height of the image */
        max-height: 490px;
        max-width: 100%;
        height: auto;
        background-image: url('../../static/main/assets/img/new/grafik/Buch-Hintergrund-Banner.jpg');
    "
>
    <div class="row relative-spacer-top">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col landingpage-book-titel-sub-text">
            Bestelle jetzt bei der Buchhandlug Deines Vertrauens oder direkt
            bei:
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>

    <div class="row relative-spacer-top-bottom-equal" id="shops">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col">
            <a
                href="https://www.amazon.de/verdienst-den-Tod-Cybermobbing-Gesellschaft/dp/3831206244/ref=sr_1_1?keywords=lijana+kaggwa&qid=1671095581&s=books&sprefix=lijana%2Cstripbooks%2C97&sr=1-1

        "
            >
                <button class="btn btn-success border-0">
                    <img
                        style="margin-left: 0px; max-width: 100%; height: auto"
                        alt="Amazon"
                        src="../../static/main/assets/img/book/amazon.de-logo.svg.png"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col">
            <a
                href="https://www.thalia.de/shop/home/artikeldetails/A1066791025"
            >
                <button class="btn btn-success border-0">
                    <img
                        style="margin-left: 0px; max-width: 100%; height: auto"
                        class="img-fluid"
                        alt="Thalia"
                        src="../../static/main/assets/img/book/thalia.PNG"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col">
            <a
                href="https://www.hugendubel.de/de/buch_kartoniert/lijana_kaggwa-du_verdienst_den_tod-44711919-produkt-details.html"
            >
                <button class="btn btn-success border-0">
                    <img
                        style="margin-left: 0px; max-width: 100%; height: auto"
                        alt="Hugendubel"
                        src="../../static/main/assets/img/book/hugendubel.PNG"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col">
            <a
                href="https://www.genialokal.de/Produkt/Lijana-Kaggwa/Du-verdienst-den-Tod_lid_49202301.html"
            >
                <button class="btn btn-success border-0">
                    <img
                        style="margin-left: 0px; max-width: 100%; height: auto"
                        class="img-fluid"
                        alt="Genialokal"
                        src="../../static/main/assets/img/book/genialokal.PNG"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col-sm-1 margin-pos-left"></div>
    </div>
</div>
<!-- ######## Content third block ends here ########-->
{% endblock %}
