{% extends "../main/base_generic.html" %} {% block content %}

<div class="container-fluid bg-white text-dark">
    <!--Heading row starts here-->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>
        <div class="col-sm-10 col text-center">
            <br /><br />
            <h1>Du verdienst den Tod! Trotzdem lebe ich weiter</h1>
            <br />
        </div>
    </div>
    <!--Heading row ends here-->

    <!--First Abschnitt row starts here-->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>

        <!--Teaser  col starts here-->
        <div class="col-sm-6">
            <div class="titel-text">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectateur adispicing elit.
                    Fusce euismod convallis velit, eu auctor lacus vehicula sit
                    amet. Lorem ipsum dolor sit amet, consectateur adispicing
                    elit. Fusce euismod convallis velit, eu auctor lacus
                    vehicula sit amet. Lorem ipsum dolor sit amet, consectateur
                    adispicing elit. Fusce euismod convallis velit, eu auctor
                    lacus vehicula sit amet. Lorem ipsum dolor sit amet,
                    consectateur adispicing elit. Fusce euismod convallis velit,
                    eu auctor lacus vehicula sit amet. Lorem ipsum dolor sit
                    amet, consectateur adispicing elit. Fusce euismod convallis
                    velit, eu auctor lacus vehicula sit amet. Lorem ipsum dolor
                    sit amet, consectateur adispicing elit. Fusce euismod
                    convallis velit, eu auctor lacus vehicula sit amet.
                </p>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a
                        href="#shops"
                        class="btn btn-success btn-lg text-white active"
                        role="button"
                        aria-pressed="true"
                    >
                        Jetzt bestellen!</a
                    >
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>

        <!--Cover in 3D col starts here-->
        <div class="col-sm-4">
            <img
                alt="Lijana-book"
                class="img-fluid float-sm-right"
                src="../../static/main/assets/img/new/Buch.png"
            />
        </div>
        <div class="col margin-pos-left"></div>
    </div>
    <!--First Abschnitt row ends here-->

    <!--Beschreibung Abschnitt row starts here-->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>

        <!--Bild von Lijana col-->
        <div class="col-sm-4">
            <img
                style="margin-left: 0px; max-width: 90%; height: auto"
                alt="Lijana-book"
                class="img-fluid float-sm-left"
                src="../../static/main/assets/img/book/lijana-book-medium.jpg"
            />
        </div>

        <!--Beschreibung von Lijana col starts here-->
        <div class="col-sm-5">
            <p class="lead">
                Lijana Kaggwa (25) gab ihr Mathestudium für eine Modelkarriere
                auf. 2020 wurde sie durch die TV-Sendung GNTM (Germany’s Next
                Top Model) bekannt. Was als großer Traum begann, mündete in
                einem Albtraum. Aus der Favoritin der Sendung wurde eine
                Zielscheibe. Die damals 23-Jährige Studentin wurde von einer
                Welle des Hasses im Netz überrollt. Sie und ihre Familie (sogar
                ihr Hund) wurden im realen Leben bedroht und wüst beschimpft.
                Sie stieg schließlich freiwillig im GNTM-Finale vor einem
                Millionenpublikum aus, um ein Zeichen gegen Cybermobbing zu
                setzten. Danach gründete sie ihren Verein „Love always wins“.
                Die Mindset-Influencerin lebt in Kassel und kommt aus einer
                Patchwork-Familie mit vier Geschwistern. Was Lijana besonders
                betroffen macht: Ein großer Teil der Anfeindungen im Netz sind
                rassistischer Natur.
            </p>
        </div>

        <div class="col margin-pos-left"></div>
    </div>

    <!--Vorbestellaktion Abschnitt row starts here-->
    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>

        <!--Vorbestellaktion Text col starts here-->
        <div class="col-sm-6 relative-spacer-top">
            <div class="titel-text">
                <p class="fw-bold">
                    Bestellt das Buch bis 03.04.2023 vor und erhaltet eine
                    kleine Überraschung!
                </p>
                <p class="lead">
                    Wenn du dir das Buch bis zum 03.04.22 vorbestellst, erhältst
                    du eine von Manuel eingesprochene Meditation GRATIS als
                    MP3-Datei. Schicke hierfür einfach einen Screenshot deiner
                    Bestellbestätigung an folgende Mailadresse:
                    <a href="#bestell">saskia.beer@komplett-media.com</a>
                    Wir schicken dir die Mediatation dann am 03.04.23 ganz
                    einfach als MP3 per E-Mail zu.
                </p>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a
                        href="#shops"
                        class="btn btn-success btn-lg text-white active"
                        role="button"
                        aria-pressed="true"
                    >
                        Jetzt bestellen!</a
                    >
                    <br /><br /><br /><br />
                </div>
            </div>
        </div>

        <!--Bild von Buchstapel col starts here-->
        <div class="col-sm-4">
            <img
                alt="Lijana-book"
                class="img-fluid float-sm-right"
                src="../../static/main/assets/img/book/lijana-book-small.jpg"
            />
        </div>
        <div class="col margin-pos-left"></div>
    </div>

    <div class="row">
        <div class="col-sm-1 margin-pos-right"></div>

        <div class="col-sm-10">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/wHkRSOnWJLM"
                    title="Lijana video"
                    allowfullscreen
                ></iframe>
            </div>
        </div>

        <div class="col margin-pos-left"></div>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <h2>
                Bestelle jetzt bei der Buchhandlug Deines Vertrauens oder direkt
                bei:
            </h2>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" id="shops">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <a
                href="https://www.amazon.de/verdienst-den-Tod-Cybermobbing-Gesellschaft/dp/3831206244/ref=sr_1_1?keywords=lijana+kaggwa&qid=1671095581&s=books&sprefix=lijana%2Cstripbooks%2C97&sr=1-1

                "
            >
                <button class="btn btn-success">
                    <img
                        style="margin-left: 0px; max-width: 50%; height: auto"
                        alt="Amazon"
                        src="../../static/main/assets/img/book/amazon.de-logo.svg.png"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col-sm-2">
            <a
                href="https://www.hugendubel.de/de/buch_kartoniert/lijana_kaggwa-du_verdienst_den_tod-44711919-produkt-details.html"
            >
                <button class="btn btn-success">
                    <img
                        style="margin-left: 0px; max-width: 50%; height: auto"
                        alt="Hugendubel"
                        src="../../static/main/assets/img/book/hugendubel-logo.svg.png"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col-sm-2">
            <a
                href="https://www.thalia.de/shop/home/artikeldetails/A1066791025"
            >
                <button class="btn btn-success">
                    <img
                        style="margin-left: 0px; max-width: 50%; height: auto"
                        class="img-fluid"
                        alt="Thalia"
                        src="../../static/main/assets/img/book/thalia_logo_10.2017.svg.png"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col-sm-2">
            <a
                href="https://www.genialokal.de/Produkt/Lijana-Kaggwa/Du-verdienst-den-Tod_lid_49202301.html"
            >
                <button class="btn btn-success">
                    <img
                        style="margin-left: 0px; max-width: 50%; height: auto"
                        class="img-fluid"
                        alt="Genialokal"
                        src="../../static/main/assets/img/book/genialokal_Logo_RGB.png"
                    />
                    Jetzt bestellen!
                </button>
            </a>
        </div>
        <div class="col-sm-2">
            <h6>Beste</h6>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<!--################################# Ending here ############################-->
<!--################################# Ending here ############################-->
<!--################################# Ending here ############################-->

{% endblock %}
