{% extends "../main/base_generic.html" %} {% load static %} {% block content %}
<!-- Header background-image -->
<header class="book">
    <div class="container">
        <div class="logo">
            <img
                src="../../static/main/assets/img/new/grafik/Buch-text-Banner.svg"
                width="600"
                alt="BOOK TEXT CYBERMOBBING LoveAlwaysWins"
                loading="lazy"
            />

            <a href="{% url 'main-book' %}">
                <img
                    style="margin-top: 56px"
                    src="../../static/main/assets/img/new/grafik/Button_Bestellen.svg"
                    alt="Button_Bestellen"
                    width="180"
                    loading="lazy"
                />
            </a>
        </div>
        <div class="action-button">
            <a href="{% url 'main-book' %}">
                <img
                    src="../../static/main/assets/img/book/Cover_final.jpg"
                    width="230"
                    alt="BOOK CYBERMOBBING LoveAlwaysWins"
                    loading="lazy"
                />
            </a>
        </div>
    </div>
</header>

<div class="row relative-pos-content-text" style="height: auto">
    <div class="container">
        <div class="col">
            <div class="font-content-text">
                Neque porro quisquam est,<br />qui dolorem ipsum quia.
            </div>
            <div class="font-content-sub-text relative-pos-content-sub-text">
                Duis gravida tempor leo, sed dapibus ex cursus sed. Ut sed
                sollicitudin dui. Phasellus in semper ipsum.
            </div>
        </div>
    </div>
</div>

<div class="row relative-pos-book-top-bottom" style="height: auto">
    <div class="container">
        <div class="col-lg-3 me-0 book-content-text">
            <img
                src="../../static/main/assets/img/book/Buch-von-Lijana.PNG"
                class="float-start imgshadow"
                alt=""
            />
        </div>
        <div class="col book-content-text">
            <p>
                ‚Ab jetzt höre ich nur noch auf mein Herz und deswegen verzichte
                ich auf das Finale, denn love always wins‘ , sagte ich im Finale
                von Germany’s next Topmodel und obwohl ich wusste, dass das
                Thema wichtig ist für das ich einstehe, wusste ich damals noch
                nicht, wohin mich der Weg führen sollte. Monate des Hasses lagen
                hinter mir und der geriet gefährlich außer Kontrolle. Ich sei
                ein Einzelfall, wurde mir anfangs immer wieder gesagt, doch mir
                kam der Hass im Netz dafür viel zu routiniert vor. Als ich
                herausfand wieviele Menschen wirklich unter dem Massenphänomen
                Cybermobbing leiden, war ich schockiert. Meine Reise führte mich
                zu Betroffenen und Angehörigen, Influencer-Stars und
                Schülerinnen, Politikerinnen, Staatsanwälten und Experten auf
                dem Gebiet Cybermobbings. Alle sind sich einig : es muss sich
                schnell etwas ändern. In meinem Buch geht es um meine
                Erfahrungen mit Cybermobbing und die Strukturen dahinter. Aber
                mir geht es um mehr. Ich bin nur eine unter Millionen und
                digitale Gewalt können wir nur gemeinsam bekämpfen , indem wir
                ihm Stärke , Mut und Liebe entgegenstellen. Wie uns das gelingt
                , was die Medien damit zutun haben und welche veralteten
                Strukturen wir dringend hinter uns lassen müssen, erfahrt ihr in
                meinem Buch.
            </p>
        </div>
    </div>
</div>
<div class="col background-white py-3">
    <div class="container">
        <div class="clearfix">
            <img
                src="https://picsum.photos/100/100"
                class="col-md-2 w-25 rounded float-left"
                alt="..."
            />
            <p class="d-inline">
                <!--have to figure out how to wrap this-->
                Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem
                Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum
                My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio
                Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem
                Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum
                My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio
                Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem
                Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum
                My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio
                Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem Ipsum My Bio Lorem
                Ipsum My Bio Lorem Ipsum My Bio
            </p>
        </div>
    </div>
</div>

<!-- <img src="https://via.placeholder.com/100" class="float-end imgshadow" alt="">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
          in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p> -->

<div class="row relative-pos-book-top-bottom" style="height: auto">
    <!-- <div class="col-lg-1 margin-pos-right"></div> -->
    <div class="container">
        <div class="col book-content-text">
            <p>
                Lijana Kaggwa (25) gab ihr Mathestudium für eine Modelkarriere
                auf. 2020 wurde sie durch die TV-Sendung GNTM (Germany’s Next
                Top Model) bekannt. Was als großer Traum begann, mündete in
                einem Albtraum. Aus der Favoritin der Sendung wurde eine
                Zielscheibe. Die damals 23- Jährige Studentin wurde von einer
                Welle des Hasses im Netz überrollt. Sie und ihre Familie , sogar
                ihr Hund, wurden im realen Leben bedroht und wüst beschimpft.
                Die Bedrohungen wurden so konkret, dass sie unter Polizeischutz
                gestellt wurde. Lijana stieg schließlich freiwillig im GNTM-
                Finale vor einem Millionenpublikum aus, um ein Zeichen gegen
                Cybermobbing zu setzten. Danach gründete sie ihren Verein „Love
                always wins“ mit dem sie sich für mehr Respekt und Liebe im Netz
                einsetzt. Mit Kampagnen wie #nohate but #compliments mit Cathy
                Hummels , Workshops an Schulen und Vorträge bei Veranstaltung
                wie dem Safer Internet Day sensibilisiert und stärkt sie die
                Gesellschaft im Bezug auf Hass im Netz. Die Mindset-Influencerin
                lebt in Kassel und kommt aus einer Patchwork-Familie mit vier
                Geschwistern. Was Lijana besonders betroffen macht: Ein großer
                Teil der Anfeindungen im Netz sind rassistischer Natur. Wie sich
                ein solcher Hass auf eine betroffene Person auswirken kann und
                welche Folgen es hat digitale Gewalt zu ignorieren zeigt ihre
                Geschichte eindrücklich.
            </p>
        </div>
        <div class="col-lg-6 ms-0 book-content-text text-start">
            <img
                src="../../static/main/assets/img/book/Cover_final.jpg"
                width="250"
                class="float-end imgshadow"
                alt=""
            />
            <p>
                Lijana Kaggwa (25) gab ihr Mathestudium für eine Modelkarriere
                auf. 2020 wurde sie durch die TV-Sendung GNTM (Germany’s Next
                Top Model) bekannt. Was als großer Traum begann, mündete in
                einem Albtraum. Aus der Favoritin der Sendung wurde eine
                Zielscheibe. Die damals 23- Jährige Studentin wurde von einer
                Welle des Hasses im Netz überrollt. Sie und ihre Familie , sogar
                ihr Hund, wurden im realen Leben bedroht und wüst beschimpft.
                Die Bedrohungen wurden so konkret, dass sie unter Polizeischutz
                gestellt wurde. Lijana stieg schließlich freiwillig im GNTM-
                Finale vor einem Millionenpublikum aus, um ein Zeichen gegen
                Cybermobbing zu setzten. Danach gründete sie ihren Verein „Love
                always wins“ mit dem sie sich für mehr Respekt und Liebe im Netz
                einsetzt. Mit Kampagnen wie #nohate but #compliments mit Cathy
                Hummels , Workshops an Schulen und Vorträge bei Veranstaltung
                wie dem Safer Internet Day sensibilisiert und stärkt sie die
                Gesellschaft im Bezug auf Hass im Netz. Die Mindset-Influencerin
                lebt in Kassel und kommt aus einer Patchwork-Familie mit vier
                Geschwistern. Was Lijana besonders betroffen macht: Ein großer
                Teil der Anfeindungen im Netz sind rassistischer Natur. Wie sich
                ein solcher Hass auf eine betroffene Person auswirken kann und
                welche Folgen es hat digitale Gewalt zu ignorieren zeigt ihre
                Geschichte eindrücklich.
            </p>
        </div>
    </div>
</div>

<div class="row relative-pos-book-top-bottom">
    <div class="container">
        <div class="col text-left book-content-text">
            <p class="fw-bold">
                Duis gravida tempor leo, sed dapibus ex cursus sed. Ut sed
                sollicitudin dui. Phasellus in semper ipsum. Vivamus sit amet
                mauris tincidunt, fringilla urna sodales, pretium metus. Proin
                ornare feugiat varius. Nam bibendum, tortor vel lacinia finibus,
                tellus elit pellentesque libero, id fringilla turpis orci sit
                amet arcu. In et lectus dapibus, ultrices felis sed, placerat
                lacus.
            </p>
            <div class="embed-responsive embed-responsive-21by9">
                <iframe
                    class="embed-responsive-item"
                    src="https://www.youtube.com/embed/wHkRSOnWJLM"
                    title="Lijana video"
                >
                    ></iframe
                >
            </div>
        </div>
    </div>
</div>

<div
    class="bg-img"
    style="
        /* margin-top: -15px; */
        /* Control the height of the image */
        min-height: 490px;
        max-width: 100%;
        height: auto;
        background-image: url('../../static/main/assets/img/new/grafik/Buch-Hintergrund-Banner.jpg');
    "
>
    <div class="row relative-pos-book-top-bottom">
        <div class="container">
            <div class="col landingpage-book-titel-sub-text">
                <br /><br />

                Bestelle jetzt bei der Buchhandlug Deines Vertrauens oder direkt
                bei:<br />
            </div>
        </div>
    </div>

    <div class="row relative-spacer-top-bottom-equal" id="shops">
        <div class="container order-button-link flex-row">
            <div class="col">
                <a
                    href="https://www.amazon.de/verdienst-den-Tod-Cybermobbing-Gesellschaft/dp/3831206244/ref=sr_1_1?keywords=lijana+kaggwa&qid=1671095581&s=books&sprefix=lijana%2Cstripbooks%2C97&sr=1-1

        "
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/amazon.de-logo.svg.png"
                            width="100"
                            alt="Amazon"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col">
                <a
                    href="https://www.thalia.de/shop/home/artikeldetails/A1066791025"
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/thalia.PNG"
                            width="100"
                            alt="Thalia"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col">
                <a
                    href="https://www.hugendubel.de/de/buch_kartoniert/lijana_kaggwa-du_verdienst_den_tod-44711919-produkt-details.html"
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/hugendubel.PNG"
                            width="100"
                            alt="Hugendubel"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
            <div class="col">
                <a
                    href="https://www.genialokal.de/Produkt/Lijana-Kaggwa/Du-verdienst-den-Tod_lid_49202301.html"
                >
                    <button class="btn btn-success border-0">
                        <img
                            src="../../static/main/assets/img/book/genialokal.PNG"
                            width="100"
                            alt="Genialokal"
                        />
                        Jetzt bestellen!
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
