{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="main-titel titel__bg-image">
    <!-- <div class="main">
        <div class="schulbesuche__titel">
            <h1>Hinsehen und Handeln!</h1>

            <p>Wir klären auf, <br />um mehr Sicherheit ins Netz zu bringen</p>
        </div>
    </div> -->
    <div class="titel__image main-image-10">
        <img
            src="{% static 'main/assets/img/new/press/press_titel_bild.jpeg' %}"
            width="1920"
            height="700"
            alt="BG_Titel"
        />
    </div>
</div>
<div class="main-content">
    <div class="main">
        <div class="content">
            <div class="content__text">
                <h1>
                    Hinsehen und Handeln! Wir klären auf, <br />um mehr
                    Sicherheit ins Netz zu bringen.
                </h1>
                <p>
                    <br />
                    <b>Medienkompetenz Workshops oder Vorträge mit Lijana.</b>
                    <br /><br />
                    Ihren ersten Schulbesuch hatte Lijana 2020 in einer Kasseler
                    Grundschule, gemeinsam mit dem Bündnis gegen Cybermobbing.
                    Das war der Startschuss für die Kampagne ‚love always wins‘.
                    Zusammen mit Cybermobbing Organisationen besuchte sie
                    seitdem regelmäßig Schulen und bildete sich bei ihnen fort.
                    Daraufhin entwarf Lijana ein eigenes Programm für Schulen,
                    Firmen, Eltern und Lehrende, welches sie seit 2022 mit
                    unserem Verein Love Always Wins e.V. in ganz Deutschland
                    einsetzt. Wir sind stolz, auf alle Kinder und Jugendliche,
                    die wir bisher erreichen konnten:
                </p>
            </div>
        </div>
    </div>
</div>

<!-- ################## Schulbesuche ######################## -->

<div class="main-schulbesuche">
    <div class="main">
        <div class="schulbesuche">
            <div class="schulbesuche__image1">
                <img
                    src="{% static 'main/assets/img/new/press/press_01.jpeg' %}"
                    width="520"
                    height="300"
                    alt="schulbesuche-01"
                />
            </div>
            <div class="schulbesuche__text1">
                <h1>Das haben wir für euch:</h1>
                <p>
                    „Die Schülerinnen hatten viele Fragen. Und die drehten sich
                    nicht nur um Heidi, die Modelvilla in Los Angeles und das
                    Setbook mit den atemberaubenden Aufnahmen, das Lijana
                    mitgebracht hatte. Ein ebenso ernsthaftes Interesse hatten
                    die Schüler aus der Klasse von Nadja Kimm am Thema Mobbing
                    im Internet. Ob auch viele Kinder davon betroffen seien, was
                    Cybermobbing mit den Opfern mache, und wo man Hilfe bekomme,
                    wollten sie wissen. (…) Es war einaufregender Vormittag mit
                    Lijana, bei dem tief gehenden Themen und ernste Fragen
                    behandelt wurden. Beim Abschiedsfoto(…) waren alle
                    aufgekratzt und happy. Lijanas Fan-Club, das steht fest, ist
                    nach diesem sympathischen Auftritt um die Klasse 4a reicher
                    geworden. (…)“
                    https://www.hna.de/kassel/kirchditmold-ort160820/gntm-2020-kassel-lijanas-kampf-gegencybermobbing-90005771.html
                </p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="content__text">
                <h1>
                    „Cybermobbing - Lijana wehrt sich gegen dir virtuelle
                    Gewalt“
                </h1>
                <p>
                    „Wie viel Hass kann ein Mensch ertragen? Lijana wurde im
                    Internet angefeindet, beschimpft und beleidigt. Doch sie hat
                    sich entschieden, kein Opfer zu sein und sagt dem Hass im
                    Netz den Kampf an.
                </p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="schulbesuche">
            <div class="schulbesuche__image3">
                <img
                    src="{% static 'main/assets/img/new/press/press_02.jpeg' %}"
                    width="580"
                    height="320"
                    alt="schulbesuche-02"
                />
            </div>
            <div class="schulbesuche__text3">
                <p>
                    Lijana nimmt an der 15. Staffel von „Germany’s Next
                    Topmodel“ und lebt ihren lang ersehnten Traum. (…) Als die
                    vierte Folge der Staffel in Deutschland anläuft bekommt sie
                    ihr Handy zurück, das sie zu Beginn der Dreharbeiten abgeben
                    musste. Lijana stellt mit Schrecken fest, wie viele
                    Hasskommentare in ihren sozialen Medien hinterlassen wurden.
                    (…) Es entsteht eine Spirale des Hasses in der Lijana und
                    ihre Familie hilflos gefangen sind. Aus Beleidigungen und
                    Beschimpfungen werden Gewalt- und Morddrohungen. Ihre
                    Adresse wird im Internet veröffentlicht. Sie wird bis nach
                    Hause verfolgt. Lijana leidet äußerlich und innerlich. (…)
                    Lijana will raus aus der Opferrolle, gegen das Cybermobbing
                    kämpfen und berät andere Betroffene, vor allem junge
                    Menschen. “Ich muss mich zumindestens dafür einsetzen. Ich
                    muss zumindestens für die jungen Leute da sein und ein
                    Vorbild sein!”, sagt Lijana entschlossen.“
                </p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="content__text">
                <h1>
                    „Sie wurde im Internet gemobbt und bedroht, auf offener
                    Straße bespuckt: Lijana Kaggwa weiß, wie sich Cybermobbing
                    anfühlt – und gibt Tipps."
                </h1>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="schulbesuche">
            <div class="schulbesuche__image3">
                <img
                    src="{% static 'main/assets/img/new/press/press_02.jpeg' %}"
                    width="580"
                    height="320"
                    alt="schulbesuche-02"
                />
            </div>
            <div class="schulbesuche__text3">
                <p>
                    „Die Tür schwingt auf, und eine schlanke, junge Frau kommt
                    in die Turnhalle. Wie auf einem Laufsteg schreitet sie auf
                    hohen Hacken durch die Halle, schwingt die Hüften zur Musik
                    – so, wie sie es einst von Topmodel Heidi Klum gelernt hat.
                    (…) Selbstbewusst schildert Lijana Kaggwa mehreren hundert
                    Schülern und Schülerinnen ihre Geschichte. Stella Ost,
                    Lehrerin an der Johannes-Selenka-Berufsschule, hat die junge
                    Frau zum Präventionstag der Schule nach Braunschweig
                    eingeladen. In 40 Workshops befassten sich rund 800 Schüler
                    an diesem Tag mit präventivem Handeln. Schwerpunkt:
                    Cybermobbing. (…)“
                    https://www.braunschweiger-zeitung.de/braunschweig/article236568769/GNTMFinalistin-Lijana-Kaggwa-trifft-Braunschweiger-Schueler.html
                </p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="content">
            <div class="content__text">
                <h1>
                    „Kasseler Model Lijana Kaggwa macht sich gegen Mobbing
                    stark“
                </h1>
                <p>
                    „Kassel – Selbstbewusst läuft das Kasseler Model Lijana
                    Kaggwa über den roten Teppich in der Turnhalle der Swiss
                    International School Kassel. Auf den ersten Blick könnte man
                    meinen, die 25-Jährige möchte den Jugendlichen zeigen, wie
                    man sich auf dem Laufsteg richtig bewegt. Doch bei genauerem
                    Hinschauen erkennt man Beleidigungen, die in großen
                    Buchstaben auf ihrem Mantel geschrieben stehen: „Affe“,
                    „Verreck“ und vieles mehr. Denn Lijana Kaggwa ist nicht für
                    ein Laufsteg-Training zu Besuch, sondern um über
                    Cybermobbing aufzuklären. Also Hass im Internet, von dem das
                    Model mit ugandischen Wurzeln selbst betroffen war. „Während
                    meiner Teilnahme bei Germany’s Next Topmodel erlebte ich
                    seelische Folter im Internet”, berichtet sie.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="schulbesuche">
        <div class="schulbesuche__image3">
            <img
                src="{% static 'main/assets/img/new/press/press_03.jpeg' %}"
                width="580"
                height="320"
                alt="schulbesuche-02"
            />
        </div>
        <div class="schulbesuche__text3">
            <p>
                Die Hauptaussage, die das Model den Jugendlichen aus den Klassen
                acht und neun immer wieder vermittelt: „Love always wins“
                (deutsch: die Liebe gewinnt immer). Damit meine sie nicht nur
                Liebe von Freunden und Familie, sondern auch Selbstliebe: „Wenn
                man so oft angefeindet wird, glaubt man den Tätern irgendwann.
                Man muss lernen, sich selbst wieder zu lieben”, erklärt sie.
                Denn jeder Mensch sei anders und auf seine Art wertvoll.
                Symbolisch streift sie sich den Mantel mit den Beleidigungen ab.
                Die Kasselerin bindet die Jugendlichen interaktiv mit ein,
                fragt, wer im Internet schon Hass erlebt oder beobachtet hat.
                (…) Mit einem Rollenspiel holt sie das Thema Mobbing aus dem
                Internet auf den Schulhof, denn die Bedrohungen im Internet
                können auch ins echte Leben überschwappen. Auch dabei bindet sie
                zwei Schülerinnen ein. Kaggwa erarbeitet mit den Schülern, was
                sie tun können, wenn sie Mobbing erleben oder beobachten. Auch
                hier macht sie klar, dass vor allem wichtig sei, die betroffene
                Person positiv zu bestärken ( …)
            </p>
        </div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div class="content__text">
            <p>
                Das Fazit der beiden Mädchen nach dem Rollenspiel: „Es ist
                wichtig, einzuschreiten, egal ob online oder im echten Leben.
                Niemand braucht Hass”, sagt die 15-jährige Anna Küch. Ihre
                Mitschülerin Ksenia Crainincenco (16) schließt sich an: „Mir
                geht das Thema sehr nahe. Ich bin auch selbst schon
                eingeschritten, vor allem wenn Jüngere betroffen waren.” Ganz
                nach dem Motto „Love always wins” gibt es abschließend einen
                KomplimenteRegen, bei dem die Jugendlichen anonym nette Dinge
                auf Zettel schreiben, die sie ihren Mitschülern auf dem Rücken
                kleben. Unterstützt wurde das Kasseler Model bei ihrem Vortrag
                von Peter Sommerhalter, einem Experten für Prävention und
                Medienberatung beim Bündnis gegen Cybermobbing aus Karlsruhe,
                der den Jugendlichen die Strukturen im Mobbing erklärt und
                Jennifer Breede, Dozentin an der Kasseler Polizeischule, die
                über rechtliche Konsequenzen informierte.“
                https://www.hna.de/kassel/kasseler-model-lijana-kaggwa-macht-sich-gegen-mobbing-stark-91250787.htm
            </p>
        </div>
    </div>
</div>
<div class="main">
    <div class="content">
        <div class="content__text">
            <h1>
                „Lijana Kaggwa: "Ich habe Heidi Klum mehr Menschlichkeit
                zugetraut““
            </h1>
        </div>
    </div>
</div>
<div class="main">
    <div class="schulbesuche">
        <div class="schulbesuche__image3">
            <img
                src="{% static 'main/assets/img/new/press/press_03.jpeg' %}"
                width="580"
                height="320"
                alt="schulbesuche-02"
            />
        </div>
        <div class="schulbesuche__text3">
            <p>
                „Lijana Kaggwa war 2020 Kandidatin bei GNTM. Inzwischen hat sie
                ihren Verein "Love always wins" gegründet, mit dem sie in
                Schulen Workshops zum Thema Cybermobbing veranstaltet. (…)
                Während der Ausstrahlung der Show wurde sie massiv beschimpft,
                beleidigt und bedroht. Jetzt hat Kaggwa ein Buch geschrieben,
                über ihre Zeit bei GNTM, den Hass und ihr Engagement im Kampf
                gegen Cybermobbing.“
                https://www.stern.de/lifestyle/leute/gntm--finalistin-lijana-kaggwa-ueberheidi-klum-und-cybermobbing-33366570.html
            </p>
        </div>
    </div>
</div>

<div class="schulbesuche-reasonwhy">
    <div class="main">
        <div class="reason-titel">
            <h1>Reason Why</h1>
        </div>
    </div>
    <div class="main flex-row">
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Vortrag-Klasse.svg' %}"
                    width="100"
                    alt="REASON1"
                />
            </div>
            <div class="reason__text">
                <p>
                    Den Teilnehmenden wird eine neue <br />Sichtweise auf das
                    Thema Cybermobbing<br />
                    geboten, da unsere Vorträge von<br />
                    persönlichen Erfahrungen leben.
                </p>
            </div>
        </div>
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Social-Media.svg' %}"
                    width="90"
                    alt="REASON2"
                />
            </div>
            <div class="reason__text">
                <p>
                    Social Media ist ein beliebtes und <br />alltägliches Tool
                    für viele Menschen. <br />Ein reflektierter Umgang damit,
                    ist<br />
                    nicht nur wichtig für sich selbst, <br />sondern auch für
                    die gesamte <br />Gesellschaft.
                </p>
            </div>
        </div>
    </div>
    <div class="main flex-row">
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Micro.svg' %}"
                    width="80"
                    alt="REASON3"
                />
            </div>
            <div class="reason__text">
                <p>
                    Kommunikation hat eine neue Ebene-<br />Social Media. Jetzt
                    ist nicht nur der richtige<br />
                    Umgang mit den Medien, sondern auch der<br />richtige Umgang
                    mit einander auf den<br />
                    Plattformen entscheidend.
                </p>
            </div>
        </div>
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Mobbing.svg' %}"
                    width="90"
                    alt="REASON4"
                />
            </div>
            <div class="reason__text">
                <p>
                    Die Auswirkungen von Cybermobbing<br />können gravierend für
                    Betroffene sein.<br />Umso wichtiger ist es zu handeln,
                    bevor<br />etwas passiert!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main-schulbesuche">
    <div class="main">
        <div class="schulbesuche2">
            <div class="schulbesuche__text5">
                <p>
                    Lijana litt aufgrund der Ausstrahlung bei Germany’s next
                    Topmodel selber unter extremem Cybermobbing. Daraufhin
                    bildete Sie sich im Bereich digitale Gewalt fort, arbeitete
                    sie mit großen Organisationen und mit Expert*innen auf
                    diesem Gebiet zusammen und entwickelte gemeinsam mit Ihnen
                    dieses Programm.
                </p>
                <div class="button-buchen2" style="text-align: center">
                    <a href="{% url 'main-contact' %}">
                        <img
                            src="{% static 'main/assets/img/new/schule/Button-Pfeil-jetzt-Buchen-2.svg' %}"
                            alt="Button-Pfeil-jetzt-Buchen"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######## X ########## Schulbesuche ########## X ############## -->

<!-- ##################################### -->
{% endblock %}
