{% load static %}
<header class="header">
    <div class="container">
        <div class="logo">
            <a href="{% url 'main-home' %}">
                <img
                    src="{% static 'main/assets/img/new/grafik/Logo_LAW_final.svg' %}"
                    width="300"
                    height="90"
                    alt="LOGO LoveAlwaysWins"
                />
            </a>
        </div>
        <div class="action-button">
            {% if title == "Buch" %}
            <a href="{% url 'main-donate' %}">
                <img
                    src="{% static 'main/assets/img/new/grafik/Button_Spenden.svg' %}"
                    width="124"
                    height="100"
                    alt="Spenden Button"
                />
            </a>
            {% else %}
            <a href="{% url 'main-book' %}">
                <img
                    src="{% static 'main/assets/img/new/grafik/Button_Bestellen.svg' %}"
                    width="124"
                    height="100"
                    alt="Buy Button"
                />
            </a>
            {% endif %}
        </div>
    </div>
</header>
