{% load static %}
<div class="row law_main" style="height: 167px">
    <div class="col-lg-10 relative-logo-position">
        <a class="float-start" href="{% url 'main-home' %}">
            <img
                class="card-img-top"
                style="margin-top: 0px"
                src="{% static 'main/assets/img/new/grafik/Logo_LAW_final.svg' %}"
                alt="Logo"
                width="300"
                height="89"
            />
        </a>
    </div>
    <div class="col-lg-2 relative-donate-button-position text-center">
        {% if title == "Buch" %}
        <a class="" href="{% url 'main-donate' %}">
            <img
                style="margin-left: 10px; max-height: 30%"
                src="{% static 'main/assets/img/new/grafik/Button_Spenden.svg' %}"
                alt="donate"
            />
        </a>
        {% else %}
        <a class="" href="{% url 'main-book' %}">
            <img
                style="margin-left: 10px; width: 200; max-height: 30%"
                src="{% static 'main/assets/img/new/grafik/Button_Bestellen.svg' %}"
                alt="donate"
            />
        </a>
        {% endif %}
    </div>
</div>
