<footer class="footer">
    <nav class="nav footer-nav">
        <div class="container">
            <ul class="footer-nav_list">
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-home' %}"
                        >Home</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-about' %}"
                        >Lijana</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a
                        class="footer-nav_link"
                        href="{% url 'main-portalhelp' %}"
                        >Cybermobbing</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-gallery' %}"
                        >Schulbesuche</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-school' %}"
                        >Projekte</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-book' %}"
                        >Buch</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link" href="{% url 'main-donate' %}"
                        >Spende</a
                    >
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="footer-info">
            <div class="footer-info_item">
                <span>Hier findest du Lijana:</span>
            </div>
            <div class="footer-info_item">
                <a href="{% url 'main-home' %}">
                    <img
                        style="margin-left: 10px; margin-right: 150px"
                        src="../../static/main/assets/img/new/grafik/Logo_LAW_final.svg"
                        width="200"
                        height="100"
                        loading="lazy"
                        alt="LOGO LoveAlwaysWins"
                    />
                </a>
            </div>
            <div class="footer-info_item">
                <div class="footer-icons">
                    <a
                        href="https://instagram.com/lijanarisen?igshid=YmMyMTA2M2Y="
                        target="blank"
                    >
                        <img
                            src="../../static/main/assets/img/new/grafik/Icon-Instagram.svg"
                            width="28"
                            height="29"
                            alt="LIJANA Instagram Icon"
                            loading="lazy"
                        />
                    </a>
                    <a
                        href=" https://www.tiktok.com/@lijanarisen?_t=8ZSj27fX0YX&_r=1"
                        target="blank"
                    >
                        <img
                            src="../../static/main/assets/img/new/grafik/Icon-TikTok.svg"
                            width="30"
                            height="31"
                            alt="LIJANA TikTok Icon"
                            loading="lazy"
                        />
                    </a>
                    <a
                        href="https://youtube.com/@lijanarisen8955"
                        target="blank"
                    >
                        <img
                            src="../../static/main/assets/img/new/grafik/Icon-YouTube.svg"
                            width="30"
                            height="36"
                            alt="LIJANA YouTube Icon"
                            loading="lazy"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav footer-nav">
        <div class="container">
            <ul class="footer-nav_list">
                <li class="footer-nav_item">
                    <a class="footer-nav_link footer-nav_link-bottom" href="#"
                        >Nutzungsbedingungen</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link footer-nav_link-bottom" href="#"
                        >Datenschutzrichtlinie</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link footer-nav_link-bottom" href="#"
                        >Cookies-Richtlinien</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link footer-nav_link-bottom" href="#"
                        >Sicherheitshinweise</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link footer-nav_link-bottom" href="#"
                        >Cookie-Einstellungen</a
                    >
                </li>
                <li class="footer-nav_item">
                    <a class="footer-nav_link footer-nav_link-bottom" href="#"
                        ><img
                            class="card-img-top"
                            style="
                                margin-top: 0px;
                                max-width: 80%;
                                height: auto;
                            "
                            src=" ../../static/main/assets/img/new/grafik/Button_Kontakt.svg"
                            alt="Kontakt LoveAlwaysWins"
                    /></a>
                </li>
            </ul>
        </div>
    </nav>
</footer>
