{% extends "../main/base_generic.html" %} {% load static %} {% block content %}
<!-- Header background-image -->
<div
    class="bg-img"
    style="
        margin-top: -30px;
        /* Control the height of the image */
        min-height: 700px;
        background-image: url('../../static/main/assets/img/new/Titelbild-DSC_2781-Bearbeitet-JD_v2_web.jpg');
    "
>
    <div class="row relative-pos-top" style="height: auto">
        <!-- The left col with right side margin -->
        <div class="col-lg-1 margin-pos-right"></div>
        <!-- The col for the titel text-->
        <div class="col-lg-4 relative-pos-top-titel-text">
            <div class="font-titel-text">Lorem <br />Ipsums</div>
            <!-- The col for the sub titel text-->
            <div class="col relative-pos-book-button">
                <div class="font-titel-sub-text">
                    Lorem ipsum dolor<br />sit amet, consectetur
                </div>
            </div>
        </div>
        <div class="col-lg-1 margin-pos-left"></div>
    </div>
</div>
<!-- Header background-image ends here -->

<!-- ######## Content first block starts here ########-->
<div class="row relative-pos-content-text" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>
    <div class="col">
        <div class="font-content-text">Cras vel metus<br />viverra est.</div>
        <div class="font-content-sub-text relative-pos-content-sub-text">
            sit amet fermentum felis.
        </div>
    </div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>
<!-- ######## Content first block ends here ########-->

<!-- ######## Content second block starts here ########-->
<div class="row relative-pos-card-top-bottom" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>
<!-- ######## Content second block ends here ########-->

<!-- ######## Content third block starts here ########-->
<div class="row relative-pos-card-top-bottom" style="height: auto">
    <div class="col-lg-1 margin-pos-right"></div>
    <div class="col book-content-text">
        <img
            src="../../static/main/assets/img/book/Buch-von-Lijana.PNG"
            class="float-start imgshadow"
            alt=""
        />
    </div>
    <div class="col book-content-text">
        <p>
            ‚Ab jetzt höre ich nur noch auf mein Herz und deswegen verzichte ich
            auf das Finale, denn love always wins‘, sagte ich im Finale von
            Germany’s next Topmodel und obwohl ich wusste, dass das Thema
            wichtig ist für das ich einstehe, wusste ich damals noch nicht,
            wohin mich der Weg führen sollte. Monate des Hasses lagen hinter mir
            und der geriet gefährlich außer Kontrolle. Ich sei ein Einzelfall,
            wurde mir anfangs immer wieder gesagt, doch mir kam der Hass im Netz
            dafür viel zu routiniert vor.
        </p>
    </div>

    <div class="col"></div>
    <div class="col"></div>
    <div class="col-lg-1 margin-pos-left"></div>
</div>
<!-- ######## Content third block ends here ########-->
