{% load static %}
<nav class="nav main-menu">
    <div class="container">
        <ul class="main-menu_list">
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-root' %}">Home</a>
            </li>
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-about' %}"
                    >Lijana</a
                >
            </li>
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-portalhelp' %}"
                    >Cybermobbing</a
                >
            </li>
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-gallery' %}"
                    >Schulbesuche</a
                >
            </li>
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-school' %}"
                    >Projekte</a
                >
            </li>
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-book' %}">Buch</a>
            </li>
            <li class="main-menu_item">
                <a class="main-menu_link" href="{% url 'main-donate' %}"
                    >Spende</a
                >
            </li>
        </ul>
    </div>
</nav>

<!-- document.querySelectorAll('a[href="'+document.URL+'"]').forEach(function(elem){elem.className
+= ' current-link')}); -->
