{% load static %}
<div class="row">
    <nav
        margin-top:
        0px
        class="navbar navbar-expand-lg bg-body-tertiary"
        style="z-index: 2; max-height: 52px; margin: 0; padding: 0"
    >
        <div class="container-fluid law_main">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="col-sm-8 collapse navbar-collapse"
                id="navbarSupportedContent"
            >
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- Home menu point starts here-->
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="{% url 'main-home' %}"
                            >HOME</a
                        >
                    </li>

                    <!-- Lijana menu point-->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            LIJANA
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-about' %}"
                                    >Das bin ich</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-setcard' %}"
                                    >Setcard</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-autogram' %}"
                                    >Autogramme</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- Lijana menu point ends here-->

                    <!-- CYBERMOBBING menu point starts here-->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            CYBERMOBBING
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-portalhelp' %}"
                                    >Hilfestellenportal</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-poesiealbum' %}"
                                    >Poesiealbum</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- CYBERMOBBING menu point ends here-->

                    <!-- SCHULBESUCHE menu point starts here-->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            SCHULBESUCHE
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-gallery' %}"
                                    >Bildergalerie</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-booking' %}"
                                    >Buchnungen</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- SCHULBESUCHE menu point ends here-->

                    <!-- PROJEKTE menu point starts here-->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            PROJEKTE
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-school' %}"
                                    >Schule in Uganda</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-coffee' %}"
                                    >Geruga Kaffee</a
                                >
                            </li>
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-donate' %}"
                                    >Unterstürze Uns</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- PROJEKTE menu point ends here-->

                    <!-- BUCH menu point starts here-->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main-book' %}"
                            >BUCH</a
                        >
                    </li>
                    <!-- BUCH menu point ends here-->

                    <!-- SPENDE menu point starts here-->
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            SPENDE
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a
                                    class="dropdown-item"
                                    href="{% url 'main-donate' %}"
                                    >So kannst du spenden</a
                                >
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Another action</a
                                >
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#"
                                    >Something else here</a
                                >
                            </li>
                        </ul>
                    </li>
                    <!-- SPENDE menu point ends here-->
                </ul>
            </div>
            <!-- Search form -->
            <div class="col-sm-4 d-flex align-items-center">
                <div
                    class="input-group d-flex align-items-center"
                    style="margin-left: 80px"
                >
                    <div id="navbar-search-autocomplete" class="form-outline">
                        <input type="search" id="form1" class="form-control" />
                        <!-- <label class="form-label" for="form1">Search</label> -->
                    </div>
                    <button type="button" class="btn btn-info">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div>
