{% load static %}
<container class="container">
    <div class="main-menu">
        <div class="main">
            <div class="menu">
                <div class="menu__item">
                    <a class="menu__item-link" href="{% url 'main-home' %}"
                        >Home</a
                    >
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="#">Lijana</a>
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="#">Cybermobbing</a>
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a
                        class="menu__item-link"
                        href="{% url 'main-schulbesuche' %}"
                        >Schulbesuche</a
                    >
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="#">Projekte</a>
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="{% url 'main-book' %}"
                        >Buch</a
                    >
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="{% url 'main-donate' %}"
                        >Spende</a
                    >
                </div>
                <div class="menu__heart">
                    <i class="fa fa-heart fa-sm" aria-hidden="true"></i>
                </div>
                <div class="menu__item">
                    <a class="menu__item-link" href="{% url 'main-contact' %}"
                        >Kontakt</a
                    >
                </div>
                <!-- <div class="menu__item">
                    <a class="menu__item-link" href="#">Kontakt</a>
                </div> -->
            </div>
        </div>
    </div>
</container>
