{% extends "../main/base_generic.html" %} {% block content %}
<header
    class="masthead"
    style="
        background-image: url('../../static/main/assets/img/school/ntenjeru-unique-high-school.jpg');
    "
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>Lets Build Together</h1>
                    <span class="subheading">Coming Soon</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}
