{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="main-titel titel__bg-image">
    <div class="main">
        <div class="schulbesuche__titel">
            <h1>Schulbesuche</h1>

            <p>Mehr Selbstvertrauen für <br />eine bessere Zukunft</p>
        </div>
    </div>
    <div class="titel__image main-image-10">
        <img
            src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-Titelbild.jpg' %}"
            width="1920"
            height="700"
            alt="BG_Titel"
        />
    </div>
</div>
<div class="main-content">
    <div class="main">
        <div class="content">
            <div class="content__text">
                <h1>Mach dich stark!<br />Gemeinsam gegen Hass im Netz.</h1>
                <p>
                    <br />
                    <b>Medienkompetenz Workshops oder Vorträge mit Lijana.</b>
                    <br /><br />
                    Social Media ist aus unsere Gesellschaft nicht mehr
                    wegzudenken. Egal ob WhatsApp, Instagram oder Tik Tok - fast
                    90% der Menschen in Deutschland nutzen sie. Jede*r fünfte
                    Jugendliche erfährt dabei Cybermobbing. Das ist eine neue
                    Form von Gewalt, die für Betroffene psychische Störungen,
                    soziale Isolation, körperliche Beschwerden oder im
                    Extremfall Suizid zur Folge haben kann. Deswegen ist es so
                    wichtig, Cybermobbing zu verhindern, bevor es passiert.
                    Worauf es jetzt ankommt? Aufklären, sensibilisieren, stark
                    machen und gemeinsam Stellung gegen Cyberhass beziehen!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- ################## Schulbesuche ######################## -->

<div class="main-schulbesuche">
    <div class="main">
        <div class="schulbesuche">
            <div class="schulbesuche__image1">
                <img
                    src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-01.jpg' %}"
                    width="520"
                    height="300"
                    alt="schulbesuche-01"
                />
            </div>
            <div class="schulbesuche__text1">
                <h1>Das haben wir für euch:</h1>
                <ul>
                    <li>
                        Prävention gegen Cybermobbing für Schulen, Unternehmen,
                        Lehrende und Pädagog*innen
                    </li>
                    <li>Mitreißende Vorträge durch persönliche Erfahrungen</li>
                    <li>
                        Spannende interaktive Workshops mit Einsatz von
                        digitalen Medien
                    </li>
                    <li>
                        Authentische Vermittlung von Medienkompetenz durch
                        Lijana, die auch als Mindest Influencerin bekannt ist
                    </li>
                    <li>
                        Teilnahme an Podiumsdiskussion zum Thema digitale
                        Sicherheit
                    </li>
                    <li>
                        Lesung von Lijana aus ihrem Buch: „Du verdienst den
                        Tod!“
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="schulbesuche">
            <!-- <div class="schulbesuche__image">
                <img
                    src="{% static 'main/assets/img/new/schulbesuche/schulbesuche-03.jpg' %}"
                    width="100%"
                    alt="schulbesuche-03"
                />
            </div> -->
            <div class="schulbesuche__text2">
                <h1>Inhalte:</h1>
                <ul>
                    <li>Was steckt hinter Reality TV?</li>
                    <li>Persönliche Erfahrungen mit Cybermobbing</li>
                    <li>Strukturen von Cybermobbing</li>
                    <li>Was kann man gegen Cybermobbing tun?</li>
                    <li>Selbstvertrauen als Resilienz gegen Cybermobbing</li>
                    <li>Gefahren und Chancen von Social Media</li>
                </ul>

                <div class="button-buchen1">
                    <a href="{% url 'main-contact' %}">
                        <img
                            src="{% static 'main/assets/img/new/schule/Button-Pfeil-jetzt-Buchen.svg' %}"
                            width="300"
                            height="180"
                            alt="Button-Pfeil-jetzt-Buchen"
                        />
                    </a>
                </div>
            </div>
            <div class="schulbesuche__image2">
                <img
                    src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-03.jpg' %}"
                    width="520"
                    height="300"
                    alt="schulbesuche-03"
                />
            </div>
        </div>
    </div>
    <div class="main">
        <div class="termin">
            <div class="card border-0" style="width: 170px">
                <img
                    class="card-img-top"
                    src="{% static 'main/assets/img/new/schule/Icon-Termin.svg' %}"
                    alt="TERMIN image"
                />
                <div class="card-body">
                    <h5 class="card-title">TERMIN</h5>
                    <p class="card-text">
                        Den Termin können Sie individuell mit uns abstimmen
                    </p>
                    <!-- <div style="text-align: center">
                        <a href="#" class="btn btn-primary">Go TERMIN</a>
                    </div> -->
                </div>
            </div>
            <div class="card border-0" style="width: 175px">
                <img
                    class="card-img-top"
                    src="{% static 'main/assets/img/new/schule/Icon-Dauer.svg' %}"
                    alt="DAUER image"
                />
                <div class="card-body">
                    <h5 class="card-title">DAUER</h5>
                    <p class="card-text">
                        Halb Tag <br />( bis zu 3 Stunden)<br />
                        Ein-Tages-Programm <br />(bis zu 6 Stunden)<br />
                        Wochen-Programm<br />
                        (bis zu 5 Tagen)
                    </p>
                    <!-- <div style="text-align: center">
                        <a href="#" class="btn btn-primary">Go DAUER</a>
                    </div> -->
                </div>
            </div>
            <div class="card border-0" style="width: 170px">
                <img
                    class="card-img-top"
                    src="{% static 'main/assets/img/new/schule/Icon-Kosten.svg' %}"
                    alt="KOSTEN image"
                />
                <div class="card-body">
                    <h5 class="card-title">KOSTEN</h5>
                    <p class="card-text">Kosten nach Anfrage.</p>
                    <!-- <div style="text-align: center">
                        <a href="#" class="btn btn-primary">Go KOSTEN</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="schulbesuche">
            <div class="schulbesuche__image3">
                <img
                    src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-02.jpg' %}"
                    width="580"
                    height="320"
                    alt="schulbesuche-02"
                />
            </div>
            <div class="schulbesuche__text3">
                <h1>Zum Ablauf:</h1>
                <p>
                    Den Ablauf eines unserer Angebote gestalten wir entsprechend
                    der Bedürfnisse Ihrer Schule, Ihres Unternehmens oder Ihres
                    Vereins. Sowohl die konkreten Inhalte, die Dauer als auch
                    die Art des Angebots können von Ihnen mitgestaltet werden.
                    Auf Anfrage geben wir Ihnen diesbezüglich Vorschläge für
                    unseren Besuch. Grundsätzlich empfehlen wir Workshops in
                    Gruppen von bis zu 50 Teilnehmenden. Lesungen und Vorträge
                    sind auch für eine hohe Anzahl an Teilnehmenden geeignet.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="schulbesuche-reasonwhy">
    <div class="main">
        <div class="reason-titel">
            <h1>Reason Why</h1>
        </div>
    </div>
    <div class="main flex-row">
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Vortrag-Klasse.svg' %}"
                    width="100"
                    alt="REASON1"
                />
            </div>
            <div class="reason__text">
                <p>
                    Den Teilnehmenden wird eine neue <br />Sichtweise auf das
                    Thema Cybermobbing<br />
                    geboten, da unsere Vorträge von<br />
                    persönlichen Erfahrungen leben.
                </p>
            </div>
        </div>
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Social-Media.svg' %}"
                    width="90"
                    alt="REASON2"
                />
            </div>
            <div class="reason__text">
                <p>
                    Social Media ist ein beliebtes und <br />alltägliches Tool
                    für viele Menschen. <br />Ein reflektierter Umgang damit,
                    ist<br />
                    nicht nur wichtig für sich selbst, <br />sondern auch für
                    die gesamte <br />Gesellschaft.
                </p>
            </div>
        </div>
    </div>
    <div class="main flex-row">
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Micro.svg' %}"
                    width="80"
                    alt="REASON3"
                />
            </div>
            <div class="reason__text">
                <p>
                    Kommunikation hat eine neue Ebene-<br />Social Media. Jetzt
                    ist nicht nur der richtige<br />
                    Umgang mit den Medien, sondern auch der<br />richtige Umgang
                    mit einander auf den<br />
                    Plattformen entscheidend.
                </p>
            </div>
        </div>
        <div class="reason">
            <div class="reason__image">
                <img
                    src="{% static 'main/assets/img/new/schule/Icon-Mobbing.svg' %}"
                    width="90"
                    alt="REASON4"
                />
            </div>
            <div class="reason__text">
                <p>
                    Die Auswirkungen von Cybermobbing<br />können gravierend für
                    Betroffene sein.<br />Umso wichtiger ist es zu handeln,
                    bevor<br />etwas passiert!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main-schulbesuche">
    <div class="main">
        <div class="schulbesuche2">
            <div class="schulbesuche__text5">
                <p>
                    Lijana litt aufgrund der Ausstrahlung bei Germany’s next
                    Topmodel selber unter extremem Cybermobbing. Daraufhin
                    bildete Sie sich im Bereich digitale Gewalt fort, arbeitete
                    sie mit großen Organisationen und mit Expert*innen auf
                    diesem Gebiet zusammen und entwickelte gemeinsam mit Ihnen
                    dieses Programm.
                </p>
                <div class="button-buchen2" style="text-align: center">
                    <a href="{% url 'main-contact' %}">
                        <img
                            src="{% static 'main/assets/img/new/schule/Button-Pfeil-jetzt-Buchen-2.svg' %}"
                            alt="Button-Pfeil-jetzt-Buchen"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ######## X ########## Schulbesuche ########## X ############## -->

<!-- ##################################### -->
{% endblock %}
