{% extends "../main/base_generic_new_version.html" %}
<!-- ######################## -->
{% load static %}
<!-- ######################### -->
{% block content %}
<!-- ######################### -->

<div class="main-titel titel__bg-image">
    <div class="main">
        <div class="schulbesuche__titel">
            <h1>
                <h1>Love Always<br />Wins e.V.</h1>
            </h1>

            <p>Jetzt auch bei euch</p>
        </div>
    </div>
    <div class="titel__image main-image-10">
        <img
            src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-Titelbild.jpg' %}"
            width="1920"
            height="700"
            alt="BG_Titel"
        />
    </div>
</div>
<div class="main-content">
    <div class="main">
        <div class="row" style="text-align: justify">
            <div class="col-sm-12">
                <h2>Mach dich stark!<br />Gemeinsam gegen Hass im Netz.</h2>

                <p>
                    Social Media ist aus unsere Gesellschaft nicht mehr
                    wegzudenken. Egal ob WhatsApp, Instagram oder Tik Tok - fast
                    90% der Menschen in Deutschland nutzen sie. Jede*r fünfte
                    Jugendliche erfährt dabei Cybermobbing. Das ist eine neue
                    Form von Gewalt, die für Betroffene psychische Störungen,
                    soziale Isolation, körperliche Beschwerden oder im
                    Extremfall Suizid zur Folge haben kann. Deswegen ist es so
                    wichtig, Cybermobbing zu verhindern, bevor es passiert.
                    Worauf es jetzt ankommt? Aufklären, sensibilisieren, stark
                    machen und gemeinsam Stellung gegen Cyberhass beziehen!
                </p>
            </div>
        </div>
    </div>
</div>
<!-- ################## Schulbesuche ######################## -->

<div class="main-schulbesuche">
    <!-- ######################################################################################### -->
    <!-- ######################################################################################### -->
    <div class="main">
        <div class="row">
            <div class="col-sm-12">
                <br /><br />
                <img
                    class="float-start img-fluid"
                    style="margin-right: 40px; margin-bottom: 40px"
                    src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-01.jpg' %}"
                    width="560"
                    height="321"
                    alt="schulbesuche-01"
                />

                <h3 class="align-top">Das haben wir für euch:</h3>

                <!-- text-align: top; -->

                <ul>
                    <li>Medienkompetenz Workshops oder Vorträge mit Lijana</li>

                    <li>
                        Prävention gegen Cybermobbing für Schulen, Unternehmen,
                        Lehrende und Pädagog*innen
                    </li>
                    <li>Mitreißende Vorträge durch persönliche Erfahrungen</li>
                    <li>
                        Spannende interaktive Workshops mit Einsatz von
                        digitalen Medien
                    </li>
                    <li>
                        Authentische Vermittlung von Medienkompetenz durch
                        Lijana, die auch als Mindest Influencerin bekannt ist
                    </li>
                    <li>
                        Teilnahme an Podiumsdiskussion zum Thema digitale
                        Sicherheit
                    </li>
                    <li>
                        Lesung von Lijana aus ihrem Buch: „Du verdienst den
                        Tod!“
                    </li>
                </ul>
            </div>
        </div>

        <!-- ######################################################################################### -->

        <div class="row">
            <div class="col-sm-12">
                <img
                    class="float-end img-fluid"
                    style="margin-left: 40px; margin-bottom: 40px"
                    src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-03.jpg' %}"
                    width="560"
                    alt="schulbesuche-0"
                    loading="lazy"
                />
                <h3>Inhalte:</h3>

                <ul>
                    <li>Was steckt hinter Reality TV?</li>
                    <li>Persönliche Erfahrungen mit Cybermobbing</li>
                    <li>Strukturen von Cybermobbing</li>
                    <li>Was kann man gegen Cybermobbing tun?</li>
                    <li>Selbstvertrauen als Resilienz gegen Cybermobbing</li>
                    <li>Gefahren und Chancen von Social Media</li>
                </ul>
                <div class="cyber_button_left">
                    <a href="{% url 'main-contact' %}">
                        <img
                            src="{% static 'main/assets/img/new/schule/Button-Pfeil-jetzt-Buchen.svg' %}"
                            width="300"
                            alt="Button-Pfeil-jetzt-Buchen"
                            class="responsive"
                        />
                    </a>
                </div>

                <br /><br />
            </div>
        </div>
        <!-- ######################################################################################### -->
        <!-- ######################################################################################### -->

        <div class="row top2p">
            <div class="col-sm-4">
                <div class="card border-0" style="width: 200px">
                    <img
                        class="card-img-top"
                        src="{% static 'main/assets/img/new/schule/Icon-Termin.svg' %}"
                        alt="TERMIN image"
                    />
                    <div class="card-body">
                        <h5 class="card-title">TERMIN</h5>
                        <p class="card-text">
                            Den Termin können Sie individuell mit uns abstimmen.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0" style="width: 200px">
                    <img
                        class="card-img-top"
                        src="{% static 'main/assets/img/new/schule/Icon-Dauer.svg' %}"
                        alt="DAUER image"
                    />
                    <div class="card-body">
                        <h5 class="card-title">DAUER</h5>
                        <p class="card-text">
                            Halb Tag <br />( bis zu 3 Stunden)<br />
                            Ein-Tages-Programm <br />(bis zu 6 Stunden)<br />
                            Wochen-Programm<br />
                            (bis zu 5 Tagen)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card border-0" style="width: 200px">
                    <img
                        class="card-img-top"
                        src="{% static 'main/assets/img/new/schule/Icon-Kosten.svg' %}"
                        alt="KOSTEN image"
                    />
                    <div class="card-body">
                        <h5 class="card-title">KOSTEN</h5>
                        <p class="card-text">Kosten nach Anfrage.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- ######################################################################################### -->
        <!-- <div class="row top2p"> -->

        <div class="row" style="text-align: justify">
            <div class="col-sm-12">
                <br />
                <br />
                <img
                    class="float-start img-fluid"
                    style="margin-right: 20px; margin-bottom: 10px"
                    src="{% static 'main/assets/img/new/schulbesuche/Schulbesuche-02.jpg' %}"
                    width="560"
                    alt="schulbesuche-01"
                />

                <h3>Zum Ablauf:</h3>

                <p>
                    Den Ablauf eines unserer Angebote gestalten wir entsprechend
                    der Bedürfnisse Ihrer Schule, Ihres Unternehmens oder Ihres
                    Vereins. Sowohl die konkreten Inhalte, die Dauer als auch
                    die Art des Angebots können von Ihnen mitgestaltet werden.
                    Auf Anfrage geben wir Ihnen diesbezüglich Vorschläge für
                    unseren Besuch. Grundsätzlich empfehlen wir Workshops in
                    Gruppen von bis zu 50 Teilnehmenden. Lesungen und Vorträge
                    sind auch für eine hohe Anzahl an Teilnehmenden geeignet.
                </p>
            </div>
        </div>
    </div>

    <!-- ######################################################################################### -->

    <div class="schulbesuche-reasonwhy top2p">
        <div class="main">
            <div class="row">
                <div class="col-sm-3">
                    <div class="content__text">
                        <h3><br />Reason Why</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="reason__image">
                                <img
                                    src="{% static 'main/assets/img/new/schule/Icon-Vortrag-Klasse.svg' %}"
                                    width="120"
                                    alt="REASON1"
                                    class="responsive"
                                />
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="content__text">
                                <p>
                                    Den Teilnehmenden wird eine neue Sichtweise
                                    auf das Thema Cybermobbing geboten, da
                                    unsere Vorträge von persönlichen Erfahrungen
                                    leben.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="reason__image">
                                <img
                                    src="{% static 'main/assets/img/new/schule/Icon-Social-Media.svg' %}"
                                    width="120"
                                    alt="REASON2"
                                    class="responsive"
                                />
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="content__text">
                                <p>
                                    Social Media ist ein beliebtes und
                                    alltägliches Tool für viele Menschen. Ein
                                    reflektierter Umgang damit, ist nicht nur
                                    wichtig für sich selbst, sondern auch für
                                    die gesamte Gesellschaft.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ######################################################################################### -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="reason__image">
                                <img
                                    src="{% static 'main/assets/img/new/schule/Icon-Micro.svg' %}"
                                    width="90"
                                    alt="REASON3"
                                    class="responsive"
                                />
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="content__text">
                                <p>
                                    Kommunikation hat eine neue Ebene-Social
                                    Media. Jetzt ist nicht nur der richtige
                                    Umgang mit den Medien, sondern auch der
                                    richtige Umgang mit einander auf den
                                    Plattformen entscheidend.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="reason__image">
                                <img
                                    src="{% static 'main/assets/img/new/schule/Icon-Mobbing.svg' %}"
                                    width="120"
                                    alt="REASON4"
                                    class="responsive"
                                />
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="content__text">
                                <p>
                                    Die Auswirkungen von Cybermobbing können
                                    gravierend für Betroffene sein. Umso
                                    wichtiger ist es zu handeln, bevor etwas
                                    passiert!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ######################################################################################### -->
    <div class="cybermobbing">
        <div class="main">
            <div class="row top2p">
                <div class="col-sm-12">
                    <div class="content__text text-center">
                        <h3>
                            Lijana litt aufgrund der Ausstrahlung bei Germany’s
                            next Topmodel selber unter extremem Cybermobbing.
                            Daraufhin bildete Sie sich im Bereich digitale
                            Gewalt fort, arbeitete sie mit großen Organisationen
                            und mit Expert*innen auf diesem Gebiet zusammen und
                            entwickelte gemeinsam mit Ihnen dieses Programm.
                        </h3>
                        <div class="cyber_button_center">
                            <a href="{% url 'main-contact' %}">
                                <img
                                    src="{% static 'main/assets/img/new/schule/Button-Pfeil-jetzt-Buchen-2.svg' %}"
                                    width="500"
                                    alt="Button-Pfeil-jetzt-Buchen"
                                    class="responsive"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
